<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>错峰生产执行情况表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="./../../../layuiadmin/plugin/element.css">
    <style>
        .AdminArea {
            position: relative;
        }

        .AdminArea .Areashow {
            position: absolute;
            width: 100%;
            border: 1px solid #e6e6e6;
            /* border-radius: 4px; */
            z-index: 999;
            /* height: 200px; */
            background-color: #fff;

        }

        .AdminArea .layui-icon {
            cursor: pointer;
            color: #c2c2c2;
        }
    </style>
</head>

<body>
    <div id="vm">
        <div class="layui-fluid">
            <div class="layui-card">
                <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">时间</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" v-model="startDate" id="startDate" name="startCreateDate" placeholder="请输入开始日期">
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" v-model="endDate" id="endDate" name="endCreateDate" placeholder="请输入结束日期">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">行政区域</label>
                            <div class="layui-input-inline AdminArea">
                                <input type="text" name="atraCode" v-model="atraName" placeholder="请选择行政区域" autocomplete="off" class="layui-input">
                                <i class="layui-icon layui-icon-triangle-d" @click="AdminFocus"></i>
                                <div class="Areashow layui-anim layui-anim-upbit" v-show="Areashow">
                                    <el-tree :highlight-current="treeHign" :data="treeData" :props="defaultProps" @node-click="handleNodeClick"></el-tree>
                                </div>
                            </div>

                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">所属行业</label>
                            <div class="layui-input-inline">
                                <select name="trade" id="tradeName" lay-filter="tradeName" lay-verify="">
                                    <option value="">请选择所属行业</option>
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">企业名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="enterpriseName" v-model="enterpriseName" placeholder="请输入企业名称" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-search">
                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                            </button>
                            <button class="layui-btn layui-btn-warm" @click="downloadClick">
                                <i class="layui-icon layui-icon-download-circle layuiadmin-button-btn"></i>
                                导出
                            </button>
                        </div>
                    </div>
                </div>

                <div class="layui-card-body">
                    <!--  <div style="padding-bottom: 10px;">
                                <button class="layui-btn layuiadmin-btn-list" data-type="add">添加</button>
                                <button class="layui-btn layuiadmin-btn-list" data-type="edit">编辑</button>
                                <button class="layui-btn layuiadmin-btn-list" data-type="batchdel">删除</button>
                            </div> -->
                    <table id="LAY-app-content-list" lay-filter="LAY-app-content-list"></table>
                </div>
            </div>
        </div>
    </div>

    <script src="../../../layuiadmin/layui/layui.js"></script>
    <script src="../../../layuiadmin/plugin/vue.js"></script>
    <script src="../../../layuiadmin/plugin/axios.js"></script>
    <script src="./../../../layuiadmin/plugin/element.js"></script>
    <script src="./../../../layuiadmin/js/baseUrlConfig.js"></script>
    <script>
        layui.config({
            base: '../../../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'table', 'form', 'laydate'], function () {
            var table = layui.table,
                form = layui.form,
                laydate = layui.laydate;
            //时间日期
            laydate.render({
                elem: '#startDate',
                format: 'yyyy-MM-dd'
            });
            laydate.render({
                elem: '#endDate',
                format: 'yyyy-MM-dd'
            });

            // 行业管理select框填充
            axios({
                method: "post",
                url: layui.setter.BASEURL + 'environmental_intelligent_monitoring/tbastrade/list?limit=10000',
                params: {}
            }).then(function (res) {
                if (res.data.code == 0) {
                    $.each(res.data.page.list, function (index, item) {
                        // console.log(index, item)
                        $('#tradeName').append(new Option(item.name, item.name));// 下拉菜单里添加元素
                    });
                    form.render("select");

                } else {

                }
            }).catch(function (err) {
                console.log(err);
            });
            // 监听行业select
            form.on('select(tradeName)', function (data) {
                console.log(data);
                vm.trade = data.value;

            })




            table.render({
                elem: '#LAY-app-content-list'
                , height: 555 //容器高度
                , url: layui.setter.BASEURL + '/environmental_intelligent_monitoring/twrpimplementation/list' //数据接口
                , page: true
                , parseData: function (res) { // 数据重新处理为layUI的数据格式
                    var msg = {
                        "code": res.code, //解析接口状态
                        "msg": res.msg, //解析提示文本
                        "count": res.page.totalCount, //解析数据长度
                        "data": res.page.list //解析数据列表
                    };
                    return msg;
                }
                , cols: [[
                    // { checkbox: true },
                    // { title: '', field: 'id', minWidth: 100 },
                    // { title: '行政区划', field: 'atracode', minWidth: 100 },
                    // { title: '行业', field: 'trade', minWidth: 100 },
                    // { title: '企业ID', field: 'enterpriseid', minWidth: 100 },
                    { title: '企业名称', field: 'enterpriseName', minWidth: 100 },
                    { title: '时间', field: 'tDateTime', minWidth: 100 },
                    { title: '目标负荷', field: 'targetLoad', minWidth: 100 },
                    { title: '当天负荷', field: 'nowaDaysLoad', minWidth: 100 },
                    { title: '是否违规', field: 'violation', minWidth: 100 }]] //设置表头
                , limit: 10
                , limits: [10, 15, 20, 25, 30]
                , done: function (res, page, count) {
                    $("[data-field='violation']").children().each(function () {
                        if ($(this).text() == '1') {
                            $(this).text("是")
                        } else if ($(this).text() == '0') {
                            $(this).text("否")
                        }
                    })
                }
            });

            //监听搜索
            form.on('submit(LAY-app-contlist-search)', function (data) {
                console.log(data)
                var field = data.field;

                //执行重载
                table.reload('LAY-app-content-list', {
                    where: field
                });
            });

            var $ = layui.$,
                active = {
                    batchdel: function () {
                        var checkStatus = table.checkStatus('LAY-app-content-list'),
                            checkData = checkStatus.data; //得到选中的数据

                        if (checkData.length === 0) {
                            return layer.msg('请选择数据');
                        }

                        layer.confirm('确定删除吗？', function (index) {

                            //执行 Ajax 后重载
                            /*
                            admin.req({
                              url: 'xxx'
                              //,……
                            });
                            */
                            table.reload('LAY-app-content-list');
                            layer.msg('已删除');
                        });
                    },
                    add: function () {
                        layer.open({
                            type: 2,
                            title: '添加文章',
                            content: 'listform.html',
                            maxmin: true,
                            area: ['550px', '550px'],
                            btn: ['确定', '取消'],
                            yes: function (index, layero) {
                                //点击确认触发 iframe 内容中的按钮提交
                                var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit");
                                submit.click();
                            }
                        });
                    },
                    edit: function () {

                    }
                };

            $('.layui-btn.layuiadmin-btn-list').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

        });

        var vm = new Vue({
            el: "#vm",
            data: {
                Areashow: false,
                treeHign: true,
                treeData: [],
                defaultProps: {
                    children: 'children',
                    label: 'label'
                },
                atraName: "",
                startDate: "",
                endDate: "",
                trade: "",
                enterpriseName: ""

            },
            methods: {
                AdminFocus() {
                    vm.Areashow = !vm.Areashow;
                },
                treeDataInit() {
                    axios({
                        method: "post",
                        url: BASEURL + 'environmental_intelligent_monitoring/tbasorganize/list?limit=10000',
                        params: {
                            parentId: 0
                        }
                    }).then(function (res) {
                        if (res.data.code == 0) {

                            vm.treeData = [];
                            // vm.treeData = res.data.page.list;
                            var data = res.data.page.list;

                            for (var i = 0; i < data.length; i++) {
                                var obj = {};
                                obj.label = data[i].name;
                                obj.id = data[i].id;
                                obj.parentId = data[i].parentId;
                                obj.children = [];
                                vm.treeData.push(obj);
                            }


                        } else {

                        }
                    }).catch(function (err) {
                        console.log(err);
                    });

                },
                handleNodeClick(data, node) {
                    console.log(data);
                    vm.atraName = data.label;
                    vm.treeHign = true;
                    // console.log(node.parent.childNodes[0].parent.data.label)
                    /*    var localname = node.parent.childNodes[0].parent.data.label === undefined ? '无上级目录' : node.parent.childNodes[0].parent.data.label;
                       localStorage.setItem("nodeParentName", localname) */
                    axios({
                        method: "post",
                        url: BASEURL + 'environmental_intelligent_monitoring/tbasorganize/list?limit=10000',
                        params: {
                            parentId: data.id
                        }
                    }).then(function (res) {
                        if (res.data.code == 0) {

                            // vm.treeData = res.data.page.list;
                            var treedata = res.data.page.list;
                            // console.log(treedata)
                            // for (var i = 0; i < vm.treeData.length; i++) {
                            data.children = [];
                            for (var j = 0; j < treedata.length; j++) {

                                // if (vm.treeData[i].id == data[j].parentId) {
                                if (data.id == treedata[j].parentId) {
                                    // console.log(treedata[j])
                                    let obj = {
                                        label: treedata[j].name,
                                        id: treedata[j].id,
                                        parentId: treedata[j].parentId,
                                        children: []
                                    };
                                    data.children.push(obj);
                                }
                            }
                            // }


                        } else {
                            vm.$notify.error({
                                title: '错误',
                                message: res.data.msg
                            });
                        }
                    }).catch(function (err) {
                        console.log(err);
                    });
                },

                // 导出
                downloadClick() {
                    console.log(vm.startDate, vm.endDate, vm.atraName, vm.trade, vm.enterpriseName)
                    location =
                        BASEURL +
                        "environmental_intelligent_monitoring/twrpimplementation/exportWord?" +
                        "startCreateDate=" + vm.startDate +
                        "&" + "endCreateDate=" + vm.endDate +
                        "&" + "organizeName=" + vm.atraName +
                        "&" + "trade=" + vm.trade +
                        "&" + "enterpriseName=" + vm.enterpriseName;
                    // console.log('1111');
                    // axios({
                    //     method: "get",
                    //     url: BASEURL + 'environmental_intelligent_monitoring/twrpimplementation/exportWord',
                    // }).then(function (res) {

                    // }).catch(function (err) {
                    //     console.log(err);
                    // });
                }
            },
            created() {
                this.treeDataInit();
            }
        });
    </script>
</body>

</html>