<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>能耗统计</title>
    <link rel="stylesheet" href="./../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="./../../../layuiadmin/style/admin.css" media="all">
    <style>
        .energyMain {
            padding: 10px;
        }

        .head {
            border-top: 1px solid #23C6C8;
            border-bottom: 1px solid #23C6C8;
            padding: 6px;
        }

        .head .active {
            background-color: #fff;
            color: gray;
        }

        .head button {
            display: inline-block;
            height: 38px;
            line-height: 38px;
            padding: 0 18px;
            background-color: #23c6c8;
            white-space: nowrap;
            text-align: center;
            font-size: 14px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
            color: #fff;
            /* border-radius: 4px; */
        }

        .mainContent .title {
            padding: 6px;
            height: 50px;
            line-height: 50px;
            background-color: rgba(35, 198, 200, 0.4);
        }

        .mainContent .title .layui-icon-note,
        .mainContent .title .layui-icon-component,
        .mainContent .title .layui-icon-location {
            font-size: 20px;
            font-weight: 700;
            margin-right: 6px;
        }

        .mainContent .bottomContent {
            /* width: 100%; */
            padding: 10px;
        }

        .mainContent .bottomContent .left {
            width: 30%;
            float: left;
        }

        .mainContent .bottomContent .right {
            width: 70%;
            float: left;
        }

        .layui-card {
            width: 300px;
        }

        .layuiadmin-span-color {
            top: 0;
        }

        .layui-col-md12,
        .layui-col-md4 {
            margin-bottom: 10px;
        }
        .layui-col-md4 .layui-card {
            width: 170px;
        }

        .layuiadmin-card-list {
            padding: 10px;
        }

        .layui-card-header {
            height: 36px;
            line-height: 36px;
        }

        .layuiadmin-card-list p.layuiadmin-big-font {
            font-size: 28px;
            padding: 10px 0 0 0;
        }
    </style>
</head>

<body>
    <div id="vm">
        <div class="energyMain">
            <div class="head">
                <button type="button" :class="{'active': energyShow == 1}" @click="energyShow = 1">企业</button>
                <button type="button" :class="{'active': energyShow == 2}" @click="energyShow = 2">行业</button>
                <button type="button" :class="{'active': energyShow == 3}" @click="energyShow = 3">行政区域</button>
            </div>
            <div class="mainContent">
                <div v-show="energyShow==1">
                    <div class="title">
                        <span class="layui-icon layui-icon-note"></span>
                        <div class="layui-inline layui-form">
                            <div class="layui-input-inline">
                                <select name="">
                                    <option value="">请选择企业</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <select name="">
                                    <option value="">请选择监测点</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="bottomContent">
                        <!-- 功率 -->
                        <div class="layui-row">
                            <div class="layui-col-md3">
                                <div class="layui-row grid-demo">
                                    <span>功率峰值</span>
                                    <div class="layui-col-md12">
                                        <div class="grid-demo grid-demo-bg2">
                                            <div class="layui-card">
                                                <div class="layui-card-header">
                                                    今日
                                                    <span class="layui-badge layui-bg-green layuiadmin-badge">日</span>
                                                </div>
                                                <div class="layui-card-body layuiadmin-card-list">
                                                    <p class="layuiadmin-big-font">9,999,666</p>
                                                    <!-- <p> -->

                                                    <span class="layuiadmin-span-color">
                                                        <i class="layui-inline layui-icon layui-icon-date"></i> 12:02
                                                    </span>
                                                    <!-- </p> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-md12">
                                        <div class="grid-demo grid-demo-bg3">
                                            <!-- <span>功率峰值</span> -->
                                            <div class="layui-col-md12">
                                                <div class="grid-demo grid-demo-bg2">
                                                    <div class="layui-card">
                                                        <div class="layui-card-header">
                                                            昨日
                                                            <span class="layui-badge layui-bg-green layuiadmin-badge">日</span>
                                                        </div>
                                                        <div class="layui-card-body layuiadmin-card-list">
                                                            <p class="layuiadmin-big-font">9,999,666</p>
                                                            <!-- <p> -->

                                                            <span class="layuiadmin-span-color">
                                                                <i class="layui-inline layui-icon layui-icon-date"></i> 12:02
                                                            </span>
                                                            <!-- </p> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layui-col-md12">
                                        <span>用电量峰值</span>
                                        <div class="grid-demo grid-demo-bg2">
                                            <div class="layui-card">
                                                <div class="layui-card-header">
                                                    今日
                                                    <span class="layui-badge layui-bg-blue layuiadmin-badge">日</span>
                                                </div>
                                                <div class="layui-card-body layuiadmin-card-list">
                                                    <p class="layuiadmin-big-font">9,999,666</p>
                                                    <!-- <p> -->

                                                    <span class="layuiadmin-span-color">
                                                        <i class="layui-inline layui-icon layui-icon-date"></i> 12:02
                                                    </span>
                                                    <!-- </p> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-md12">
                                        <div class="grid-demo grid-demo-bg3">
                                            <div class="layui-card">
                                                <div class="layui-card-header">
                                                    昨日
                                                    <span class="layui-badge layui-bg-blue layuiadmin-badge">日</span>
                                                </div>
                                                <div class="layui-card-body layuiadmin-card-list">
                                                    <p class="layuiadmin-big-font">9,999,666</p>
                                                    <!-- <p> -->

                                                    <span class="layuiadmin-span-color">
                                                        <i class="layui-inline layui-icon layui-icon-date"></i> 12:02
                                                    </span>
                                                    <!-- </p> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md9">
                                <div class="layui-row grid-demo grid-demo-bg1">
                                    <span>功率曲线</span>
                                    <div style="width:100%; height: 500px;" id="energyId"></div>
                                </div>
                            </div>
                        </div>
                        <!-- 电能环比 -->

                        <div class="layui-row">
                            <div class="layui-col-md5">
                                <span>电能环比</span>
                                <div class="layui-row grid-demo">
                                    <div class="layui-col-md4">
                                        <div class="grid-demo grid-demo-bg2">
                                            <div class="layui-card">
                                                <div class="layui-card-header">
                                                    今日
                                                    <span class="layui-badge layui-bg-green layuiadmin-badge">日</span>
                                                </div>
                                                <div class="layui-card-body layuiadmin-card-list">
                                                    <p class="layuiadmin-big-font">9,999,666</p>
                                                    <!-- <p> -->

                                                    <span class="layuiadmin-span-color">
                                                        <i class="layui-inline layui-icon layui-icon-date"></i> 12:02
                                                    </span>
                                                    <!-- </p> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-md4">
                                        <div class="grid-demo grid-demo-bg2">
                                            <div class="layui-card">
                                                <div class="layui-card-header">
                                                    今日
                                                    <span class="layui-badge layui-bg-green layuiadmin-badge">日</span>
                                                </div>
                                                <div class="layui-card-body layuiadmin-card-list">
                                                    <p class="layuiadmin-big-font">9,999,666</p>
                                                    <!-- <p> -->

                                                    <span class="layuiadmin-span-color">
                                                        <i class="layui-inline layui-icon layui-icon-date"></i> 12:02
                                                    </span>
                                                    <!-- </p> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-md4">
                                        <div class="grid-demo grid-demo-bg2">
                                            <div class="layui-card">
                                                <div class="layui-card-header">
                                                    今日
                                                    <span class="layui-badge layui-bg-green layuiadmin-badge">日</span>
                                                </div>
                                                <div class="layui-card-body layuiadmin-card-list">
                                                    <p class="layuiadmin-big-font">9,999,666</p>
                                                    <!-- <p> -->

                                                    <span class="layuiadmin-span-color">
                                                        <i class="layui-inline layui-icon layui-icon-date"></i> 12:02
                                                    </span>
                                                    <!-- </p> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layui-col-md4">
                                        <div class="grid-demo grid-demo-bg2">
                                            <div class="layui-card">
                                                <div class="layui-card-header">
                                                    今日
                                                    <span class="layui-badge layui-bg-green layuiadmin-badge">日</span>
                                                </div>
                                                <div class="layui-card-body layuiadmin-card-list">
                                                    <p class="layuiadmin-big-font">9,999,666</p>
                                                    <!-- <p> -->

                                                    <span class="layuiadmin-span-color">
                                                        <i class="layui-inline layui-icon layui-icon-date"></i> 12:02
                                                    </span>
                                                    <!-- </p> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-md4">
                                        <div class="grid-demo grid-demo-bg2">
                                            <div class="layui-card">
                                                <div class="layui-card-header">
                                                    今日
                                                    <span class="layui-badge layui-bg-green layuiadmin-badge">日</span>
                                                </div>
                                                <div class="layui-card-body layuiadmin-card-list">
                                                    <p class="layuiadmin-big-font">9,999,666</p>
                                                    <!-- <p> -->

                                                    <span class="layuiadmin-span-color">
                                                        <i class="layui-inline layui-icon layui-icon-date"></i> 12:02
                                                    </span>
                                                    <!-- </p> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-md4">
                                        <div class="grid-demo grid-demo-bg2">
                                            <div class="layui-card">
                                                <div class="layui-card-header">
                                                    今日
                                                    <span class="layui-badge layui-bg-green layuiadmin-badge">日</span>
                                                </div>
                                                <div class="layui-card-body layuiadmin-card-list">
                                                    <p class="layuiadmin-big-font">9,999,666</p>
                                                    <!-- <p> -->

                                                    <span class="layuiadmin-span-color">
                                                        <i class="layui-inline layui-icon layui-icon-date"></i> 12:02
                                                    </span>
                                                    <!-- </p> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layui-col-md4">
                                        <div class="grid-demo grid-demo-bg2">
                                            <div class="layui-card">
                                                <div class="layui-card-header">
                                                    今日
                                                    <span class="layui-badge layui-bg-green layuiadmin-badge">日</span>
                                                </div>
                                                <div class="layui-card-body layuiadmin-card-list">
                                                    <p class="layuiadmin-big-font">9,999,666</p>
                                                    <!-- <p> -->

                                                    <span class="layuiadmin-span-color">
                                                        <i class="layui-inline layui-icon layui-icon-date"></i> 12:02
                                                    </span>
                                                    <!-- </p> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-md4">
                                        <div class="grid-demo grid-demo-bg2">
                                            <div class="layui-card">
                                                <div class="layui-card-header">
                                                    今日
                                                    <span class="layui-badge layui-bg-green layuiadmin-badge">日</span>
                                                </div>
                                                <div class="layui-card-body layuiadmin-card-list">
                                                    <p class="layuiadmin-big-font">9,999,666</p>
                                                    <!-- <p> -->

                                                    <span class="layuiadmin-span-color">
                                                        <i class="layui-inline layui-icon layui-icon-date"></i> 12:02
                                                    </span>
                                                    <!-- </p> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-md4">
                                        <div class="grid-demo grid-demo-bg2">
                                            <div class="layui-card">
                                                <div class="layui-card-header">
                                                    今日
                                                    <span class="layui-badge layui-bg-green layuiadmin-badge">日</span>
                                                </div>
                                                <div class="layui-card-body layuiadmin-card-list">
                                                    <p class="layuiadmin-big-font">9,999,666</p>
                                                    <!-- <p> -->

                                                    <span class="layuiadmin-span-color">
                                                        <i class="layui-inline layui-icon layui-icon-date"></i> 12:02
                                                    </span>
                                                    <!-- </p> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="layui-col-md7">
                                <div class="layui-row grid-demo grid-demo-bg1">
                                    <span>电能趋势</span>
                                    <div style="width:100%; height: 350px;" id="electricityId"></div>
                                </div>
                            </div>
                        </div>

                        <!-- 用电排比 -->

                        <div class="layui-row">
                            <div class="layui-col-md12">
                                <span>用电排名</span>
                                <div class="layui-row grid-demo">

                                    <div style="width: 100%; height: 400px;" id="electricNum"></div>

                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
            <div v-show="energyShow==2">
                <div class="title">
                    <span class="layui-icon layui-icon-component"></span>
                    <div class="layui-inline layui-form">
                        <div class="layui-input-inline">
                            <select name="">
                                <option value="">请选择行业</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                            </select>
                        </div>

                    </div>
                </div>

            </div>
            <div v-show="energyShow==3">
                <div class="title">
                    <span class="layui-icon layui-icon-location"></span>
                    <div class="layui-inline layui-form">
                        <div class="layui-input-inline">
                            <select name="">
                                <option value="">请选择行政区域</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    </div>

    <script src="./../../../layuiadmin/layui/layui.js"></script>
    <script src="./../../../layuiadmin/plugin/vue.js"></script>
    <script src="./../../../layuiadmin/plugin/axios.js"></script>
    <script src="./../../../layuiadmin/js/baseUrlConfig.js"></script>
    <script>
        layui.config({
            base: '../../../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'form', 'table', 'jquery', 'laydate', 'echarts'], function () {
            var form = layui.form,
                table = layui.table,
                $ = layui.jquery,
                echarts = layui.echarts,
                laydate = layui.laydate;

            // 功率曲线
            var myCharts = echarts.init($("#energyId")[0]);

            var option = {
                xAxis: {
                    type: 'category',
                    data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    data: [820, 932, 901, 934, 1290, 1330, 1320],
                    type: 'line'
                }]
            };

            myCharts.setOption(option)

            // 电能趋势
            var electricity = echarts.init($("#electricityId")[0]);
            var option = {
                xAxis: {
                    type: 'category',
                    data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    data: [120, 200, 150, 80, 70, 110, 130],
                    type: 'bar'
                }]
            };
            electricity.setOption(option);

            // 用电排名
            var electricNum = echarts.init($("#electricNum")[0]);
            var labelRight = {
                normal: {
                    position: 'right'
                }
            };
            var option = {
                // title: {
                //     text: '交错正负轴标签',
                //     subtext: 'From ExcelHome',
                //     sublink: 'http://e.weibo.com/1341556070/AjwF2AgQm'
                // },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    top: 80,
                    bottom: 30
                },
                xAxis: {
                    type: 'value',
                    position: 'top',
                    splitLine: { lineStyle: { type: 'dashed' } },
                },
                yAxis: {
                    type: 'category',
                    axisLine: { show: false },
                    axisLabel: { show: false },
                    axisTick: { show: false },
                    splitLine: { show: false },
                    data: ['ten', 'nine', 'eight', 'seven']
                },
                series: [
                    {
                        name: '生活费',
                        type: 'bar',
                        stack: '总量',
                        label: {
                            normal: {
                                show: true,
                                formatter: '{b}'
                            }
                        },
                        data: [
                            {
                                value: 0.2
                            }, {
                                value: 0.5
                            }, {
                                value: 8
                            }, {
                                value: 6.2
                            },
                        ]
                    }
                ]
            };
            electricNum.setOption(option);

        });


        var vm = new Vue({
            el: "#vm",
            data: {
                energyShow: 1

            },
            methods: {}
        })
    </script>
</body>

</html>