<!DOCTYPE html>
<html class="x-admin-sm">

	<head>
		<meta charset="UTF-8">
		<title>新增企业管理</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
		<link rel="stylesheet" type="text/css" href="../../layuiadmin/layui/css/layui.css" />
		<script src="../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<!-- 引入vue -->
		<script type="text/javascript" src="../../layuiadmin/plugin/vue.js"></script>
		<script src="../../layuiadmin/plugin/axios.js"></script>
		<style>
			.btn-box {
			    text-align: center;
			}
					
			.btn-box button {
			    /* margin-right: 30px; */
			    margin-bottom: 10px;
			}
					
			.layui-form-label {
			    width: 120px;
					
			}
					
			.layui-form-item .layui-input-inline {
			    width: 300px;
			}
			.factor{
				display: flex;
				flex-wrap:wrap;
			}
			.factor span{
				line-height: 2.5rem;
				margin-left: 10px;
			}
			.close{
				line-height: 2.5rem;
				margin-right: 10px;
				
			}
			.box{
				background: gainsboro;
				margin-right: 10px;
				margin-top: 0.625rem;
				/* width: calc(50% - 10px); */
				
			}
			
			
    </style>
	</head>
	<body>
		<div id="vm">
			<div class="layui-fluid">
				<div class="layui-row">
					<form class="layui-form">
						<div class="layui-form-item">
							<label for="bitian" class="layui-form-label">企业名称</label>
							<div class="layui-input-inline">
								<input type="text" name="name"  lay-verify="required" class="layui-input" placeholder="企业名称" />
							</div>
						</div>
						<div class="layui-form-item">
							<label for="bitian" class="layui-form-label">企业社会信用代码</label>
							<div class="layui-input-inline">
								<input type="text" name="trustcode"  lay-verify="required" class="layui-input" placeholder="企业社会信用代码" />
							</div>
						</div>
						<div class="layui-form-item">
							<label for="bitian" class="layui-form-label">企业详细地址</label>
							<div class="layui-input-inline">
								<input type="text" name="address"  lay-verify="required" class="layui-input" placeholder="企业详细地址" />
							</div>
						</div>
						<div class="layui-form-item">
							<label for="bitian" class="layui-form-label">所属省市区</label>
							<div class="layui-input-inline">
								<select name="province">
									<option value="">请选择省</option>
									<option value="浙江">浙江省</option>
									<option value="你的工号">江西省</option>
									<option value="你最喜欢的老师">福建省</option>
								</select>
							</div>
							<label for="bitian" class="layui-form-label"></label>
							<div class="layui-input-inline">
								<select name="city">
									<option value="">请选择市</option>
									<option value="杭州" >杭州</option>
									<option value="宁波" disabled="">宁波</option>
									<option value="温州">温州</option>
									<option value="温州">台州</option>
									<option value="温州">绍兴</option>
								</select>
							</div>
							<label for="bitian" class="layui-form-label"></label>
							<div class="layui-input-inline">
								<select name="area">
									<option value="">请选择县/区</option>
									<option value="西湖区" >西湖区</option>
									<option value="余杭区">余杭区</option>
									<option value="拱墅区">临安市</option>
								</select>
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">所属行业</label>
							<div class="layui-input-inline">
								<select name="tradeName" lay-filter="aihao">
									<option value=""></option>
									<option value="0">写作</option>
									<option value="1">阅读</option>
									<option value="2">游戏</option>
									<option value="3" >音乐</option>
									<option value="4">旅行</option>
								</select>
							</div>
						</div>
						<div class="layui-form-item">
							<label for="bitian" class="layui-form-label">网关编号</label>
							<div class="layui-input-inline">
								<input type="text"  name="swicthId" lay-verify="required" class="layui-input" placeholder="网关编号" />
							</div>
						</div>
						<div class="layui-form-item">
							<label for="bitian" class="layui-form-label">仪表地址</label>
							<div class="layui-input-inline">
								<input type="number"  name="meterId" lay-verify="required" class="layui-input" placeholder="仪表地址" />
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">仪表型号</label>
							<div class="layui-input-inline">
								<select name="model" lay-filter="aihao">
									<option value=""></option>
									<option value="0">ADW400</option>
									<option value="1" >ADW100</option>
									<option value="2">游戏</option>
									<option value="3">音乐</option>
									<option value="4">旅行</option>
								</select>
							</div>
						</div>
						<div class="layui-form-item">
							<label for="bitian" class="layui-form-label">电流变比</label>
							<div class="layui-input-inline">
								<input type="text" name="ct" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-item">
							<label for="bitian" class="layui-form-label">电压变比</label>
							<div class="layui-input-inline">
								<input type="text"  name="pt" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-item">
							<label for="bitian" class="layui-form-label">行业名称</label>
							<div class="layui-input-inline">
								<input type="text"  name="tradeName" class="layui-input" placeholder="行业名称" />
							</div>
						</div>
						<div class="layui-form-item">
							<label for="bitian" class="layui-form-label">监管机构代码</label>
							<div class="layui-input-inline">
								<input type="text"  name="organizeId" class="layui-input" placeholder="监管机构代码" />
							</div>
						</div>
						<div class="layui-form-item">
							<label for="bitian" class="layui-form-label">监管机构名称</label>
							<div class="layui-input-inline">
								<input type="text"  name="organizeName" class="layui-input" placeholder="监管机构名称" />
							</div>
						</div>
						<div class="layui-form-item">
							<label for="bitian" class="layui-form-label">负责人</label>
							<div class="layui-input-inline">
								<input type="text" name="chargePerson"  class="layui-input" placeholder="负责人" />
							</div>
						</div>
						<div class="layui-form-item">
							<label for="bitian" class="layui-form-label">负责人电话</label>
							<div class="layui-input-inline">
								<input type="number" name="chargePhone"  class="layui-input" placeholder="负责人电话" />
							</div>
						</div>
						<div class="layui-form-item">
							<label for="bitian" class="layui-form-label">检查人</label>
							<div class="layui-input-inline">
								<input type="text"  name="checkPerson" class="layui-input" placeholder="检查人" />
							</div>
						</div>
						<div class="layui-form-item">
							<label for="bitian" class="layui-form-label">检查人电话</label>
							<div class="layui-input-inline">
								<input type="number"  name="checkPhone" class="layui-input" placeholder="检查人电话" />
							</div>
						</div>
						<div class="layui-form-item">
							<label for="bitian" class="layui-form-label">法人</label>
							<div class="layui-input-inline">
								<input type="text"  name="lawPerson" class="layui-input" placeholder="法人" />
							</div>
						</div>
						<div class="layui-form-item">
							<label for="bitian" class="layui-form-label">法人电话</label>
							<div class="layui-input-inline">
								<input type="number"  name="lawPhone" class="layui-input" placeholder="法人电话" />
							</div>
						</div>
						<div class="layui-form-item">
							<label for="bitian" class="layui-form-label">企业照片地址</label>
							<div class="layui-input-inline">
								<div style="margin-bottom: 10px;">
									<img :src="pic" style="width: 120px;height: 140px;" v-show="haspic == 1">
								</div>
								<button type="button" class="layui-btn layui-bg-blue" id="uploadpic">选择图片</button>
							</div>
						</div>

						<div class="layui-form-item">
							<label for="bitian" class="layui-form-label">备注</label>
							<div class="layui-input-inline">
								<textarea type="text"  name="remark" style="height: 70px;" class="layui-input"></textarea>
							</div>
						</div>

						<!-- //TODO 不知道怎么解决这个问题 -->
						<div class="layui-form-item">
							<label for="bitian" class="layui-form-label">车间</label>
							<div>
								<div class="factor" name="tBasShopList">
									
								</div>
							</div>
						</div>
						<div class="layui-form-item">
							<label for="bitian" class="layui-form-label">车间添加</label>
							<div class="layui-input-inline">
								<button id="add" type="button" class="layui-btn layui-btn-primary" data-type="add">添加</button>
							</div>
						</div>
						<div class="btn-box">
							<button id="save" class="layui-btn" lay-submit lay-filter="save">保存</button>
							<button class="layui-btn layui-bg-red" @click="cancel">取消</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var arr = [];
			layui.config({
				base: '../../layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['index', "jquery", 'form', "upload", "layer"], function() {
				var form = layui.form,
					$ = layui.jquery,
					upload = layui.upload,
					layer = layui.layer;


				//上传图片的方法 
				upload.render({
					elem: '#uploadpic',
					auto: false
						// ,bindAction: '#save'
						,
					choose: function(obj) {
						//预读本地文件示例，不支持ie8
						obj.preview(function(index, file, result) {
							$('#demo1').attr('src', result); //图片链接（base64）
							vm.haspic = 1
							vm.pic = result;
						});
					},
					done: function(res) {

						if (res.code > 0) {
							return layer.msg('上传失败');
						}

					},
					error: function() {


					}
				});
				// 提交表单
				form.on('submit(save)', function(data) {
					// console.log(data);
					data.field.picUrl = vm.pic

					axios({
						method: "post",
						url: layui.setter.BASEURL + 'environmental_intelligent_monitoring/tbasenterprise/save',
						data: data.field,
						headers: {
							"Content-Type": "application/json;charset=UTF-8"
						}
					}).then(function(res) {
						console.log(res)
						if (res.data.code == 0) {
							layer.msg('保存成功！', {
								time: 500
							}, function() {
								window.parent.location.reload();
								parent.layer.close('iframe');
							});
						} else {
							parent.layer.tips('保存异常!');
						}
					}).catch(function(err) {
						console.log(err);
					});
					return false;
				})

				//添加弹窗
				var $ = layui.$,
					active = {
						add: function() {
							layer.open({
								type: 2,
								title: '添加车间',
								content: 'addFactor.html',
								maxmin: true,
								area: ['500px', '300px'],
								success: function(layero, index) {
									var body = layer.getChildFrame('body', index); //获取子页面内容
									var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
									//怎么获取子页面传过来的数据
								}
							});
						}

					};

				$('#add').on('click', function() {
					var type = $(this).data('type');
					active[type] ? active[type].call(this) : '';
				});




			})
			var vm = new Vue({
				el: "#vm",
				data: {
					pic_name: "",
					pic: "",
					addfactor: [], //添加的数组
					factor: {}, //添加的每一个对象,把每一个对象放到一个数字里面,
					haspic: 0
				},
				methods: {
					cancel: function() {
						parent.layer.closeAll('iframe'); //关闭弹窗
					},
					alert: function() {
						layer.open({
							type: 2,
							title: '编辑车间',
							content: 'editFactor.html',
							maxmin: true,
							area: ['500px', '300px'],
							success: function(layero, index) {

							}
						});
					},
					delet: function() {
						console.log("删除");
					}
				}
			});
		</script>
	</body>
</html>
