<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>减产排产分析</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" media="all" href="../../../layuiadmin/layui/css/layui.css" />
		<link rel="stylesheet" media="all" href="../../../layuiadmin/style/admin.css" />
		<link rel="stylesheet" type="text/css" href="../../../layuiadmin/plugin/element.css" />
	</head>
	<style type="text/css">
		.tree {
			z-index: 999;
			background: white;
			border: gainsboro solid 1px;
			margin-top: 2px;
			position: relative;
			padding: 0px 8px;
		}

		.actived {
			animation: rotated 0.2s linear forwards;
		}

		.actived_after {
			animation: rotated_after 0.2s linear forwards;
		}

		@keyframes rotated {
			from {
				transform: rotate(0deg);
			}

			to {
				transform: rotate(180deg);
			}
		}

		@keyframes rotated_after {
			from {
				transform: rotate(180deg);
			}

			to {
				transform: rotate(0deg);
			}
		}

		.demo-table-expand {
			font-size: 0;
		}

		.demo-table-expand label {
			width: 90px;
			color: #99a9bf;
		}

		.demo-table-expand .el-form-item {
			margin-right: 0;
			margin-bottom: 0;
			width: 50%;
		}
	</style>

	<body>

		<div class="layui-fluid" id="app">
			<div class="layui-card">
				<div class="layui-form layui-card-header layuiadmin-card-header-auto">
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">日期</label>
							<div class="layui-input-inline">
								<input type="text" name="startCreateDate" class="layui-input" id="startDate" placeholder="请输入开始日期">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">企业名称</label>
							<div class="layui-input-inline">
								<input type="text" name="enterpriseName" placeholder="请输入" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">行政区域</label>
							<div class="layui-input-inline">
								<input readonly="readonly" placeholder="请选择" id="div_" v-model="treeValue" class="layui-input" @click="appear">
								<i class="layui-icon-triangle-d layui-icon" v-bind:class="[{ actived: isActive },{ actived_after: !isActive }]"
								 style="color: gray;"></i>
								<div style="position: absolute;display: none;" class="layui-input-inline" id="tree">
									<div class="tree layui-anim layui-anim-upbit">
										<el-tree :highlight-current="treeHign" :data="treeData" :props="defaultProps" @node-click="handleNodeClick"></el-tree>
										<!-- //TODO 这边要放树形结构 -->
									</div>
								</div>
							</div>
						</div>
						<div class="layui-inline">
							<div class="layui-form-item">
								<label class="layui-form-label">所属行业</label>
								<div class="layui-input-block">
									<select name="tradeName" id="eventType" lay-filter="eventType">
										<option value="">请选择</option>
										<option value=""></option>
									</select>
								</div>
							</div>
						</div>
						<div class="layui-inline">
							<button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-search">
								<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="layui-card-body">
					<el-table :data="tableData" style="width: 100%" :row-key="row_key" :expand-row-key = "expandRowKey">
						<el-table-column type="expand">
							<template slot-scope="props">
								<el-form label-position="left" inline class="demo-table-expand">
									<el-form-item label="我在这边" >

										<div style="width:100%;height:450px;" id="botchart"></div>
									</el-form-item>
								</el-form>
							</template>
						</el-table-column>

						<el-table-column label="企业名称" prop="id">
						</el-table-column>
						<el-table-column label="机构" prop="name">
						</el-table-column>
						<el-table-column label="行业" prop="desc">
						</el-table-column>
						<el-table-column label="生产状态" prop="">
						</el-table-column>
						<el-table-column label="是否污染日" prop="">
						</el-table-column>
						<el-table-column label="空气质量" prop="">
						</el-table-column>
						<el-table-column label="用电量(kWh)" prop="">
						</el-table-column>
						<el-table-column label="排名" prop="">
						</el-table-column>
					</el-table>
					<!-- <div style="width: 100%;height: 6.25rem;"></div> -->
				</div>
			</div>
		</div>

		<script src="../../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../layuiadmin/plugin/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../layuiadmin/plugin/axios.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../layuiadmin/plugin/element.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../layuiadmin/js/baseUrlConfig.js" type="text/javascript" charset="utf-8"></script>

		<script>
			layui.config({
				base: '../../../layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['index', "echarts", 'table', "laydate"], function() {
				var table = layui.table,
					form = layui.form,
					laydate = layui.laydate,
					echarts = layui.echarts;

				var data = new Date();
				var max_data = data.getDate();
				laydate.render({
					elem: '#startDate',
					btns: ['confirm'],
					max: "max_data"
				});
				// console.log(document.getElementById('botchart'))
				// var echart = echarts.init(document.getElementById('botchart')); //行业的图表
				option = {
					xAxis: {
						type: 'category',
						data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
					},
					yAxis: {
						type: 'value'
					},
					series: [{
						data: [820, 932, 901, 934, 1290, 1330, 1320],
						type: 'line'
					}]
				};
				// 
				// 				echart.setOption(option);


				axios({
					method: "post",
					url: BASEURL + 'environmental_intelligent_monitoring/tbastrade/list?limit=10000',
					params: {}
				}).then(function(res) {
					if (res.data.code == 0) {
						// console.log(res)
						$.each(res.data.page.list, function(index, item) {
							// console.log(index, item)
							$('#eventType').append(new Option(item.name, item.id)); // 下拉菜单里添加元素
						});
						layui.form.render("select");
					} else {

					}
				}).catch(function(err) {
					console.log(err);
				});


				table.render({
					elem: '#LAY-app-content-list',
					height: 555 //容器高度
						,
					url: layui.setter.BASEURL + 'environmental_intelligent_monitoring/tdeviceequipstatus/queryAllList' //数据接口
						,
					page: true,
					parseData: function(res) { // 数据重新处理为layUI的数据格式
						var msg = {
							"code": res.code, //解析接口状态
							"msg": res.msg, //解析提示文本
							"count": res.page.totalCount, //解析数据长度
							"data": res.page.list //解析数据列表
						};
						return msg;
					},
					cols: [
							[{
									type: 'numbers',
									minWidth: 40,
									width: 50
								},
								{
									title: '企业名称',
									field: 'enterpriseName',
									minWidth: 200
								}, {
									title: '机构',
									field: 'shopName',
									minWidth: 100
								}, {
									title: '行业',
									field: 'equipName',
									minWidth: 100
								}, {
									title: '生产状态',
									field: 'monitorName',
									minWidth: 60
								}, {
									title: '是否污染日',
									field: 'swicthId',
									minWidth: 100
								}, {
									title: '空气质量',
									field: 'meterId',
									minWidth: 100
								}, {
									title: '用电量（kWh）',
									field: 'state',
									Width: 30
								}, {
									title: '排名',
									minWidth: 100,
									toolbar: '#barDemo'
								}
							]
						] //设置表头
						,
					limit: 10,
					limits: [10, 15, 20, 25, 30]
				});
				table.on('tool(LAY-app-content-list)', function(obj) {
					var data = obj.data;
					console.log(data.id);
					if (obj.event === 'detail') {
						window.id = data.id;
						layer.open({
							type: 2,
							title: '实时数据',
							content: 'tdeviceequipstatusDeatil.html',
							maxmin: true,
							area: ['1050px', '550px']
							// btn: ['确定', '取消'],
							// yes: function(index, layero) {
							// 	//点击确认触发 iframe 内容中的按钮提交
							// 	var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit");
							// 	submit.click();
							// }
						});
					}
				});



				//监听搜索
				form.on('submit(LAY-app-contlist-search)', function(data) {
					var field = data.field;

					//执行重载
					table.reload('LAY-app-content-list', {
						where: field
					});
				});

				var $ = layui.$,
					active = {
						batchdel: function() {

						},
						del: function() {

						},
						edit: function() {

						}
					};

				$('.layui-btn.layuiadmin-btn-list').on('click', function() {
					var type = $(this).data('type');
					active[type] ? active[type].call(this) : '';
				});
				$("#div_").bind("click", function() {
					vm.isActive = 1;
					$("#tree").css("display", "inline-block");
					event.stopPropagation(); //==========阻止冒泡1
				})
				//点击外面其他部分,触发的事件
				$(document).bind("click", function() {
					vm.isActive = 0;

					$("#tree").css("display", "none");

				})
			});

			var vm = new Vue({
				el: "#app",
				data: {
					treeData: [],
					defaultProps: {
						children: 'children',
						label: 'label'
					},
					nodedata: [],
					treeHign: true,
					startCreateDate: "",
					address: "",
					trustCode: "",
					endCreateDate: "",
					name: '',
					tree: 0,
					isActive: 0,
					treeValue: "",
					tableData: [{
						id: '12987122',
						name: '好滋好味鸡蛋仔',
						category: '江浙小吃、小吃零食',
						desc: '荷兰优质淡奶，奶香浓而不腻',
						address: '上海市普陀区真北路',
						shop: '王小虎夫妻店',
						shopId: '10333'
					}, {
						id: '12987123',
						name: '好滋好味鸡蛋仔',
						category: '江浙小吃、小吃零食',
						desc: '荷兰优质淡奶，奶香浓而不腻',
						address: '上海市普陀区真北路',
						shop: '王小虎夫妻店',
						shopId: '10333'
					}, {
						id: '12987125',
						name: '好滋好味鸡蛋仔',
						category: '江浙小吃、小吃零食',
						desc: '荷兰优质淡奶，奶香浓而不腻',
						address: '上海市普陀区真北路',
						shop: '王小虎夫妻店',
						shopId: '10333'
					}, {
						id: '12987126',
						name: '好滋好味鸡蛋仔',
						category: '江浙小吃、小吃零食',
						desc: '荷兰优质淡奶，奶香浓而不腻',
						address: '上海市普陀区真北路',
						shop: '王小虎夫妻店',
						shopId: '10333'
					}],
					echart:"",
					expandRowKey:[]
				},
				methods: {
					appear: function(isActive) {
						this.tree = !this.tree
						this.isActive = !this.isActive
					},
					
					row_key: function() {
						return row.id;
					},
					
					handleNodeClick(data, node) {
						vm.treeValue = data.label;
						console.log(data.label);
						console.log(this.tree);
						vm.treeHign = true;
						// console.log(node.parent.childNodes[0].parent.data.label)
						var localname = node.parent.childNodes[0].parent.data.label === undefined ? '无上级目录' : node.parent.childNodes[0]
							.parent.data.label;
						localStorage.setItem("nodeParentName", localname)
						vm.nodedata = data;
						axios({
							method: "post",
							url: BASEURL + 'environmental_intelligent_monitoring/tbasorganize/list?limit=10000',
							params: {
								parentId: data.id
							}
						}).then(function(res) {
							if (res.data.code == 0) {
								// this.tree = !this,tree;
								var treedata = res.data.page.list;
								data.children = [];
								for (var j = 0; j < treedata.length; j++) {
									if (data.id == treedata[j].parentId) {
										// console.log(treedata[j])
										let obj = {
											label: treedata[j].name,
											id: treedata[j].id,
											parentId: treedata[j].parentId,
											children: []
										};
										data.children.push(obj);
									}
									this.tree = false
								}

							} else {
								vm.$notify.error({
									title: '错误',
									message: res.data.msg
								});
							}
						}).catch(function(err) {
							console.log(err);
						});
					},
					organizeTree() {
						console.log(this.tree);
						axios({
							method: "post",
							url: BASEURL + 'environmental_intelligent_monitoring/tbasorganize/list?limit=10000',
							params: {
								parentId: 0
							}
						}).then(function(res) {
							if (res.data.code == 0) {
								vm.treeData = [];
								// vm.treeData = res.data.page.list;
								var data = res.data.page.list;

								for (var i = 0; i < data.length; i++) {
									var obj = {};
									obj.label = data[i].name;
									obj.id = data[i].id;
									obj.parentId = data[i].parentId;
									obj.children = [];
									vm.treeData.push(obj);
								}
							} else {

							}
						}).catch(function(err) {
							console.log(err);
						});
					}
				},
				created() {
					this.organizeTree();
				},
				mounted() {
					this.expandRowKey.push(this.tableData[1].id)
					// this.echart = layui.echarts.init(document.getElementById('botchart')); //行业的图表
					// this.echart.setOption(option);
				}

			})
		</script>
	</body>
</html>
