<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>企业监控</title>
    <link rel="stylesheet" href="./../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="./../../../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="./../../../layuiadmin/style/firmMonitor.css">
    <link rel="stylesheet" href="./../../../layuiadmin/plugin/element.css">
</head>

<body>
    <div id="vm">
        <div class="firmMain">
            <div class="firmLeft">
                <div class="title"></div>
                <div class="leftContent">
                    <el-tree default-expand-all :data="firmTreeData" :highlight-current="firmHigh" :expand-on-click-node="false" :props="defaultProps"
                        @node-click="handleNodeClick"></el-tree>
                </div>
            </div>
            <div class="firmRight">
                <div v-show="threeRun==1">
                    <div class="title">
                        <button type="button" :class="{'active': firmShow == 1}" @click="firmShow = 1">实时数据</button>
                        <button type="button" :class="{'active': firmShow == 2}" @click="firmShow = 2">运行工况</button>
                        <button type="button" :class="{'active': firmShow == 3}" @click="firmShow = 3">污处异常</button>
                    </div>
                    <div class="rightContent">
                        <div v-show="firmShow==1">
                            <div class="layui-inline layui-form">
                                <div class="layui-input-inline">
                                    <select name="eventTypeId" lay-verify="required">
                                        <option value="">请选择时间间隔</option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                    </select>
                                </div>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" id="timeDate" placeholder="请输入日期">
                                </div>
                            </div>
                            <!-- 第一层样式 -->
                            <div class="layui-fluid">
                                <div class="layui-row layui-col-space15">
                                    <div class="layui-col-sm6 layui-col-md4">
                                        <div class="layui-card blue">
                                            <div class="layui-card-header">
                                                电压
                                                <span class="layui-badge layui-bg-blue layuiadmin-badge layui-icon layui-icon-chart"></span>
                                            </div>
                                            <div class="layui-card-body layuiadmin-card-list">
                                                <p>
                                                    <span>A相电压</span>
                                                    <span></span>
                                                </p>
                                                <p>
                                                    <span>B相电压</span>
                                                    <span></span>
                                                </p>
                                                <p>
                                                    <span>C相电压</span>
                                                    <span></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-sm6 layui-col-md4">
                                        <div class="layui-card green">
                                            <div class="layui-card-header">
                                                功率
                                                <span class="layui-badge layui-bg-cyan layuiadmin-badge layui-icon layui-icon-chart-screen"></span>
                                            </div>
                                            <div class="layui-card-body layuiadmin-card-list">
                                                <p>
                                                    <span>有功功率</span>
                                                    <span></span>
                                                </p>
                                                <p>
                                                    <span>无功功率</span>
                                                    <span></span>
                                                </p>
                                                <p>
                                                    <span>功率因数</span>
                                                    <span></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-sm6 layui-col-md4">
                                        <div class="layui-card yellow">
                                            <div class="layui-card-header">
                                                电流
                                                <span class="layui-badge layui-bg-green layuiadmin-badge layui-icon layui-icon-chart"></span>
                                            </div>
                                            <div class="layui-card-body layuiadmin-card-list">

                                                <p>
                                                    <span>A相电流：</span>
                                                    <span></span>
                                                </p>
                                                <p>
                                                    <span>B相电流</span>
                                                    <span></span>
                                                </p>
                                                <p>
                                                    <span>C相电流</span>
                                                    <span></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!-- 第二层折线图展示 -->
                            <!-- 第三层柱状图展示 -->
                            <!-- 第四层table栏展示 -->
                            <div class="fourthTable">

                            </div>
                            <!-- 第五层更多参数展示 -->
                        </div>
                        <div v-show="firmShow==2">
                            <div class="layui-inline layui-form">
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" id="yunData" placeholder="请输入日期">
                                </div>
                            </div>
                        </div>
                        <div v-show="firmShow==3">
                            <div class="layui-inline layui-form">
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" id="startDate" placeholder="请输入开始日期">
                                </div>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" id="endDate" placeholder="请输入结束日期">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div v-show="threeRun==2">
                    <div class="title">
                        <button type="button" class="active">实时数据</button>
                    </div>
                    <div class="rightContent">
                        <div class="layui-inline layui-form">
                            <div class="layui-input-inline">
                                <select name="eventTypeId" lay-verify="required">
                                    <option value="">请选择时间间隔</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="EstimeDate" placeholder="请输入日期">
                            </div>
                        </div>
                    </div>

                </div>
                <div v-show="threeRun==3">
                    <div class="rightContent">
                        <div class="firmTable">
                            <h2>西安卫康数据</h2>
                            <table style="width: 100%;">
                                <tr>
                                    <td>地址</td>
                                    <td></td>
                                    <td>所属行业</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>企业负责人</td>
                                    <td></td>
                                    <td>产污监测点</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>电气负责人</td>
                                    <td></td>
                                    <td>污处监测点</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>安环负责人</td>
                                    <td></td>
                                    <td>监测点</td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                        <div class="monitorTable">
                            <p>监测点信息</p>
                            <table id="LAY-app-content-list" lay-filter="LAY-app-content-list"></table>
                        </div>
                        <div class="echartTable">
                            <div class="title">
                                <button type="button" :class="{'active': firmEchartShow == 1}" @click="firmEchartShow = 1">实时数据</button>
                                <button type="button" :class="{'active': firmEchartShow == 2}" @click="firmEchartShow = 2">治污设施异常</button>
                                <button type="button" :class="{'active': firmEchartShow == 3}" @click="firmEchartShow = 3">停限产异常</button>
                                <button type="button" :class="{'active': firmEchartShow == 4}" @click="firmEchartShow = 4">其他异常</button>
                            </div>
                            <div v-show="firmEchartShow==1">
                                <div class="layui-inline layui-form">
                                    <div class="layui-input-inline">
                                        <select name="eventTypeId" lay-verify="required">
                                            <option value="">请选择时间间隔</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                        </select>
                                    </div>
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input" id="timeDate" placeholder="请输入日期">
                                    </div>
                                </div>
                            </div>

                            <div v-show="firmEchartShow==2">
                                <div class="layui-inline layui-form">
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input" id="startDate" placeholder="请输入开始日期">
                                    </div>
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input" id="endDate" placeholder="请输入结束日期">
                                    </div>
                                </div>
                            </div>
                            <div v-show="firmEchartShow==3">
                                <div class="layui-inline layui-form">
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input" id="startDate" placeholder="请输入开始日期">
                                    </div>
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input" id="endDate" placeholder="请输入结束日期">
                                    </div>
                                </div>
                            </div>
                            <div v-show="firmEchartShow==4">
                                <div class="layui-inline layui-form">
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input" id="startDate" placeholder="请输入开始日期">
                                    </div>
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input" id="endDate" placeholder="请输入结束日期">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <script src="./../../../layuiadmin/layui/layui.js"></script>
    <script src="./../../../layuiadmin/plugin/vue.js"></script>
    <script src="./../../../layuiadmin/plugin/element.js"></script>
    <script src="./../../../layuiadmin/plugin/axios.js"></script>
    <script src="./../../../layuiadmin/js/baseUrlConfig.js"></script>
    <script>
        layui.config({
            base: '../../../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'table', 'laydate', 'form', 'jquery'], function () {
            var form = layui.form,
                table = layui.table,
                $ = layui.jquery,
                laydate = layui.laydate;

            //时间日期
            laydate.render({
                elem: '#timeDate',
                format: 'yyyy-MM-dd'
            });
            laydate.render({
                elem: '#yunData',
                format: 'yyyy-MM-dd'
            });
            laydate.render({
                elem: '#startDate',
                format: 'yyyy-MM-dd'
            });
            laydate.render({
                elem: '#endDate',
                format: 'yyyy-MM-dd'
            });
            // 企业时间
            laydate.render({
                elem: '#EstimeDate',
                format: 'yyyy-MM-dd'
            });
            table.render({
                elem: '#LAY-app-content-list'
                , height: 400 //容器高度
                , url: layui.setter.BASEURL + 'environmental_intelligent_monitoring/tfirmabnormal/list' //数据接口
                , page: true
                , parseData: function (res) { // 数据重新处理为layUI的数据格式
                    var msg = {
                        "code": res.code, //解析接口状态
                        "msg": res.msg, //解析提示文本
                        "count": res.page.totalCount, //解析数据长度
                        "data": res.page.list //解析数据列表
                    };
                    return msg;
                }
                , cols: [[
                    { title: '监测点名称', field: 'monitorName', minWidth: 100 },
                    { title: '类别', field: 'monitorName', minWidth: 100 },
                    { title: '状态', field: 'eventType', minWidth: 100 },
                    { title: 'CT', field: 'lastTime', minWidth: 100 },
                    { title: '功率启停阀值', field: 'description', minWidth: 200 },
                    { title: '功率门限时间', field: 'currentStatus', minWidth: 100 },
                    { title: '额定功率', field: 'currentStatus', minWidth: 100 },
                    { title: '摄像头', field: 'currentStatus', minWidth: 100 }
                ]] //设置表头
                , limit: 10
                , limits: [10, 15, 20, 25, 30]
                , done: function (res, page, count) {
                    $("[data-field='currentStatus']").children().each(function () {
                        if ($(this).text() == '0') {
                            $(this).text("未处理")
                        } else if ($(this).text() == '1') {
                            $(this).text("已处理未申报")
                        } else if ($(this).text() == '2') {
                            $(this).text("已申报未审核")
                        } else if ($(this).text() == '3') {
                            $(this).text("审核通过")
                        } else if ($(this).text() == '4') {
                            $(this).text("审核未通过")
                        } else if ($(this).text() == '5') {
                            $(this).text("已处理（不需要申报）")
                        }
                    })
                }
            });
        })


        var vm = new Vue({
            el: "#vm",
            data: {
                firmShow: 1,
                defaultProps: {
                    children: 'children',
                    label: 'label'
                },
                firmTreeData: [
                    {
                        label: '西安卫康数据',
                        id: 1,
                        children: [
                            {
                                label: '企业总表',
                                id: 2
                            },
                            {
                                label: '测试车间123',
                                children: [{
                                    label: '治污监测点',
                                    children: [{
                                        label: '治污点位',
                                        id: 3
                                    }]
                                }]
                            }
                        ]
                    }
                ],
                // 点击树状图切换右边
                threeRun: 1,
                firmEchartShow: 1,
                // 树状图高亮显示
                firmHigh: true

            },
            methods: {
                treeMonitor() {
                    axios({
                        method: "post",
                        url: BASEURL + 'environmental_intelligent_monitoring/tfirmabnormal/list?limit=10000',
                        params: {
                            enterpriseId: localStorage.getItem("enterpriseId")
                        }
                    }).then(function (res) {
                        if (res.data.code == 0) {

                        } else {

                        }
                    })
                        .catch(function () {

                        })

                },
                handleNodeClick(data) {
                    console.log(data);
                    if (data.id == 1) {
                        vm.threeRun = 3;

                    } else if (data.id == 2) {
                        vm.threeRun = 2;

                    } else if (data.id == 3) {
                        vm.threeRun = 1;

                    }
                }
            },
            created() {
                this.treeMonitor();

            }
        })
    </script>
</body>

</html>