<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>企业监控</title>
		<link rel="stylesheet" href="./../../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="./../../../layuiadmin/style/admin.css" media="all">
		<link rel="stylesheet" href="./../../../layuiadmin/style/firmMonitor.css">
		<link rel="stylesheet" href="./../../../layuiadmin/plugin/element.css">
	</head>
	<style type="text/css">
		.leftContent {
			min-height: 600px;
		}

		.firmRight {
			overflow: scroll;
			height: 800px;
			background: white;
		}

		/* .layui-table-page .layui-laypage{
			margin: -10px;
		} */
	</style>

	<body>
		<div id="vm">
			<div class="firmMain">
				<div class="firmLeft">
					<div class="title"></div>
					<div class="leftContent">
						<div id="enterpriseList" class="demo-tree demo-tree-box"></div>
					</div>
				</div>
				<div class="firmRight">
					<div v-show="threeRun!=3">
						<div class="title">
							<button type="button" :class="{'active': firmShow == 1}" v-show="threeRun==2||threeRun==1" @click="firmShow = 1">实时数据</button>
							<button type="button" :class="{'active': firmShow == 2}" v-show="threeRun==1" @click="firmShow = 2">运行工况</button>
							<button type="button" :class="{'active': firmShow == 3}" v-show="threeRun==1" @click="firmShow = 3">污处异常</button>

						</div>
						<div class="rightContent">
							<div v-show="firmShow==1">
								<div class="layui-inline layui-form">
									<div class="layui-input-inline">
										<input type="text" v-model="indextime" id="indexTime" class="layui-input" onblur="monitorsearch()"
										 placeholder="请输入日期">
									</div>
								</div>
								<!-- 第一层样式 -->
								<div class="layui-fluid" v-show="threeRun == 1" style="display: none;">
									<div class="layui-row layui-col-space15">
										<div class="layui-col-sm6 layui-col-md4">
											<div class="layui-card blue">
												<div class="layui-card-header">
													电压
													<span class="layui-badge layui-bg-blue layuiadmin-badge layui-icon layui-icon-chart"></span>
												</div>
												<div class="layui-card-body layuiadmin-card-list">
													<p>
														<span>A相电压</span>
														<span></span>
													</p>
													<p>
														<span>B相电压</span>
														<span></span>
													</p>
													<p>
														<span>C相电压</span>
														<span></span>
													</p>
												</div>
											</div>
										</div>
										<div class="layui-col-sm6 layui-col-md4">
											<div class="layui-card green">
												<div class="layui-card-header">
													功率
													<span class="layui-badge layui-bg-cyan layuiadmin-badge layui-icon layui-icon-chart-screen"></span>
												</div>
												<div class="layui-card-body layuiadmin-card-list">
													<p>
														<span>有功功率</span>
														<span></span>
													</p>
													<p>
														<span>无功功率</span>
														<span></span>
													</p>
													<p>
														<span>功率因数</span>
														<span></span>
													</p>
												</div>
											</div>
										</div>
										<div class="layui-col-sm6 layui-col-md4">
											<div class="layui-card yellow">
												<div class="layui-card-header">
													电流
													<span class="layui-badge layui-bg-green layuiadmin-badge layui-icon layui-icon-chart"></span>
												</div>
												<div class="layui-card-body layuiadmin-card-list">

													<p>
														<span>A相电流：</span>
														<span></span>
													</p>
													<p>
														<span>B相电流</span>
														<span></span>
													</p>
													<p>
														<span>C相电流</span>
														<span></span>
													</p>
												</div>
											</div>
										</div>

									</div>
									<div id="indexchart" style="width: 100%;height: 300px;"></div>
									<div id="indexcharts" style="width: 100%;height: 300px;"></div>
								</div>
								<!-- 第二层折线图展示 -->
								<!-- 第三层柱状图展示 -->
								<!-- 第四层table栏展示 -->
								<div class="fourthTable">

								</div>
								<!-- 第五层更多参数展示 -->
							</div>
							<div v-show="firmShow==2">
								<div class="layui-inline layui-form">
									<div class="layui-input-inline">
										<input type="text" class="layui-input" id="yunData" placeholder="请输入日期">
									</div>
								</div>
							</div>
							<div v-show="firmShow==3">
								<div class="layui-inline layui-form">
									<div class="layui-input-inline">
										<input type="text" class="layui-input" id="startDate" placeholder="请输入开始日期">
									</div>
									<div class="layui-input-inline">
										<input type="text" class="layui-input" id="endDate" placeholder="请输入结束日期">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div v-show="threeRun==3">
						<div class="rightContent">
							<div class="firmTable">
								<h2 v-text="company"></h2>
								<table style="width: 100%;">
									<tr>
										<td>地址</td>
										<td v-text="address"></td>
										<td>所属行业</td>
										<td v-text="tradeName"></td>
									</tr>
									<tr>
										<td>企业负责人</td>
										<td v-text="chargePerson"></td>
										<td>产污监测点</td>
										<td v-text="productMonitorNum"></td>
									</tr>
									<tr>
										<td>电气负责人</td>
										<td v-text=""></td>
										<td>污处监测点</td>
										<td v-text="treatMonitorNum"></td>
									</tr>
									<tr>
										<td>安环负责人</td>
										<td v-text=""></td>
										<td>监测点</td>
										<td v-text="total"></td>
									</tr>
								</table>
							</div>
							<div class="monitorTable">
								<p>监测点信息</p>
								<table id="LAY-app-content-list" lay-filter="LAY-app-content-list"></table>
							</div>
							<div class="echartTable" style="margin-top: 60px">
								<div class="title">
									<button type="button" :class="{'active': firmEchartShow == 1}" @click="firmEchartClick(1)">实时数据</button>
									<button type="button" :class="{'active': firmEchartShow == 2}" @click="firmEchartClick(2)">治污设施异常</button>
									<button type="button" :class="{'active': firmEchartShow == 3}" @click="firmEchartClick(3)">停限产异常</button>
									<button type="button" :class="{'active': firmEchartShow == 4}" @click="firmEchartClick(4)">其他异常</button>
									<div class="layui-input-inline">
										<input type="text" v-model="timeDate" class="layui-input time-select-item" onblur="search()" id="timeDate"
										 placeholder="请输入日期">
									</div>
								</div>
							</div>

							<div v-show="firmEchartShow == 1">
								<div id="dataEcharts" style="width: 100%;height: 300px;"></div>
								<div id="dataBottom" style="width: 100%;height: 300px;"></div>
							</div>
							<div v-show="firmEchartShow ==2">
								<table id="LAY-app-echarted-list" lay-filter="LAY-app-echarted-list"></table>
							</div>
							<div v-show="firmEchartShow == 3">
								<table id="LAY-app-echarts-list" lay-filter="LAY-app-echarts-list"></table>
							</div>
							<div v-show="firmEchartShow == 4">
								<table id="LAY-app-echart-list" lay-filter="LAY-app-echart-list"></table>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
		</div>


		<script src="../../../layuiadmin/layui/layui.all.js" type="text/javascript" charset="utf-8"></script>
		<script src="./../../../layuiadmin/plugin/vue.js"></script>
		<script src="./../../../layuiadmin/plugin/axios.js"></script>
		<script src="./../../../layuiadmin/js/baseUrlConfig.js"></script>
		<script>
			layui.config({
				base: '../../../layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['index', 'table', 'laydate', 'form', 'jquery', 'echarts', "tree"], function() {
				var form = layui.form,
					table = layui.table,
					$ = layui.jquery,
					echarts = layui.echarts,
					laydate = layui.laydate;
				tree = layui.tree;
				data = vm.enterpriseTreeList

				//左边的树形结构
				tree.render({
					elem: '#enterpriseList', //默认是点击节点可进行收缩
					onlyIconControl: true,
					showLine: true,
					data: data,
					click: function(obj) {
						//根据数据返回类型判断
						//企业总表是 vm.threeRun =  2
						if (obj.data.type == "t_bas_enterprise") {
							vm.threeRun = 3
						} else if (obj.data.type == "t_device_monitor") {
							vm.monitorId = obj.data.id
							vm.list_zmotime =[]
							vm.list_zmovalue = []
							vm.list_zzmovalue = []
							vm.list_zzmovalue = []
							vm.threeRun = 1
							monitorchart();
						}
					}
				});


				//监测点的折线图
				inchart = echarts.init(document.getElementById('indexchart'), {
					noDataLoadingOption: {
						text: '暂无数据',
						effect: 'bubble',
						effectOption: {
							effect: {
								n: 0 //气泡个数为0 
							}
						}
					}
				});
				//监测点的柱状图
				incharts = echarts.init(document.getElementById('indexcharts'), {
					noDataLoadingOption: {
						text: '暂无数据',
						effect: 'bubble',
						effectOption: {
							effect: {
								n: 0 //气泡个数为0 
							}
						}
					}
				});
				//企业界面的折线图
				myCharts = echarts.init(document.getElementById('dataEcharts'), {
					noDataLoadingOption: {
						text: '暂无数据',
						effect: 'bubble',
						effectOption: {
							effect: {
								n: 0 //气泡个数为0 
							}
						}
					}
				});
				//企业界面的柱状图
				dataBottom = echarts.init(document.getElementById('dataBottom'), {
					noDataLoadingOption: {
						text: '暂无数据',
						effect: 'bubble',
						effectOption: {
							effect: {
								n: 0 //气泡个数为0 
							}
						}
					}
				});



				//企业界面的时间日期
				laydate.render({
					elem: '#timeDate',
					done: function(value) {
						vm.timeDate = value;
						// console.log(vm.timeDate);
					}
				});

				//监测点折线和柱状图时间日期
				laydate.render({
					elem: '#indexTime',
					done: function(value) {
						vm.indextime = value;
						// console.log(vm.indextime);
					}
				});



				// 从上一个页面获取到的企业id
				vm.companyId = window.localStorage.getItem("enterpriseId");
				window.localStorage.removeItem("enterpriseId") //获取上个页面传来的企业id
				console.log(vm.companyId);





				//获取企业的详情
				axios({
						method: "post",
						url: BASEURL + 'environmental_intelligent_monitoring/dataMonitor/queryEnterpriseReportList',
						params: {
							enterpriseId: vm.companyId
						}
					}).then(function(res) {
						console.log(res.data.page.list);
						if (res.data.code == 0) {
							console.log(1);
							vm.address = res.data.page.list[0].province + res.data.page.list[0].city + res.data.page.list[0].area + res.data
								.page.list[0].address // 企业地址
							vm.tradeName = res.data.page.list[0].tradeName; //行业
							vm.productMonitorNum = res.data.page.list[0].productMonitorNum //产污监测点
							vm.treatMonitorNum = res.data.page.list[0].treatMonitorNum // 治污检测点
							vm.total = res.data.page.list[0].productMonitorNum + res.data.page.list[0].treatMonitorNum //检测点数
							vm.chargePerson = res.data.page.list[0].chargePerson //企业负责人
							vm.company = res.data.page.list[0].enterpriseName // 企业的名称
						} else {

						}
					})
					.catch(function() {

					})


				// 监测点信息列表展示
				table.render({
					elem: '#LAY-app-content-list',
					height: 400 //容器高度
						,
					url: layui.setter.BASEURL + 'environmental_intelligent_monitoring/tdevicemonitor/list' //数据接口
						,
					page: true,
					where: {
						enterpriseId: vm.companyId
					},
					parseData: function(res) { // 数据重新处理为layUI的数据格式
						var msg = {
							"code": res.code, //解析接口状态
							"msg": res.msg, //解析提示文本
							"count": res.page.totalCount, //解析数据长度
							"data": res.page.list //解析数据列表
						};
						return msg;
					},
					cols: [
							[{
									title: '监测点名称',
									field: 'monitorName',
									minWidth: 100
								},
								{
									title: '类别',
									field: 'codeType',
									minWidth: 100
								},
								{
									title: '状态',
									field: 'status',
									minWidth: 100
								},
								{
									title: 'CT',
									field: 'ct',
									minWidth: 100
								},
								{
									title: '功率启停阀值',
									field: 'electricLimit',
									minWidth: 200
								},
								{
									title: '功率门限时间',
									field: 'electricTime',
									minWidth: 100
								},
								{
									title: '额定功率',
									field: 'ratedPower',
									minWidth: 100
								}
							]
						] //设置表头
						,
					limit: 10,
					limits: [10, 15, 20, 25, 30],
					done: function(res, page, count) {
						$("[data-field='status']").children().each(function() {
							if ($(this).text() == '1') {
								$(this).text("运行")
							} else if ($(this).text() == '2') {
								$(this).text("停机")
							} else if ($(this).text() == '3') {
								$(this).text("失联")
							}
						})
						$("[data-field='codeType']").children().each(function() {
							if ($(this).text() == '0') {
								$(this).text("产污设备")
							} else if ($(this).text() == '1') {
								$(this).text("治污设备")
							}
						})
					}
				});
				//治污设施异常数据查询
				table.render({
					elem: '#LAY-app-echarted-list',
					height: 400 //容器高度
						,
					url: layui.setter.BASEURL + 'environmental_intelligent_monitoring/tdevicemonitor/queryProductAndTreatList' //数据接口
						,
					page: true,
					where: {
						enterpriseId: vm.companyId,
						productEventType: '2'
					},
					parseData: function(res) { // 数据重新处理为layUI的数据格式
						var msg = {
							"code": res.code, //解析接口状态
							"msg": res.msg, //解析提示文本
							"count": res.data.totalCount, //解析数据长度
							"data": res.data.list //解析数据列表
						};
						return msg;
					},
					cols: [
							[{
									title: '产污监测点',
									field: 'productName',
									minWidth: 100
								},
								{
									title: '治污监测点',
									field: 'treatName',
									minWidth: 100
								},
								{
									title: '发生时间',
									field: 'createDate',
									minWidth: 100
								},
								{
									title: '状态',
									field: 'currentStatus',
									minWidth: 100
								}
							]
						] //设置表头
						,
					limit: 10,
					limits: [10, 15, 20, 25, 30],
					done: function(res, page, count) {
						$("[data-field='currentStatus']").children().each(function() {
							if ($(this).text() == '0') {
								$(this).text("未处理")
							} else if ($(this).text() == '1') {
								$(this).text("已处理未申报")
							} else if ($(this).text() == '2') {
								$(this).text("已申报未审核")
							} else if ($(this).text() == '3') {
								$(this).text("审核通过")
							} else if ($(this).text() == '4') {
								$(this).text("审核未通过")
							} else if ($(this).text() == '5') {
								$(this).text("已处理（不需要申报）")
							}
						})
					}
				});

				//停限产的数据查询
				table.render({
					elem: '#LAY-app-echarts-list',
					height: 400 //容器高度
						,
					url: layui.setter.BASEURL + 'environmental_intelligent_monitoring/tdevicemonitor/queryProductAndTreatList' //数据接口
						,
					page: true,
					where: {
						enterpriseId: vm.companyId,
						productEventType: '1'
					},
					parseData: function(res) { // 数据重新处理为layUI的数据格式
						var msg = {
							"code": res.code, //解析接口状态
							"msg": res.msg, //解析提示文本
							"count": res.data.totalCount, //解析数据长度
							"data": res.data.list //解析数据列表
						};
						return msg;
					},
					cols: [
							[{
									title: '产污监测点',
									field: 'productName',
									minWidth: 100
								},
								{
									title: '治污监测点',
									field: 'treatName',
									minWidth: 100
								},
								{
									title: '发生时间',
									field: 'createDate',
									minWidth: 100
								},
								{
									title: '状态',
									field: 'currentStatus',
									minWidth: 100
								}
							]
						] //设置表头
						,
					limit: 10,
					limits: [10, 15, 20, 25, 30],
					done: function(res, page, count) {
						$("[data-field='currentStatus']").children().each(function() {
							if ($(this).text() == '0') {
								$(this).text("未处理")
							} else if ($(this).text() == '1') {
								$(this).text("已处理未申报")
							} else if ($(this).text() == '2') {
								$(this).text("已申报未审核")
							} else if ($(this).text() == '3') {
								$(this).text("审核通过")
							} else if ($(this).text() == '4') {
								$(this).text("审核未通过")
							} else if ($(this).text() == '5') {
								$(this).text("已处理（不需要申报）")
							}
						})
					}
				});
				//其他异常的数据查询
				table.render({
					elem: '#LAY-app-echart-list',
					height: 400 //容器高度
						,
					url: layui.setter.BASEURL + 'environmental_intelligent_monitoring/tdevicemonitor/queryProductAndTreatList' //数据接口
						,
					page: true,
					where: {
						enterpriseId: vm.companyId,
						productEventType: '0'
					},
					parseData: function(res) { // 数据重新处理为layUI的数据格式
						var msg = {
							"code": res.code, //解析接口状态
							"msg": res.msg, //解析提示文本
							"count": res.data.totalCount, //解析数据长度
							"data": res.data.list //解析数据列表
						};
						return msg;
					},
					cols: [
							[{
									title: '产污监测点',
									field: 'productName',
									minWidth: 100
								},
								{
									title: '治污监测点',
									field: 'treatName',
									minWidth: 100
								},
								{
									title: '发生时间',
									field: 'createDate',
									minWidth: 100
								},
								{
									title: '状态',
									field: 'currentStatus',
									minWidth: 100
								}
							]
						] //设置表头
						,
					limit: 10,
					limits: [10, 15, 20, 25, 30],
					done: function(res, page, count) {
						$("[data-field='currentStatus']").children().each(function() {
							if ($(this).text() == '0') {
								$(this).text("未处理")
							} else if ($(this).text() == '1') {
								$(this).text("已处理未申报")
							} else if ($(this).text() == '2') {
								$(this).text("已申报未审核")
							} else if ($(this).text() == '3') {
								$(this).text("审核通过")
							} else if ($(this).text() == '4') {
								$(this).text("审核未通过")
							} else if ($(this).text() == '5') {
								$(this).text("已处理（不需要申报）")
							}
						})
					}
				});



				// 实时数据      企业的   功率曲线
				setTimeout(function() {
					var data = new Date();
					var date = data.getFullYear() + "-" + (data.getMonth() + 1) + "-" + data.getDate();
					vm.timeDate = date
					axios({
						method: "post",
						url: BASEURL + 'environmental_intelligent_monitoring/tdevicehistory/queryPowerCurve',
						params: {
							enterpriseId: "89",
							// vm.companyId,
							actTime: "2019-10-21"
							// vm.timeDate
						}
					}).then(function(res) {
						myCharts.hideLoading();
						if (res.data.code == 0) {
							for (var i = 0; i < res.data.data.length; i++) {
								value = res.data.data[i].ysp;
								time = res.data.data[i].ysday;
								vm.list_zentime.push(time);
								vm.list_zenvalue.push(value)
							}
							myCharts.setOption({
								title: {
									left: 'center',
									text: '功率曲线',
								},
								tooltip: {
									trigger: 'axis'
								},
								xAxis: {
									type: 'category',
									boundaryGap: false,
									data: vm.list_zentime
								},
								yAxis: {
									type: 'value'
								},
								series: [{
									name: "今日",
									data: vm.list_zenvalue,
									type: 'line',
									areaStyle: {
										normal: {
											color: '#091e3b' //改变区域颜色
										}
									}
								}]
							}, true)

						} else {

						}
					}).catch(function(err) {
						console.log(err);
					});

					//企业界面的柱状图
					axios({
						method: "post",
						url: BASEURL + 'environmental_intelligent_monitoring/tkwhhour/queryCycleEle',
						params: {
							enterpriseId: "89",
							// vm.companyId,
							actTime: "2019-10-21"
							// vm.timeDate
						}
					}).then(function(res) {
						dataBottom.hideLoading();
						if (res.data.code == 0) {
							console.log(res.data.data);
							for (var i = 0; i < res.data.data.length; i++) {
								value = res.data.data[i].kwh;
								time = res.data.data[i].hour + ":00";
								vm.list_zzentime.push(time);
								vm.list_zzenvalue.push(value)
							}
							dataBottom.setOption({
									title: {
										left: 'center',
										text: '周期用电详情',
									},
									xAxis: {
										type: 'category',
										data: vm.list_zzentime
									},
									yAxis: {
										type: 'value'
									},
									series: [{
										data: vm.list_zzenvalue,
										type: 'bar',
										barWidth: 40
									}]
								},
								true)

						} else {

						}
					}).catch(function(err) {
						console.log(err);
					});
				}, 1000);
			})


			var vm = new Vue({
				el: "#vm",
				data: {
					entime: "",
					address: "",
					list_zentime: [],
					companyId: '',
					list_zenvalue: [],
					timeDate: '',
					indextime: "",
					tradeName: "",
					productMonitorNum: '',
					treatMonitorNum: "",
					total: '',
					company: "",
					chargePerson: '',
					firmShow: 1,
					enterpriseTreeList: [],
					// 点击树状图切换右边
					threeRun: 3,
					firmEchartShow: 1,
					// 树状图高亮显示
					firmHigh: true,
					monitorId: "",
					list_zzentime: [],
					list_zzenvalue: [],
					list_zmotime: [],
					list_zmovalue: [],
					list_zzmotime: [],
					list_zzmovalue: []

				},
				methods: {
					// 顶部企业表的按钮切换
					firmEchartClick(val) {
						if (val == 1) {
							this.firmEchartShow = 1;
						} else if (val == 2) {
							this.firmEchartShow = 2;
							this.treeInited();
						} else if (val == 3) {
							this.firmEchartShow = 3;
							this.treeInit();
						} else {
							this.firmEchartShow = 4;
							this.treeInits();
						}

					},
					treeInited() {
						layui.use(['table'], function() {
							var table = layui.table;
							//执行重载
							table.reload('LAY-app-echarted-list', {
								where: {}
							});
						})

					},
					treeInit() {
						layui.use(['table'], function() {
							var table = layui.table;
							//执行重载
							table.reload('LAY-app-echarts-list', {
								where: {}
							});
						})

					},
					treeInits() {
						layui.use(['table'], function() {
							var table = layui.table;
							//执行重载
							table.reload('LAY-app-echart-list', {
								where: {}
							});
						})

					},
					getEnterPriseTreeList: function() {
						axios({
								method: "POST",
								url: BASEURL + 'environmental_intelligent_monitoring/tbasenterprise/enterpriseDendrogramList',
								params: {
									enterpriseId: "90"
									// localStorage.getItem("enterpriseId")
								}
							})
							.then(function(res) {
								if (res.data.code == 0) {
									vm.enterpriseTreeList.push(res.data.data);
									for (var i = 0; i < vm.enterpriseTreeList.length; i++) {
										vm.enterpriseTreeList[i].spread = true;
										console.log(vm.enterpriseTreeList[i].children.length);
										for (var j = 0; j < vm.enterpriseTreeList[i].children.length; j++) {
											vm.enterpriseTreeList[i].children[j].spread = true;
										}
									}
								} else {
									vm.$notify.error({
										title: '错误',
										message: res.data.msg
									})
								}
							})
					},
					getinfo() {

					}

				},
				mounted: function() {
					this.getEnterPriseTreeList();
				}
			})


			// 企业界面日期搜索查找折线图
			function search() {
				setTimeout(function() {
					axios({
						method: "post",
						url: BASEURL + 'environmental_intelligent_monitoring/tdevicehistory/queryPowerCurve',
						params: {
							enterpriseId: vm.companyId,
							actTime: vm.timeDate
						}
					}).then(function(res) {
						vm.list_zentime = []
						vm.list_zenvalue = []
						myCharts.hideLoading();
						if (res.data.code == 0) {
							console.log(res.data.data);
							for (var i = 0; i < res.data.data.length; i++) {
								value = res.data.data[i].ysp;
								time = res.data.data[i].ysday;
								vm.list_zentime.push(time);
								vm.list_zenvalue.push(value)
							}
							myCharts.setOption({
								title: {
									left: 'center',
									text: '功率曲线',
								},
								tooltip: {
									trigger: 'axis'
								},
								xAxis: {
									type: 'category',
									boundaryGap: false,
									data: vm.list_zentime
								},
								yAxis: {
									type: 'value'
								},
								series: [{
									name: "今日",
									data: vm.list_zenvalue,
									type: 'line',
									areaStyle: {
										normal: {
											color: '#091e3b' //改变区域颜色
										}
									}
								}]
							}, true)

						} else {

						}
					}).catch(function(err) {
						console.log(err);
					});
					//柱状图的搜索
					axios({
						method: "post",
						url: BASEURL + 'environmental_intelligent_monitoring/tkwhhour/queryCycleEle',
						params: {
							enterpriseId:vm.companyId,
							actTime: vm.timeDate
						}
					}).then(function(res) {
						vm.list_zzentime = []
						vm.list_zzenvalue = []
						dataBottom.hideLoading();
						if (res.data.code == 0) {
							for (var i = 0; i < res.data.data.length; i++) {
								value = res.data.data[i].kwh;
								time = res.data.data[i].hour + ":00";
								vm.list_zzentime.push(time);
								vm.list_zzenvalue.push(value)
							}
							dataBottom.setOption({
								title: {
									left: 'center',
									text: '周期用电详情',
								},
								xAxis: {
									type: 'category',
									data: vm.list_zzentime
								},
								yAxis: {
									type: 'value'
								},
								series: [{
									data: vm.list_zzenvalue,
									type: 'bar',
									barWidth: 40
								}]
							}, true)

						} else {

						}
					}).catch(function(err) {
						console.log(err);
					});
				}, 1000)


			}

			//检测点     的柱状图和折线图
			function monitorchart() {
				console.log(vm.monitorId);
				var data = new Date();
				var date = data.getFullYear() + "-" + (data.getMonth() + 1) + "-" + data.getDate();
				vm.indextime = date
				setTimeout(function() {
					axios({
						method: "post",
						url: BASEURL + 'environmental_intelligent_monitoring/tdevicehistory/queryPowerCurve',
						params: {
							monitorId: vm.monitorId,
							actTime: vm.indextime
						}
					}).then(function(res) {
						inchart.hideLoading();
						if (res.data.code == 0) {
							console.log(res.data.data);
							for (var i = 0; i < res.data.data.length; i++) {
								value = res.data.data[i].ysp;
								time = res.data.data[i].ysday;
								vm.list_zmotime.push(time);
								vm.list_zmovalue.push(value)
							}
							inchart.setOption({
								title: {
									left: 'center',
									text: '功率曲线',
								},
								tooltip: {
									trigger: 'axis'
								},
								xAxis: {
									type: 'category',
									boundaryGap: false,
									data: vm.list_zmotime
								},
								yAxis: {
									type: 'value'
								},
								series: [{
									name: "今日",
									data: vm.list_zmovalue,
									type: 'line',
									areaStyle: {
										normal: {
											color: '#091e3b' //改变区域颜色
										}
									}
								}]
							}, true)
						} else {

						}
					}).catch(function(err) {
						console.log(err);
					});

					axios({
						method: "post",
						url: BASEURL + 'environmental_intelligent_monitoring/tkwhhour/queryCycleEle',
						params: {
							monitorId: vm.monitorId,
							actTime: vm.indextime
						}
					}).then(function(res) {
						incharts.hideLoading();
						if (res.data.code == 0) {
							console.log(res.data.data);
							for (var i = 0; i < res.data.data.length; i++) {
								value = res.data.data[i].kwh;
								time = res.data.data[i].hour + ":00";
								vm.list_zzmotime.push(time);
								vm.list_zzmovalue.push(value)
							}
							incharts.setOption({
								title: {
									left: 'center',
									text: '周期用电详情',
								},
								xAxis: {
									type: 'category',
									data: vm.list_zzmotime
								},
								yAxis: {
									type: 'value'
								},
								series: [{
									data: vm.list_zzmovalue,
									type: 'bar',
									barWidth: 40
								}]
							}, true)

						} else {

						}
					}).catch(function(err) {
						console.log(err);
					});
				}, 1000)
			}

			//检测点     搜索的柱状图和折线图
			function monitorsearch() {
				setTimeout(function() {
					axios({
						method: "post",
						url: BASEURL + 'environmental_intelligent_monitoring/tdevicehistory/queryPowerCurve',
						params: {
							monitorId: vm.monitorId,
							actTime: vm.indextime
						}
					}).then(function(res) {
						inchart.hideLoading();
						vm.list_zmotime = []
						vm.list_zmovalue = []
						if (res.data.code == 0) {
							console.log(res.data.data);
							for (var i = 0; i < res.data.data.length; i++) {
								value = res.data.data[i].ysp;
								time = res.data.data[i].ysday;
								vm.list_zmotime.push(time);
								vm.list_zmovalue.push(value)
							}
							inchart.setOption({
								title: {
									left: 'center',
									text: '功率曲线',
								},
								tooltip: {
									trigger: 'axis'
								},
								xAxis: {
									type: 'category',
									boundaryGap: false,
									data: vm.list_zmotime
								},
								yAxis: {
									type: 'value'
								},
								series: [{
									name: "今日",
									data: vm.list_zmovalue,
									type: 'line',
									areaStyle: {
										normal: {
											color: '#091e3b' //改变区域颜色
										}
									}
								}]
							}, true)

						} else {

						}
					}).catch(function(err) {
						console.log(err);
					});
					//监测点的柱状图
					axios({
						method: "post",
						url: BASEURL + 'environmental_intelligent_monitoring/tkwhhour/queryCycleEle',
						params: {
							monitorId: vm.monitorId,
							actTime: vm.indextime
						}
					}).then(function(res) {
						incharts.hideLoading();
						vm.list_zzmotime = []
						vm.list_zzmovalue = []
						if (res.data.code == 0) {
							console.log(res.data.data);
							for (var i = 0; i < res.data.data.length; i++) {
								value = res.data.data[i].kwh;
								time = res.data.data[i].hour + ":00";
								vm.list_zzmotime.push(time);
								vm.list_zzmovalue.push(value)
							}
							incharts.setOption({
								title: {
									left: 'center',
									text: '周期用电详情',
								},
								xAxis: {
									type: 'category',
									data: vm.list_zzmotime
								},
								yAxis: {
									type: 'value'
								},
								series: [{
									data: vm.list_zzmovalue,
									type: 'bar',
									barWidth: 40
								}]
							}, true)

						} else {

						}
					}).catch(function(err) {
						console.log(err);
					});
				}, 1000)
			}


			window.onclick = function() {
				inchart.resize();
				incharts.resize();
				myCharts.resize();
			}
		</script>
	</body>

</html>
