<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>系统访问日志</title>
		<link rel="stylesheet" type="text/css" href="../../layuiadmin/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="../../layuiadmin/style/admin.css" />
	</head>
	<body>
		<div class="layui-fluid" id="app">
			<div class="layui-card">
				<div class="layui-form layui-card-header layuiadmin-card-header-auto">
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">创建日期</label>
							<div class="layui-input-inline">
								<input type="text" name="startTime" v-model="startCreateDate" class="layui-input" id="startDate" placeholder="请输入开始日期">
							</div>
							<div class="layui-input-inline">
								<input type="text" name="endTime" v-model="endCreateDate" class="layui-input" id="endDate" placeholder="请输入结束日期">
							</div>
						</div>
						<div class="layui-input-inline" style="width: 80%;margin-top: 10px;margin-left: 15px;border-radius: 5px;">
							<input type="text" name="key" placeholder="搜索关键字" autocomplete="off" class="layui-input">
						</div>
						<div class="layui-inline">
							<button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-search">
								<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
							</button>
						</div>

					</div>
				</div>

				<div class="layui-card-body">

					<table id="LAY-app-content-list" lay-filter="LAY-app-content-list"></table>
				</div>
			</div>
		</div>
	</body>
	<script src="../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../layuiadmin/plugin/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../layuiadmin/plugin/axios.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../layuiadmin/js/baseUrlConfig.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		layui.config({
			base: '../../layuiadmin/' //静态资源所在路径
		}).extend({
			index: 'lib/index' //主入口模块
		}).use(['index', 'table', "jquery", "laydate", "upload", "tree", "util"], function() {

			var table = layui.table,
				form = layui.form,
				laydate = layui.laydate,
				upload = layui.upload,
				tree = layui.tree,
				util = layui.util,
				$ = layui.jquery;


			//开始日期
			laydate.render({
				elem: '#startDate'
			});

			//结束日期
			laydate.render({
				elem: '#endDate'
			});
			

			var areaCode = window.localStorage.getItem("userAreaCode");
			var enterpriseId = window.localStorage.getItem("userEnterpriseId");
			if(areaCode == "undefined"){
				areaCode = ""
			}
			if(enterpriseId == "undefined"){
				enterpriseId = ""
			}


			table.render({
				elem: '#LAY-app-content-list',
				height: 555 //容器高度
					,
				url: layui.setter.BASEURL + '/sys-mgr/sys/log/list' //数据接口
					,
				where: {
					areaCode: areaCode,
					endTime: "",
					enterpriseId: enterpriseId,
					key: '',
					operation: 'operating',
					startTime: ""
				},
				page: true,
				parseData: function(res) { // 数据重新处理为layUI的数据格式
					var msg = {
						"code": res.code, //解析接口状态
						"msg": res.msg, //解析提示文本
						"count": res.page.totalCount, //解析数据长度
						"data": res.page.list //解析数据列表
					};
					return msg;
				},
				cols: [
						[{
								type: 'numbers',
								minWidth: 100
							},
							{
								title: '登录名',
								field: 'username',
								minWidth: 100

							}, {
								title: '操作',
								field: 'operation',
								minWidth: 100,
								width: 200
							}, {
								title: 'IP',
								field: 'ip',
								minWidth: 100

							}, {
								title: '时间',
								field: 'createDate',
								minWidth: 100

							}
						]
					] //设置表头
					,
				limit: 15,
				limits: [15, 30, 50, 100, 200]
			});



			//监听搜索
			form.on('submit(LAY-app-contlist-search)', function(data) {
				var field = data.field;

				//执行重载
				table.reload('LAY-app-content-list', {
					where: field,
					page: {
						curr: 1 //重新从第 1 页开始
					}
				});
			});

			var $ = layui.$,
				active = {
					batchdel: function() {
						var checkStatus = table.checkStatus('LAY-app-content-list'),
							checkData = checkStatus.data; //得到选中的数据
						// // console.log(checkData);
						var idList = [];
						for (var i = 0; i < checkData.length; i++) {
							idList.push(checkData[i].id)
						}
						// // console.log(idList)
						if (checkData.length === 0) {
							return layer.msg('请选择数据');
						}

					},
					add: function() {

					},
					edit: function() {},
					out: function() {

					}
				}

			$('.layui-btn.layuiadmin-btn-list').on('click', function() {
				var type = $(this).data('type');
				active[type] ? active[type].call(this) : '';
			});



		})
	</script>
</html>
