<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>新增</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"
    />
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css">
    <link rel="stylesheet" href="../../../layuiadmin/plugin/element.css">
    <script type="text/javascript" src="../../../layuiadmin/layui/layui.js" charset="utf-8"></script>
    <!-- 引入vue -->
    <script type="text/javascript" src="../../../layuiadmin/plugin/vue.js"></script>
    <script type="text/javascript" src="../../../layuiadmin/plugin/axios.js"></script>
    <script src="../../../layuiadmin/js/baseUrlConfig.js"></script>
    <script src="../../../layuiadmin/plugin/element.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    
    <![endif]-->
    <style>
        .btn-box {
            text-align: center;
        }

        .btn-box button {
            /* margin-right: 30px; */
            margin-bottom: 10px;
        }

        .layui-form-label {
            width: 120px;

        }

        .layui-form-item .layui-input-inline {
            width: 300px;
        }

        .elTree {
            border: 1px solid #e6e6e6;
            border-radius: 4px;
            height: 160px;
            overflow-y: auto;
        }

        .red {
            color: #f00;
            font-size: 22px;
        }
        .layui-form {
            padding-top: 20px;
        }
    </style>
</head>

<body>
    <div id="vm">
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form" action="">
                    <!--   <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            监测点编码</label>
                        <div class="layui-input-inline">
                            <input type="text" v-model="tWarnSet.monitorid" class="layui-input" placeholder="监测点编码" />
                        </div>
                    </div> -->
                    <!-- <input type="hidden" class="layui-input" name="monitorId"> -->
                    <!-- <input type="hidden" class="layui-input" name="eventTypeId"> -->
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            监测点名称
                            <span class="red">*</span>
                        </label>
                        <div class="layui-input-inline elTree">
                            <el-tree :highlight-current="true" v-loading="Treeloading" :data="WarntreeData" :props="defaultProps" @node-click="handleNodeClick"></el-tree>
                            <!-- <input type="text" v-model="monitorName" name="monitorName" class="layui-input" placeholder="监测点名称" /> -->

                        </div>

                    </div>
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            事件类型名称
                            <span class="red">*</span>
                        </label>
                        <div class="layui-input-inline">
                            <!-- <input type="text" v-model="tWarnSet.eventtype" class="layui-input" placeholder="事件类型名称" /> -->

                            <select name="eventTypeId" id="eventType" lay-filter="eventType" lay-verify="required">
                                <option value="">请选择事件类型</option>
                                <option value=""></option>
                            </select>
                        </div>

                    </div>
                    <!-- <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            事件类型编码</label>
                        <div class="layui-input-inline">
                            <input type="text" v-model="tWarnSet.eventtypeid" class="layui-input" placeholder="事件类型编码" />
                        </div>
                    </div> -->
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            参数
                            <span class="red">*</span>
                        </label>
                        <div class="layui-input-inline">
                            <!-- <input type="text" v-model="tWarnSet.parametercode" class="layui-input" placeholder="参数" /> -->
                            <select name="parameterCode" id="parameterCode" lay-verify="required">
                                <option value="">请选择参数类型</option>
                                <option value="P（功率KW）">P（功率KW）</option>
                                <option value="I（电流A）">I（电流A）</option>
                                <option value="U（电压V）">U（电压V）</option>
                                <option value="Pv（用电量Kw.h）">Pv（用电量Kw.h）</option>
                                <option value="PM2.5">PM2.5</option>
                                <option value="PM10">PM10</option>
                                <option value="VOC（气体浓度mg/m3）">VOC（气体浓度mg/m3）</option>
                            </select>
                        </div>

                    </div>
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            条件
                            <span class="red">*</span>
                        </label>
                        <div class="layui-input-inline">
                            <!-- <input type="text" v-model="condition" name="condition" class="layui-input" placeholder="条件" /> -->
                            <select name="condition" id="condition" lay-verify="required">
                                <option value="">请选择条件类型</option>
                                <option value=">=">>=</option>
                                <option value="<="><=</option>
                            </select>
                        </div>

                    </div>
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            阀值
                            <span class="red">*</span>
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" v-model="limitValue" lay-verify="required" name="limitValue" class="layui-input" placeholder="阀值" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            是否启用
                            <span class="red">*</span>
                        </label>
                        <div class="layui-input-inline">
                            <input type="radio" name="active" value="1" checked title="启用">
                            <input type="radio" name="active" value="2" title="禁用">
                        </div>
                    </div>
                    <!-- <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            状态</label>
                        <div class="layui-input-inline" id="status">
                            <input type="radio" name="status" value="1" title="有效">
                            <input type="radio" name="status" value="2" title="无效">
                        </div>
                    </div> -->
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            备注</label>
                        <div class="layui-input-inline">
                            <!-- <input type="text" v-model="tWarnSet.remark" class="layui-input" placeholder="备注" /> -->
                            <textarea placeholder="请输入内容" class="layui-textarea" name="remark" v-model="remark"></textarea>
                        </div>
                    </div>
                    <div class="btn-box">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">添加</button>
                        <button class="layui-btn layui-btn-danger" @click="cancel">取消</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <script>
        layui.config({
            base: '../../../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', "jquery", 'form'], function () {
            var form = layui.form,
                $ = layui.jquery;

            // select事件类型数据填充
            axios({
                method: "post",
                url: BASEURL + 'environmental_intelligent_monitoring/twarnsubscribe/queryEventTypeDictionary',
                params: {}
            }).then(function (res) {
                if (res.data.code == 0) {
                    // console.log(res)
                    $.each(res.data.data, function (index, item) {
                        // console.log(index, item)
                        $('#eventType').append(new Option(item.eventType, item.eventTypeId));// 下拉菜单里添加元素
                    });
                    layui.form.render("select");

                } else {

                }
            }).catch(function (err) {
                console.log(err);
            });


            form.on('select(eventType)', function (data) {
                // console.log(data.elem[data.elem.selectedIndex].text);
                vm.eventType = data.elem[data.elem.selectedIndex].text
                form.render()

            })
            form.on('submit(formDemo)', function (data) {
                console.log(data);
                // data.field.monitorId = Math.floor(Math.random() * 100);
                data.field.eventType = vm.eventType;
                data.field.monitorName = vm.treeLabel;
                data.field.monitorId = vm.monitorId;
                if (!data.field.active) {
                    vm.$message.warning('请选择是否启用');
                } else {
                    axios({
                        method: "post",
                        url: layui.setter.BASEURL + 'environmental_intelligent_monitoring/twarnset/save',
                        data: data.field,
                        headers: {
                            "Content-Type": "application/json;charset=UTF-8"
                        }
                    }).then(function (res) {
                        if (res.data.code == 0) {
                            console.log(res)
                            layer.msg('保存成功！', {
                                time: 500
                            }, function () {
                                window.parent.location.reload();
                                parent.layer.close('iframe');
                            }
                            );
                        } else {
                            vm.$notify.error({
                                title: '错误',
                                message: '保存异常'
                            });
                        }
                    }).catch(function (err) {
                        console.log(err);
                    });
                }
                return false;
            })


        })

        var vm = new Vue({
            el: "#vm",
            data: {
                monitorName: "",
                eventType: "",
                condition: "",
                limitValue: "",
                remark: "",

                WarntreeData: [],
                defaultProps: {
                    children: 'children',
                    label: 'title'
                },
                treeLabel: "",
                monitorId: "",
                dataPush: [],
                Treeloading: false
            },
            methods: {
                handleNodeClick(data) {
                    console.log(data);
                    if (data.type == "t_device_monitor") {
                        vm.treeLabel = data.title
                        vm.monitorId = data.id;
                    }
                    // console.log(vm.treeLabel, vm.monitorId);

                },
                getArray(data, name) {
                    for (var i in data) {
                        // console.log('i', i);
                        // console.log('datai', data[i].children);
                        // var dataPush = [];
                        if (data[i].type == name) {
                            console.log(data[i]);
                            vm.dataPush.push(data[i])
                            // break;
                        } else {
                            vm.getArray(data[i].children, name);
                        }
                        console.log(vm.dataPush)
                    }
                },

                twarnInit() {
                    // 监测点树状组件
                    this.Treeloading = true;
                    axios({
                        method: "post",
                        url: BASEURL + 'environmental_intelligent_monitoring/tbasorganize/dendrogramList',
                        params: { type: "5" }
                    }).then(function (res) {
                        if (res.data.code == 0) {
                            var data = res.data.data;
                            vm.Treeloading = false;
                            vm.getArray(data, 't_bas_enterprise')
                            vm.WarntreeData = vm.dataPush;
                        } else {
                            vm.$notify.error({
                                title: '错误',
                                message: res.data.msg
                            });

                        }
                    }).catch(function (err) {
                        console.log(err);
                    });
                },
                // twarnInit() {
                //     // 监测点树状组件
                //     axios({
                //         method: "post",
                //         url: BASEURL + 'environmental_intelligent_monitoring/tdevicemonitor/list?limit=10000',
                //         params: {}
                //     }).then(function (res) {
                //         if (res.data.code == 0) {
                //             var treedata = res.data.page.list;
                //             var newList = [];
                //             treedata.forEach(function (data) {
                //                 // console.log(data)
                //                 for (var i = 0; i < newList.length; i++) {
                //                     if (newList[i].id === data.enterpriseId) {
                //                         for (var j = 0; j < newList[i].children.length; j++) {
                //                             if (newList[i].children[j].label === data.shopName) {
                //                                 newList[i].children[j].children.push({
                //                                     label: data.monitorName, id: data.id
                //                                 });
                //                                 console.log(data.shopName)

                //                             } else {
                //                                 newList[i].children.push({
                //                                     label: data.shopName,
                //                                     children: [{ label: data.monitorName, id: data.id }]
                //                                 });

                //                             }
                //                             return;
                //                         }

                //                         // newList[i].children.push({
                //                         //     label: data.shopName,
                //                         //     children: [{ label: data.monitorName, id: data.id }]
                //                         // });
                //                         newList[i].num++;
                //                         // return;
                //                     }
                //                 }
                //                 newList.push({
                //                     label: data.enterpriseName,
                //                     id: data.enterpriseId,
                //                     num: 1,
                //                     children: [{
                //                         // shopName: data.shopName,
                //                         label: data.shopName,
                //                         children: [{ label: data.monitorName, id: data.id }]
                //                     }]
                //                 });
                //             });
                //             console.log(newList);
                //             vm.WarntreeData = newList;


                //         } else {
                //             vm.$notify.error({
                //                 title: '错误',
                //                 message: res.data.msg
                //             });

                //         }
                //     }).catch(function (err) {
                //         console.log(err);
                //     });
                // },
                cancel() {
                    parent.layer.closeAll('iframe');//关闭弹窗
                }
            },
            created() {
                this.twarnInit();
            }
        });
    </script>
</body>

</html>