<!DOCTYPE html>
<html style="background-color: #fff;">

<head>
	<meta charset="utf-8">
	<title>企业监管分配</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
	<link rel="stylesheet" type="text/css" href="../../../layuiadmin/plugin/element.css" />
	<link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
	<link rel="stylesheet" type="text/css" href="../../../layuiadmin/style/tbasenterpriseallocate.css" />
	<link rel="stylesheet" type="text/css" href="../../../layuiadmin/style/common.css" />
</head>

<body>
	<div id="vm">
		<div class="layui-fluid layui-col-space30">
			<div class="layui-card layui-col-md4 layui-col-lg4">
				<div class="layui-card-header card-title">用户列表</div>
				<div class="l-card-border">
					<el-radio-group v-model="selectUser" text-color="#000000" class="user-list-box">
						<div v-for="it in userList" class="user-item">
							<el-radio class="user-list-radio" :label="it.username"></el-radio>
						</div>
					</el-radio-group>
				</div>
				<el-button size="small" type="danger" :loading="reducedLoading" class="submit-btn" @click="reducedData">
					还原</el-button>
				<el-button size="small" type="primary" :loading="submitLoading" class="submit-btn" @click="submitData">
					保存分配</el-button>
			</div>
			<div class="layui-card layui-col-md8 layui-col-lg8" style="min-height: 800px;">
				<div class="layui-card-header card-title">企业列表</div>

				<div class="l-card-border">

					<div class="layui-form layui-card-header layuiadmin-card-header-auto">
						<div class="layui-form-item">
							<div class="layui-inline">
								<label class="layui-form-label">企业名称</label>
								<div class="layui-input-inline">
									<input type="text" name="title" placeholder="请输入" autocomplete="off"
										class="layui-input" v-model="enterpriseName">
								</div>
							</div>
							<div class="layui-inline">

								<label class="layui-form-label">选择行业</label>
								<div class="layui-input-block">
									<el-select v-model="selectTrade" placeholder="请选择">
										<el-option v-for="it in tradeList" :key="it.id" :label="it.name" :value="it.id">
										</el-option>
									</el-select>
								</div>
							</div>
							<div class="layui-inline" style="margin-left: 50px;">
								<button class="layui-btn layuiadmin-btn-list" @click="searchFunc">
									<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
								</button>
							</div>
						</div>
					</div>

					<div style="max-height: 800px;overflow: scroll;">
						<el-checkbox-group v-model="selectEnterprise" text-color="#000000"
							class="enterprise-list-box">
							<div v-for="it in enterpriseList" class="enterprise-item">
								<el-checkbox :label="it.name" :value="it.id" class="user-list-checkbox"></el-checkbox>
							</div>
						</el-checkbox-group>
					</div>

				</div>
			</div>
		</div>
	</div>
	<script src="../../../layuiadmin/js/baseUrlConfig.js"></script>
	<script src="../../../layuiadmin/layui/layui.js"></script>
	<script src="../../../layuiadmin/plugin/vue.min.js"></script>
	<script src="../../../layuiadmin/plugin/element.js"></script>
	<script src="../../../layuiadmin/plugin/axios.js"></script>
	<script>
		var vm = new Vue({
			el: "#vm",
			data: {
				submitLoading: false, // 提交按钮状态
				reducedLoading: false, // 还原按钮状态

				userList: [], // 用户列表
				enterpriseList: [], // 企业列表
				searchEnterprise: [],//搜索企业列表
				tradeList: [{
					name: "不限",
					id: ""
				}], // 行业列表

				selectUser: '', // 选择用户
				selectUserId: '', // 选择用户的ID
				selectEnterprise: [], // 选择的企业
				selecterEnterpriseIdList: [], // 选择的企业ID数组

				enterpriseName: '', // 搜索框输入的名字
				selectTrade: '', // 选择的行业

			},
			methods: {
				pageInit: function () {
					// 用户
					axios({
						method: "GET",
						url: BASEURL + "sys-mgr/sys/user/list",
						params: {
							userId: window.localStorage.getItem("userId"),
							areaCode: 1
						}
					})
						.then(function (res) {
							if (res.data.code == 0) {
								vm.userList = res.data.page.list;
							} else {
								vm.$notify.error({
									title: '错误',
									message: res.data.msg
								});
							}
						});
					// 企业
					axios({
						method: "GET",
						url: BASEURL + "environmental_intelligent_monitoring/tbasenterprise/list?limit=100000",
						params: {
							// userId: window.localStorage.getItem("userId")
						}
					})
						.then(function (res) {
							if (res.data.code == 0) {
								vm.searchEnterprise = res.data.page.list;
								vm.enterpriseList = res.data.page.list;
							} else {
								vm.$notify.error({
									title: '错误',
									message: res.data.msg
								});
							}
						});

					// 行业
					axios({
						method: "GET",
						url: BASEURL + "environmental_intelligent_monitoring/tbastrade/list?limit=100000",
						params: {
							userId: window.localStorage.getItem("userId")
						}
					})
						.then(function (res) {
							if (res.data.code == 0) {
								for (var i = 0; i < res.data.page.list.length; i++) {
									vm.tradeList.push(res.data.page.list[i])
								}
							} else {
								vm.$notify.error({
									title: '错误',
									message: res.data.msg
								})
							}
						})
				},

				// 保存分配
				submitData: function () {
					vm.submitLoading = true;
					vm.submitLoading = false;
					if (vm.selectUser == "") {
						vm.$notify.error({
							title: '错误',
							message: '未作出修改'
						})
					} else {
						var data = JSON.stringify({
							userId: window.localStorage.getItem("userId"),
							updateUserId: vm.selectUserId,
							enterpriseIdList: vm.selecterEnterpriseIdList
						})
						axios({
							method: "POST",
							url: BASEURL + "environmental_intelligent_monitoring/tbasenterpriseallocate/saveBatch",
							headers: {
								"Content-Type": "application/json;charset=UTF-8"
							},
							data: data
						})
							.then(function (res) {
								if (res.data.code == 0) {
									vm.selectUser = '';
									vm.selectUserId = '';
									vm.selectEnterprise = [];
									vm.selecterEnterpriseIdList = [];
									layer.alert('操作成功', function (index) {
										layer.close(index)
										vm.pageInit();
									});
								} else {
									vm.$notify.error({
										title: '错误',
										message: res.data.msg
									})
								}
							})
					}

				},
				// 还原
				reducedData: function () {
					vm.reducedLoading = true;
					vm.queryUserEnterprise();
				},
				// 查询关系
				queryUserEnterprise: function () {
					axios({
						method: "POST",
						url: BASEURL + "environmental_intelligent_monitoring/tbasenterpriseallocate/list",
						params: {
							userId: vm.selectUserId,
							limit: 15000
						}
					})
						.then(function (res) {
							if (res.data.code == 0) {
								vm.reducedLoading = false;
								vm.selectEnterprise = []
								for (var i = 0; i < res.data.page.list.length; i++) {
									for (var j = 0; j < vm.searchEnterprise.length; j++) {
										if (res.data.page.list[i].enterpriseId == vm.searchEnterprise[j].id) {
											vm.selectEnterprise.push(vm.searchEnterprise[j].name)
										}
									}
								}
							} else {
								vm.$notify.error({
									title: '错误',
									message: '这是一条错误的提示消息'
								});
							}
						})
				},

				// 搜索筛选
				searchFunc: function () {
					// 重新请求一次企业列表接口
					axios({
						method: "POST",
						url: BASEURL + "environmental_intelligent_monitoring/tbasenterprise/list",
						params: {
							limit: 150000,
							name: vm.enterpriseName,
							tradeId: vm.selectTrade,
							userId: window.localStorage.getItem("userId")
						}
					})
						.then(function (res) {
							if (res.data.code == 0) {
								vm.enterpriseList = res.data.page.list;
							} else {
								vm.$notify.error({
									title: '错误',
									message: res.data.msg
								});
							}
						});

				}
			},
			mounted: function () {
				// 初始化加载
				this.pageInit();
			},
			watch: {
				//  监听用户列表单选框值的变化,锁定当前选中用户的ID
				selectUser: function () {
					for (var i = 0; i < vm.userList.length; i++) {
						if (vm.selectUser == vm.userList[i].username) {
							vm.selectUserId = vm.userList[i].userId;
							vm.queryUserEnterprise();
						}
					}
				},
				// 监听企业列表值
				selectEnterprise: function (val) {
					vm.selecterEnterpriseIdList = [];
					if (vm.selectEnterprise.length == 0) {
						vm.selecterEnterpriseIdList = [];
						return;
					};
					for (var i = 0; i < vm.selectEnterprise.length; i++) {
						for (var j = 0; j < vm.searchEnterprise.length; j++) {
							if (vm.selectEnterprise[i] == vm.searchEnterprise[j].name) {
								vm.selecterEnterpriseIdList.push(vm.searchEnterprise[j].id)
							}
						}
					};
				},
			}
		})





		layui.config({
			base: '../../../layuiadmin/' //静态资源所在路径
		}).extend({
			index: 'lib/index' //主入口模块
		}).use(['index', 'form', 'jquery', 'layer'], function () {

			var form = layui.form;
			var $ = layui.jquery;
			var layer = layui.layer;

		});
	</script>
</body>

</html>