<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>环保用电云平台</title>
		<link rel="stylesheet" type="text/css" href="../layuiadmin/style/dataControler.css" />
	</head>
	<body style="margin: 0;">
		<div id="app" >
			<div>
				<dv-full-screen-container>
					<dv-loading v-show="!isReady">加载中...</dv-loading>
					<dv-border-box-1>
						<div class="data-heade">
							<div>
								<dv-decoration-8 :reverse="false" style="width:calc(25% + 80px);height:30px;position: absolute;top: 40px;right: 20px;" />
							</div>
							<div class="home-box">
								<img class="home-icon" src="../layuiadmin/img/home.png" @click="toIndexPage">
							</div>
							<div class="title-box">
								<!-- <p class="title">环保用电在线监管云平台</p> -->
								<p class="title">
									环保用电在线监管云平台
									<dv-decoration-5 style="width:300px;height:40px;position: absolute;left: calc(50% - 150px);" />
								</p>
							</div>
							<div class="time-box">
								<p class="time-item" v-text="nowData"></p>
							</div>
							<div>
								<dv-decoration-8 :reverse="true" style="width:calc(25% + 80px);height:30px;position: absolute;top: 40px;left: 20px;" />
							</div>
						</div>

						<div class="data-content">
							<div class="enterprise-box">
								<dv-border-box-2>
									<div class="enterprise-item font-white" style="width: 100%;">
										<p style="padding: 0;margin: 0;font-size: 12px;">各行业异常企业占比</p>
										<dv-active-ring-chart :config="tradeAbnormal" style="height: 110px;width: calc(100% - 20px);padding: 0 10px;" />
									</div>
								</dv-border-box-2>
							</div>

							<div class="enterprise-box">
								<dv-border-box-2>
									<div class="enterprise-item font-white">
										<p>
											<dv-digital-flop :config="enterpriseNum" style="width:100%;height: 20px;" />
										</p>

										<p>
											<dv-digital-flop :config="productMonitorNum" style="width:100%;height: 20px;" />
										</p>

										<p>
											<dv-digital-flop :config="treatMonitorNum" style="width:100%;height: 20px;" />
										</p>

										<p>
											<dv-digital-flop :config="monitorNum" style="width:100%;height: 20px;" />
										</p>
									</div>
								</dv-border-box-2>
							</div>

							<div class="enterprise-box">
								<dv-border-box-2>
									<div class="enterprise-item font-white">
										<p>
											<dv-digital-flop :config="abnormalNum" style="width:100%;height: 50px;" />
										</p>
										<p>
											<dv-digital-flop :config="treatAbnormalNum" style="width:100%;height: 50px;" />
										</p>
									</div>
								</dv-border-box-2>
							</div>

							<div class="enterprise-box">
								<dv-border-box-2>
									<div class="enterprise-item font-white">
										<p>
											<dv-digital-flop :config="limitProduct" style="width:100%;height: 30px;" />
										</p>
										<p>
											<dv-digital-flop :config="stopProduct" style="width:100%;height: 30px;" />
										</p>

										<p>
											<dv-digital-flop :config="unexecut" style="width:100%;height: 30px;" />
										</p>
									</div>
								</dv-border-box-2>
							</div>

							<div class="enterprise-box">
								<dv-border-box-2>
									<div class="enterprise-item font-white" style="width: 100%;">
										<p style="padding: 0;margin: 0;font-size: 12px;">各区域异常企业占比</p>
										<dv-active-ring-chart :config="organizeAbnormal" style="height: 110px;width: calc(100% - 20px);padding: 0 10px;" />
									</div>
								</dv-border-box-2>
							</div>
						</div>

						<div class="content-box">
							<div class="data-content2">
								<div class="stop-enter-list">
									<dv-border-box-3 style="width: 100%; height: 350px;">
										<p class="font-white" style="width: 100%;text-align: center;padding: 25px 0 0 0;margin: 0;height: 30px;line-height: 30px;">停限产列表</p>
										<dv-scroll-board :config="stopEnterList" style="width: calc(100% - 50px);height: 270px;padding: 0 0 0 25px;" />
									</dv-border-box-3>
								</div>

								<div class="stop-enter-list">
									<dv-border-box-3 :reverse="true" style="width: 100%; height: 340px;padding-top: 10px;">
										<dv-charts :option="effortsOption" />
									</dv-border-box-3>
								</div>
								

							</div>
							<div class="data-content2">
								<dv-charts :option="startMonitorOption" style="width: 100%; height: 340px;margin-bottom: 100px;" />
							</div>
						</div>

					</dv-border-box-1>
				</dv-full-screen-container>
			</div>
		</div>






		<script src="../layuiadmin/js/baseUrlConfig.js"></script>
		<script src="../layuiadmin/plugin/vue.js"></script>
		<script src="../layuiadmin/plugin/dataV/datav.map.vue.js"></script>
		<script src="../layuiadmin/plugin/axios.js"></script>
		<script type="text/javascript">
			var app = new Vue({
				el: '#app',
				data: {
					nowData: "",
					isReady: false,
					enterpriseNum: {
						number: [0],
						content: "企业数量:                {nt}家",
						style: {
							fontSize: 14,
							fill: '#ffffff'
						},
						animationCurve: "easeOutCubic",
						animationFrame: 100
					},
					productMonitorNum: {
						number: [0],
						content: "产污监测:                {nt}个",
						style: {
							fontSize: 14,
							fill: '#ffffff'
						},
						animationCurve: "easeOutCubic",
						animationFrame: 100
					},
					treatMonitorNum: {
						number: [0],
						content: "治污监测:                {nt}个",
						style: {
							fontSize: 14,
							fill: '#ffffff'
						},
						animationCurve: "easeOutCubic",
						animationFrame: 100
					},
					monitorNum: {
						number: [0],
						content: "总表:                       {nt}个",
						style: {
							fontSize: 14,
							fill: '#ffffff'
						},
						animationCurve: "easeOutCubic",
						animationFrame: 100
					},
					abnormalNum: {
						number: [0],
						content: "异常企业:            {nt}家",
						style: {
							fontSize: 14,
							fill: '#ffffff'
						},
						animationCurve: "easeOutCubic",
						animationFrame: 100
					},
					treatAbnormalNum: {
						number: [0],
						content: "涉及污染设施:     {nt}处",
						style: {
							fontSize: 14,
							fill: '#ffffff'
						},
						animationCurve: "easeOutCubic",
						animationFrame: 100
					},
					limitProduct: {
						number: [0],
						content: "限产企业:         {nt}家",
						style: {
							fontSize: 14,
							fill: '#ffffff'
						},
						animationCurve: "easeOutCubic",
						animationFrame: 100
					},
					stopProduct: {
						number: [0],
						content: "停产企业:         {nt}家",
						style: {
							fontSize: 14,
							fill: '#ffffff'
						},
						animationCurve: "easeOutCubic",
						animationFrame: 100
					},
					unexecut: {
						number: [0],
						content: "未执行企业:      {nt}家",
						style: {
							fontSize: 14,
							fill: '#ffffff'
						},
						animationCurve: "easeOutCubic",
						animationFrame: 100
					},
					stopEnterList: {
						header: ['企业名称', '监测点名称', '行业', '停限产'],
						data: [],
						index: true,
						columnWidth: [50,200],
						align: ['center']
					},
					tradeAbnormal: {
						lineWidth: 10,
						radius: 45,
						activeRadius: 50,
						digitalFlopStyle: {
							fontSize: 18
						},
						data: []
					},
					organizeAbnormal: {
						lineWidth: 10,
						radius: 45,
						activeRadius: 50,
						digitalFlopStyle: {
							fontSize: 18
						},
						data: []
					},
					effortsOption: {
						title: {
							text: '错峰生产对比',
							style: {
								fill: "#fff"
							}
						},
						xAxis: {
							data: ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15',
								'16', '17', '18', '19', '20', '21', '22', '23'
							],
							axisLabel: {
								style: {
								  fill: '#fff'
								}
							},
							axisLine: {
								style: {
								  stroke: '#fff'
								}
							},
							axisTick: {
								style: {
								  stroke: '#fff'
								}
							},
							splitLine: {
								style: {
								  stroke: '#fff'
								}
							}
							
						},
						yAxis: {
							data: 'value',
							axisLabel: {
								style: {
								  fill: '#fff'
								}
							},
							axisLine: {
								style: {
								  stroke: '#fff'
								}
							},
							axisTick: {
								style: {
								  stroke: '#fff'
								}
							},
							splitLine: {
								style: {
								  stroke: '#fff'
								}
							}
						},
						series: [{
							data: [1200, 2230, 1900, 2100, 3500, 4200, 3985],
							type: 'line',
							lineArea: {
								show: true
							}
						}]
					},
					startMonitorOption: {
						title: {
						    text: '产/治污设施运行情况',
							style: {
								fill: "#fff"
							}
						},
						legend: {
						    data: ['产污', '治污'],
							textStyle: {
								fill: '#fff'
							}
						},
						xAxis: {
						    data: ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15',
						    	'16', '17', '18', '19', '20', '21', '22', '23'
						    ],
						    axisLabel: {
						    	style: {
						    	  fill: '#fff'
						    	}
						    },
						    axisLine: {
						    	style: {
						    	  stroke: '#fff'
						    	}
						    },
						    axisTick: {
						    	style: {
						    	  stroke: '#fff'
						    	}
						    },
						    splitLine: {
						    	style: {
						    	  stroke: '#fff'
						    	}
						    }
						},
						yAxis: {
							data: 'value',
							axisLabel: {
								style: {
								  fill: '#fff'
								}
							},
							axisLine: {
								style: {
								  stroke: '#fff'
								}
							},
							axisTick: {
								style: {
								  stroke: '#fff'
								}
							},
							splitLine: {
								style: {
								  stroke: '#fff'
								}
							}
						},
						series: [
						    {	
								name: '产污',
								data: [1200, 2230, 1900, 2100, 3500, 4200, 3985],
								type: 'bar',
								gradient: {
									color: ['#37a2da', '#67e0e3']
								}
						    },
							{	
								name: '治污',
								data: [1000, 2130, 1840, 2000, 350, 4290, 2985],
								type: 'bar',
								gradient: {
									color: ['#37a2da', '#67e0e3']
								}
							}
						]
					},
				},
				methods: {
					pageInit: function() {
						axios({
								method: "POST",
								url: BASEURL + "/environmental_intelligent_monitoring/homePage/queryEnterpriseReport",
								params: {
									userId: window.localStorage.getItem("userId")
								}
							})
							.then(function(res) {
								app.isReady = true;
								// 企业数量
								app.enterpriseNum = {
									...app.enterpriseNum,
									number: [res.data.enterpriseNum[0].enterpriseNum]
								}
								// 产污检测
								app.productMonitorNum = {
									...app.productMonitorNum,
									number: [res.data.enterpriseNum[0].productMonitorNum]
								}
								// 治污监测
								app.treatMonitorNum = {
									...app.treatMonitorNum,
									number: [res.data.enterpriseNum[0].treatMonitorNum]
								}
								// 监测点数量
								app.monitorNum = {
									...app.monitorNum,
									number: [res.data.enterpriseNum[0].monitorNum]
								}
								// 异常企业
								app.abnormalNum = {
									...app.abnormalNum,
									number: [res.data.abnormalNum[0].abnormalNum]
								}
								// 涉及污染设施
								app.treatAbnormalNum = {
									...app.treatAbnormalNum,
									number: [res.data.abnormalNum[0].treatAbnormalNum]
								}
								// 限产企业
								app.limitProduct = {
									...app.limitProduct,
									number: [res.data.productNum[0].limitProduct]
								}
								// 停产企业
								app.stopProduct = {
									...app.stopProduct,
									number: [res.data.productNum[0].stopProduct]
								}
								// 未执行企业
								app.unexecut = {
									...app.unexecut,
									number: [res.data.productNum[0].unexecut]
								}
								// 各行业异常企业占比
								var tradeAbnormalData = [];
								for (var i = 0; i < res.data.abnormalTradeNum.length; i++) {
									var obj = {
										name: res.data.abnormalTradeNum[i].name,
										value: res.data.abnormalTradeNum[i].abnormalNum
									}
									tradeAbnormalData.push(obj);
								}
								app.tradeAbnormal = {
									...app.tradeAbnormal,
									data: tradeAbnormalData
								}
								// 各区域异常企业占比
								var organizeAbnormalData = [];
								for (var i = 0; i < res.data.abnormalOrganizeNum.length; i++) {
									var obj = {
										name: res.data.abnormalOrganizeNum[i].name,
										value: res.data.abnormalOrganizeNum[i].abnormalNum
									}
									organizeAbnormalData.push(obj);
								}
								app.organizeAbnormal = {
									...app.organizeAbnormal,
									data: organizeAbnormalData
								}
								// 停限产列表
								var reduceList = [];
								for (var i = 0; i < res.data.reduceList.length; i++) {
									var reduceListData = [];
									reduceListData.push(res.data.reduceList[i].enterpriseName);
									reduceListData.push(res.data.reduceList[i].MonitorName);
									reduceListData.push(res.data.reduceList[i].TradeName);
									reduceListData.push(res.data.reduceList[i].ProduceType);
									reduceList.push(reduceListData);
								}
								
								if(reduceList.length == 0){
									app.stopEnterList = {
										header: ['企业名称', '监测点名称', '行业', '停限产'],
										data: [],
										index: true,
										columnWidth: [50,150,150,100],
										align: ['center','center','center','center','center'],
										// reduceList
									}
								}else{
									app.stopEnterList = {
										header: ['企业名称', '监测点名称', '行业', '停限产'],
										data: reduceList,
										index: true,
										columnWidth: [50],
										align: ['center','center','center','center','center'],
									}
								}
								// 错峰生产对比
								var effortsData = [];
								for (var i = 0; i < res.data.AQIAndKwh.length; i++) {
									effortsData.push(res.data.AQIAndKwh[i].kwh)
								};
								app.effortsOption = {
									title: {
										text: '错峰生产对比',
										style: {
											fill: "#fff"
										}
									},
									xAxis: {
										data: ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15',
											'16', '17', '18', '19', '20', '21', '22', '23'
										],
										axisLabel: {
											style: {
											  fill: '#fff'
											}
										},
										axisLine: {
											style: {
											  stroke: '#fff'
											}
										},
										axisTick: {
											style: {
											  stroke: '#fff'
											}
										},
										splitLine: {
											style: {
											  stroke: '#fff'
											}
										}
										
									},
									yAxis: {
										data: 'value',
										axisLabel: {
											style: {
											  fill: '#fff'
											}
										},
										axisLine: {
											style: {
											  stroke: '#fff'
											}
										},
										axisTick: {
											style: {
											  stroke: '#fff'
											}
										},
										splitLine: {
											style: {
											  stroke: '#fff'
											}
										}
									},
									series: [{
										data: effortsData,
										type: 'line',
										lineArea: {
											show: true
										}
									}]
								};
								
								// 产/治污设施运行情况
								var startMonitor1 = [];
								var startMonitor2 = [];
								for (var i = 0; i < res.data.startMonitorNum.length; i++) {
									startMonitor1.push(res.data.startMonitorNum[i].productNum)
									startMonitor2.push(res.data.startMonitorNum[i].treatNum)
								};
								app.startMonitorOption = {
									title: {
									    text: '产/治污设施运行情况',
										style: {
											fill: "#fff"
										}
									},
									legend: {
									    data: ['产污', '治污'],
										textStyle: {
											fill: '#fff'
										}
									},
									xAxis: {
									    data: ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15',
									    	'16', '17', '18', '19', '20', '21', '22', '23'
									    ],
									    axisLabel: {
									    	style: {
									    	  fill: '#fff'
									    	}
									    },
									    axisLine: {
									    	style: {
									    	  stroke: '#fff'
									    	}
									    },
									    axisTick: {
									    	style: {
									    	  stroke: '#fff'
									    	}
									    },
									    splitLine: {
									    	style: {
									    	  stroke: '#fff'
									    	}
									    }
									},
									yAxis: {
										data: 'value',
										axisLabel: {
											style: {
											  fill: '#fff'
											}
										},
										axisLine: {
											style: {
											  stroke: '#fff'
											}
										},
										axisTick: {
											style: {
											  stroke: '#fff'
											}
										},
										splitLine: {
											style: {
											  stroke: '#fff'
											}
										}
									},
									series: [
									    {	
											name: '产污',
											data: startMonitor1,
											type: 'bar',
											gradient: {
												color: ['#37a2da', '#67e0e3']
											}
									    },
										{	
											name: '治污',
											data: startMonitor2,
											type: 'bar',
											gradient: {
												color: ['#37a2da', '#67e0e3']
											}
										}
									]
								}

							})

						this.getNowFormatDate();
						
					},
					toIndexPage: function(){
						window.location.href = "./index.html";
					},
					getNowFormatDate : function () {
					    var date = new Date();
					    var seperator1 = "-";
					    var seperator2 = ":";
					    var month = date.getMonth() + 1;
					    var strDate = date.getDate();
					    if (month >= 1 && month <= 9) {
					        month = "0" + month;
					    }
					    if (strDate >= 0 && strDate <= 9) {
					        strDate = "0" + strDate;
					    }
					    var hours = date.getHours();
					    if(hours >=0 && hours <=9){
					        hours = "0" + hours;
					    }
					    var minutes = date.getMinutes();
					    if(minutes >=0 && minutes <=9){
					        minutes = "0" + minutes;
					    }
					    var seconds = date.getSeconds();
					    if(seconds >=0 && seconds <=9){
					        seconds = "0" + seconds;
					    }
					    var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
					            + " " + hours + seperator2 + minutes
					            + seperator2 + seconds;
						this.nowData = currentdate;
					}
				},
				mounted: function() {
					this.pageInit();
					setInterval(function() {
						app.pageInit();
					}, 60000);
				}
			})
		</script>
	</body>
</html>
