<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>企业及产污设施分析</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" media="all" href="../../../layuiadmin/layui/css/layui.css" />
		<link rel="stylesheet" media="all" href="../../../layuiadmin/style/admin.css" />
		<link rel="stylesheet" type="text/css" href="../../../layuiadmin/plugin/element.css" />
	</head>
	<style type="text/css">
		.tree {
			z-index: 999;
			background: white;
			border: gainsboro solid 1px;
			margin-top: 2px;
			position: relative;
			padding: 0px 8px;
		}

		.actived {
			animation: rotated 0.2s linear forwards;
		}

		.actived_after {
			animation: rotated_after 0.2s linear forwards;
		}

		@keyframes rotated {
			from {
				transform: rotate(0deg);
			}

			to {
				transform: rotate(180deg);
			}
		}

		@keyframes rotated_after {
			from {
				transform: rotate(180deg);
			}

			to {
				transform: rotate(0deg);
			}
		}

		.flex {
			display: flex;
			background: ghostwhite;
		}

		.chartstatistics {
			width: 80%;
			margin-left: 10%;
			margin-right: 10%;
			padding: 0px;
			line-height: 24px;
			/* margin-bottom: 10px; */
		}

		.box {
			display: flex;
			background: white;
			border: 1px solid white;
			padding: 0 10px;
		}

		.box_odd {
			display: flex;
			background: gainsboro;
			border: 1px solid white;
			padding: 0 10px;
		}

		.empty {
			height: 30px;
			z-index: 999;
			background: white;
			position: relative;
			padding-left: 26px;

		}

		.AdminArea {
			position: relative;
		}

		.AdminArea .Areashow {
			position: absolute;
			width: 100%;
			border: 1px solid #e6e6e6;
			/* border-radius: 4px; */
			z-index: 999;
			/* height: 200px; */
			background-color: #fff;

		}

		.AdminArea .layui-icon {
			cursor: pointer;
			color: #c2c2c2;
		}
	</style>

	<body>

		<div class="layui-fluid" id="app">
			<div class="layui-card">
				<div class="layui-form layui-card-header layuiadmin-card-header-auto">
					<div class="layui-form-item">
						<button type="button" class="layui-btn " @click="showH()">
							行业
						</button>
						<button type="button" class="layui-btn " @click="showX()">
							行政区域
						</button>
					</div>
					<div v-show="show == 1">
						<div class="layui-form-item">
							<div class="layui-inline">
							    <label class="layui-form-label">行政区域</label>
							    <div class="layui-input-inline AdminArea">
							        <input type="text" name="organizeName" readonly="readonly" id= "div_" v-model="atraName" placeholder="请选择行政区域" autocomplete="off" class="layui-input">
									<!-- <el-input type="text" name="organizeName" readonly="readonly"  id= "div_" v-model="atraName" placeholder="请选择行政区域" ></el-input> -->
									<i class="layui-icon-triangle-d layui-icon" v-bind:class="[{ actived: isActive },{ actived_after: !isActive }]"
									 @click="appear()"></i>
							        <div class="Areashow layui-anim layui-anim-upbit" v-show="Areashow">
							            <el-tree :highlight-current="treeHign" default-expand-all :expand-on-click-node="false" :data="treeData" :props="defaultProps" @node-click="handleNodeClick"></el-tree>
							        </div>
							    </div>
							</div>
							<div class="layui-inline">
								<label class="layui-form-label">状态</label>
								<div class="layui-input-block">
									<select name="state" lay-filter="state">
										<option value="">请选择</option>
										<option value="2">生产</option>
										<option value="0">限产</option>
										<option value="1">停产</option>
									</select>
								</div>
							</div>
							<div class="layui-inline">
								<button class="layui-btn layuiadmin-btn-list" @click="Hsearch">
									<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
								</button>
							</div>
							<div class="flex">
								<div class="layui-card-body" style="width: 65%; border-right: 10px solid white;">
									<el-table style="width: 100%;" :data="list_Htable">
										<el-table-column type="index" label="序号" width="50">
										</el-table-column>
										<el-table-column property="name" label="行业" width="70">
										</el-table-column>
										<el-table-column property="enterpriseNum" label="企业数量" width="80">
										</el-table-column>
										<el-table-column property="productEquipNum" label="产污设施数量" width="120">
										</el-table-column>
										<el-table-column property="treatEquipNum" label="污处设施数量" width="120">
										</el-table-column>
										<el-table-column label="监测点数量(个)">
											<el-table-column property="startStatusNum" label="开启">
											</el-table-column>
											<el-table-column property="endStatusNum" label="关闭">
											</el-table-column>
											<el-table-column property="unknownStatusNum" label="离线">
											</el-table-column>
										</el-table-column>
									</el-table>
								</div>
								<div style="width: 35%;margin-bottom: 20px;">
									<div style="width:100%;height:450px;" id="botchart"></div>
									<!-- //图表 -->
									<div class="chartstatistics" v-for="(it,index) in list_box1">
										<div class="box_odd" v-show="index == 0">
											<p style="width: 50%;" v-text="it.name"></p>
											<p style="width: 50%;text-align: right" v-text="it.value"></p>
											<p>%</p>
										</div>
										<div class="box_odd" v-show="index != 0 & (index)%2 == 0">
											<p style="width: 50%;" v-text="it.name"></p>
											<p style="width: 50%;text-align: right" v-text="it.value"></p>
											<p>%</p>
										</div>
										<div class="box" v-show="index != 0 & (index)%2 != 0">
											<p style="width: 50%;" v-text="it.name"></p>
											<p style="width: 50%;text-align: right" v-text="it.value"></p>
											<p>%</p>
										</div>

									</div>
									<div>

									</div>

								</div>
							</div>

						</div>
					</div>
					<div v-show="show == 2" style="display: none;">
						<div class="layui-form-item">
							<div class="layui-inline">
								<div class="layui-form-item">
									<label class="layui-form-label">所属行业</label>
									<div class="layui-input-block">
										<select name="tradeName" id="eventType" lay-filter="eventType">
											<option value="">请选择</option>
											<option value=""></option>
										</select>
									</div>
								</div>
							</div>
							<div class="layui-inline">
								<label class="layui-form-label">状态</label>
								<div class="layui-input-block">
									<select name="state" lay-filter="state">
										<option value="">请选择</option>
										<option value="2">生产</option>
										<option value="0">限产</option>
										<option value="1">停产</option>
									</select>
								</div>
							</div>
							<div class="layui-inline">
								<button class="layui-btn layuiadmin-btn-list" @click="Xsearch">
									<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
								</button>
							</div>
							<div class="flex">
								<div class="layui-card-body" style="width: 65%; border-right: 10px solid white;">
									<el-table style="width: 100%" :data="list_Xtable">
										<el-table-column type="index" label="序号" width="50">
										</el-table-column>
										<el-table-column prop="name" label="行政区域" width="130">
										</el-table-column>
										<el-table-column prop="enterpriseNum" label="企业数量" width="80">
										</el-table-column>
										<el-table-column prop="productEquipNum" label="产污设施数量" width="120">
										</el-table-column>
										<el-table-column prop="treatEquipNum" label="污处设施数量" width="120">
										</el-table-column>
										<el-table-column label="监测点数量(个)">
											<el-table-column prop="startStatusNum" label="运行">
											</el-table-column>
											<el-table-column prop="endStatusNum" label="停机">
											</el-table-column>
											<el-table-column prop="unknownStatusNum" label="失联">
											</el-table-column>
										</el-table-column>
									</el-table>
								</div>
								<div style="width: 35%;margin-bottom: 20px;">
									<div style="width:100%;height:450px;" id="botchart_"></div>
									<div class="chartstatistics" v-for="(it,index) in list_box2">
										<div class="box_odd" v-show="index == 0">
											<p style="width: 50%;" v-text="it.name"></p>
											<p style="width: 50%;text-align: right" v-text="it.value"></p>
											<p>%</p>
										</div>
										<div class="box_odd" v-show="index != 0 & (index)%2 == 0">
											<p style="width: 50%;" v-text="it.name"></p>
											<p style="width: 50%;text-align: right" v-text="it.value"></p>
											<p>%</p>
										</div>
										<div class="box" v-show="index != 0 & (index)%2 != 0">
											<p style="width: 50%;" v-text="it.name"></p>
											<p style="width: 50%;text-align: right" v-text="it.value"></p>
											<p>%</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<script src="../../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../layuiadmin/plugin/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../layuiadmin/plugin/axios.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../layuiadmin/plugin/element.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../layuiadmin/js/baseUrlConfig.js" type="text/javascript" charset="utf-8"></script>
		<script>
			var echarted, echart;
			layui.config({
				base: '../../../layuiadmin/',
				//静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['index', 'table', "laydate", "echarts"], function() {
				var table = layui.table,
					form = layui.form,
					laydate = layui.laydate,
					echarts = layui.echarts;

				//取消了无数据加载时候的冒泡泡事件
				echart = echarts.init(document.getElementById('botchart'), {
					noDataLoadingOption: {
						text: '暂无数据',
						effect: "bubble",
						effectOption: {
							effect: {
								n: 0 //气泡个数为0 
							}
						}
					}
				});
				//行业的图表,取消了无数据冒泡泡的事件
				echarted = echarts.init(document.getElementById('botchart_'), {
					noDataLoadingOption: {
						text: '暂无数据',
						effect: 'bubble',
						effectOption: {
							effect: {
								n: 0 //气泡个数为0 
							}
						}
					}
				});


				var data = new Date();
				var max_data = data.getDate();
				laydate.render({
					elem: '#startDate',
					btns: ['confirm']
				});
				//行业的下拉选择框
				axios({
					method: "post",
					url: BASEURL + 'environmental_intelligent_monitoring/tbastrade/list?limit=10000',
					params: {
						userId: window.localStorage.getItem("userId")    
					}
				}).then(function(res) {
					if (res.data.code == 0) {
						// // console.log(res)
						$.each(res.data.page.list, function(index, item) {
							// // console.log(item.id)
							$('#eventType').append(new Option(item.name, item.id)); // 下拉菜单里添加元素
						});
						layui.form.render("select");
					} else {
						vm.$notify.error({
							title: '错误',
							message: res.data.msg
						});

					}
				}).catch(function(err) {
					// // console.log(err);
				});



				//获取下来框的后台数据

				//行业* （行政区域）   获取表格数据
				
				axios({
					method: "post",
					url: BASEURL + 'environmental_intelligent_monitoring/dataMonitor/queryEnterpriseReportOrderByTrade',
					params: {
						organizeId: vm.treeId,
						produceType: vm.state_,
						userId: window.localStorage.getItem("userId")    
					},
				}).then(function(res) {
					if (res.data.code == 0) {
						vm.list_Htable = res.data.data;
					} else {
						vm.$notify.error({
							title: '错误',
							message: res.data.msg
						});
					}
				}).catch(function(err) {
					// // console.log(err);
				});

				//行政区域获取下拉行业的选项
				form.on('select(eventType)', function(data) {
					// // console.log(data.elem[data.elem.selectedIndex].value);
					vm.tradeName = data.elem[data.elem.selectedIndex].value
					form.render();
				});


				//行政区域* （行业）   获取表格数据
				axios({
					method: "post",
					url: BASEURL + 'environmental_intelligent_monitoring/dataMonitor/queryEnterpriseReportOrderByOrganize',
					params: {
						tradeId: vm.tradeName,
						produceType: vm.state_,
						userId: window.localStorage.getItem("userId")    
					}
				}).then(function(res) {
					// // console.log(res)
					if (res.data.code == 0) {
						vm.list_Xtable = res.data.data;
					} else {
						vm.$notify.error({
							title: '错误',
							message: res.data.msg
						});

					}
				}).catch(function(err) {
					// // console.log(err);
				});


				//行业*    获取扇形统计图的数据
				axios({
					method: "post",
					url: BASEURL + 'environmental_intelligent_monitoring/dataMonitor/queryTradeReport',
					params: {
						organizeId: vm.treeId,
						produceType: vm.state_,
						userId: window.localStorage.getItem("userId")    
					}
				}).then(function(res) {
					echart.hideLoading();
					// // console.log(res.data.data)
					if (res.data.code == 0) {
						for (var i = 0; i < res.data.data.length; i++) {
							var obj = {}
							obj.value = res.data.data[i].percent * 100;
							obj.name = res.data.data[i].name;
							vm.list_Hpic.push(obj);
							vm.list_box1.push(obj)
						}
						echart.setOption({
							textStyle: {
								fontSize: 32,
								fontWeight: 'bold'
							},
							tooltip: {
								trigger: 'item',
								formatter: "{b}:({d}%)"
							},
							legend: {
								orient: 'vertical',
								x: 'left',
								data: []
							},
							title: {
								text: "企业分布",
								padding: "3"
							},
							series: [{
								type: 'pie',
								radius: ['20%', '40%'],
								avoidLabelOverlap: false,
								label: {
									normal: {
										show: false,
										position: 'center'
									},
									emphasis: {
										show: true,
										textStyle: {
											fontSize: '30',
											fontWeight: 'bold'
										}
									}
								},
								labelLine: {
									normal: {
										show: false
									}
								},
								data: vm.list_Hpic
							}]
						});

					} else {
						vm.$notify.error({
							title: '错误',
							message: res.data.msg
						});

					}
				}).catch(function(err) {
					// // console.log(err);
				});


				//行政中心的扇形图
				axios({
					method: "post",
					url: BASEURL + 'environmental_intelligent_monitoring/dataMonitor/queryOrganizeReport',
					params: {
						tradeId: vm.tradeName,
						produceType: vm.state_,
						userId: window.localStorage.getItem("userId")    
					}
				}).then(function(res) {


					if (res.data.code == 0) {
						for (var i = 0; i < res.data.data.length; i++) {
							var obj = {}
							obj.value = res.data.data[i].percent * 100;
							obj.name = res.data.data[i].name;
							vm.list_Xpic.push(obj);
							vm.list_box2.push(obj);
						}
						echarted.setOption({
							textStyle: {
								fontSize: 32,
								fontWeight: 'bold'
							},
							tooltip: {
								trigger: 'item',
								formatter: "{b}:({d}%)"
							},
							legend: {
								orient: 'vertical',
								x: 'left',
								data: []
							},
							title: {
								text: "企业分布",
								padding: "3"
							},
							series: [{
								type: 'pie',
								radius: ['20%', '40%'],
								avoidLabelOverlap: false,
								label: {
									normal: {
										show: false,
										position: 'center'
									},
									emphasis: {
										show: true,
										textStyle: {
											fontSize: '30',
											fontWeight: 'bold'
										}
									}
								},
								labelLine: {
									normal: {
										show: false
									}
								},
								data: vm.list_Xpic
							}]
						});
					} else {
						vm.$notify.error({
							title: '错误',
							message: res.data.msg
						});

					}
				}).catch(function(err) {
					// // console.log(err);
				});



				//监听搜索
				form.on('submit(LAY-app-contlist-search)', function(data) {
					var field = data.field;

					//执行重载
					table.reload('LAY-app-content-list', {
						where: field,
						page: {
							curr: 1 //重新从第 1 页开始
						}
					});
				});
				//获取下拉框的值
				form.on('select(state)', function(data) {
					vm.state_ = data.value;
					// // console.log(field);
					form.render("select")
				});







				var $ = layui.$,
					active = {
						batchdel: function() {

						},
						del: function() {

						},
						edit: function() {

						}
					};

				$('.layui-btn.layuiadmin-btn-list').on('click', function() {
					var type = $(this).data('type');
					active[type] ? active[type].call(this) : '';
				});

				//点击输入框出现的行政区域
				$("#div_").bind("click", function() {
					vm.isActive = true
					vm.Areashow = true;
					event.stopPropagation();  //==========阻止冒泡1
				})

				//点击外面其他部分,触发的事件
				$(document).bind("click", function() {
					vm.isActive = false
					vm.Areashow = false;

				})
			});

			var vm = new Vue({
				el: "#app",
				data: {
					Areashow: false,
					treeHign: true,
					treeData: [],
					defaultProps: {
						children: 'children',
						label: 'title'
					},
					atraName: "",
					treeId: "",
					startCreateDate: "",
					address: "",
					trustCode: "",
					endCreateDate: "",
					name: '',
					tree: 0,
					isActive: false,
					show: 1,
					list_box1: [],
					list_box2: [],
					list_Htable: [],
					list_Xtable: [],
					state_: "",
					list_Hpic: [],
					list_Xpic: [],
					tradeName: ""

				},
				methods: {
					emptyTree: function() {
						vm.atraName = "",
							vm.treeId = ""
					},
					showH: function() {
						this.show = 1;
					},
					showX: function() {
						this.show = 2;
					},
					appear: function(isActive) {
						vm.isActive = true
						vm.Areashow = true;
						event.stopPropagation();
					},
					Xsearch: function() {
						axios({
							method: "post",
							url: BASEURL + 'environmental_intelligent_monitoring/dataMonitor/queryEnterpriseReportOrderByOrganize',
							params: {
								tradeId: vm.tradeName,
								produceType: vm.state_,
								userId: window.localStorage.getItem("userId")    
							}
						}).then(function(res) {
							// // console.log(res)
							if (res.data.code == 0) {
								vm.list_Xtable = res.data.data;
							} else {
								vm.$notify.error({
									title: '错误',
									message: res.data.msg
								});
							}
						}).catch(function(err) {
							// console.log(err);
						});


						//行政中心的扇形图
						axios({
							method: "post",
							url: BASEURL + 'environmental_intelligent_monitoring/dataMonitor/queryOrganizeReport',
							params: {
								tradeId: vm.tradeName,
								produceType: vm.state_,
								userId: window.localStorage.getItem("userId")    
							}
						}).then(function(res) {
							vm.list_Xpic = [];
							vm.list_box2 = [];

							if (res.data.code == 0) {
								echarted.hideLoading(); //收起来(暂无数据的框框)
								for (var i = 0; i < res.data.data.length; i++) {
									var obj = {}
									obj.value = res.data.data[i].percent * 100;
									obj.name = res.data.data[i].name;
									vm.list_Xpic.push(obj);
									vm.list_box2.push(obj);
								}
								echarted.setOption({
									textStyle: {
										fontSize: 32,
										fontWeight: 'bold'
									},
									tooltip: {
										trigger: 'item',
										formatter: "{b}:({d}%)"
									},
									legend: {
										orient: 'vertical',
										x: 'left',
										data: []
									},
									title: {
										text: "企业分布",
										padding: "3"
									},
									series: [{
										type: 'pie',
										radius: ['20%', '40%'],
										avoidLabelOverlap: false,
										label: {
											normal: {
												show: false,
												position: 'center'
											},
											emphasis: {
												show: true,
												textStyle: {
													fontSize: '30',
													fontWeight: 'bold'
												}
											}
										},
										labelLine: {
											normal: {
												show: false
											}
										},
										data: vm.list_Xpic
									}]
								}, true);
							} else {
								vm.$notify.error({
								    title: '错误',
								    message: res.data.msg
								});

							}
						}).catch(function(err) {
							// console.log(err);
						});
					},
					Hsearch: function() {
						vm.list_Hpic = [];
						vm.list_box1 = [];
						if(vm.atraName == ""){
							vm.treeId = ""
						}
						//搜索表格
						axios({
							method: "post",
							url: BASEURL + 'environmental_intelligent_monitoring/dataMonitor/queryEnterpriseReportOrderByTrade',
							params: {
								organizeId: vm.treeId,
								produceType: vm.state_,
								userId: window.localStorage.getItem("userId")    
							},
						}).then(function(res) {
							// // console.log(res)
							if (res.data.code == 0) {
								vm.list_Htable = res.data.data;
							} else {
								vm.$notify.error({
								    title: '错误',
								    message: res.data.msg
								});

							}
						}).catch(function(err) {
							// console.log(err);
						});

						//行业搜索扇形图
						axios({
							method: "post",
							url: BASEURL + 'environmental_intelligent_monitoring/dataMonitor/queryTradeReport',
							params: {
								organizeId: vm.treeId,
								produceType: vm.state_,
								userId: window.localStorage.getItem("userId")    
							}
						}).then(function(res) {
							echart.hideLoading();
							if (res.data.code == 0) {
								for (var i = 0; i < res.data.data.length; i++) {


									var obj = {};
									obj.value = res.data.data[i].percent * 100;
									obj.name = res.data.data[i].name;
									vm.list_Hpic.push(obj)
									vm.list_box1.push(obj);
									// // console.log(vm.list_Hpic);
								}

								echart.setOption({
									textStyle: {
										fontSize: 32,
										fontWeight: 'bold'
									},
									tooltip: {
										trigger: 'item',
										formatter: "{b}:({d}%)"
									},
									legend: {
										orient: 'vertical',
										x: 'left',
										data: []
									},
									title: {
										text: "企业分布",
										padding: "3"
									},
									series: [{
										type: 'pie',
										radius: ['20%', '40%'],
										avoidLabelOverlap: false,
										label: {
											normal: {
												show: false,
												position: 'center'
											},
											emphasis: {
												show: true,
												textStyle: {
													fontSize: '30',
													fontWeight: 'bold'
												}
											}
										},
										labelLine: {
											normal: {
												show: false
											}
										},
										data: vm.list_Hpic

									}]
								}, true);
							} else {
								vm.$notify.error({
								    title: '错误',
								    message: res.data.msg
								});

							}
						}).catch(function(err) {
							// console.log(err);
						});


					},
					// 树状图组件
					treeDataInit: function() {
						axios({
							method: "post",
							url: BASEURL + 'environmental_intelligent_monitoring/tbasorganize/dendrogramList',
							params: {
								type: "2",
								userId: window.localStorage.getItem("userId")    
							}
						}).then(function(res) {
							if (res.data.code == 0) {
								var data = res.data.data;
								var obj = {
									title: '请选择'
								}
								data.unshift(obj);
								vm.treeData = data;



							} else {
								vm.$notify.error({
								    title: '错误',
								    message: res.data.msg
								});

							}
						}).catch(function(err) {
							// console.log(err);
						});

					},
					handleNodeClick: function(data, node) {
						vm.atraName = data.title;
						vm.treeId = data.id;
						vm.treeHign = true;
						vm.Areashow = false;
						if(data.title == "请选择"){
							vm.atraName = ""
						}

					},
					AdminFocus: function() {
						vm.Areashow = !vm.Areashow;
					}
				},
				created() {
					this.treeDataInit();
				}

			})
			window.onclick = function() {
				echarted.resize();
			}
		</script>
	</body>
</html>
