<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>错峰管理表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="./../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="./../../../layuiadmin/plugin/element.css" />
    <link rel="stylesheet" href="./../../../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" type="text/css" href="./../../../layuiadmin/style/tbasenterpriseallocate.css" />
    <link rel="stylesheet" type="text/css" href="./../../../layuiadmin/style/common.css" />
    <style>
        .card-title {
            color: #fff;
        }

        .layui-input,
        .layui-select,
        .el-input__inner {
            height: 32px;
        }

        .user-list-box {
            padding-left: 10px;
        }

        .layui-form-select dl {
            color: #000;
        }

        .layui-card .layui-icon-triangle-d {
            color: #c2c2c2;
        }

        .layui-card .layui-icon-triangle-d,
        .layui-card .layui-icon-search {
            cursor: pointer;
        }

        .layui-card .atraShow {
            position: absolute;
            width: 100%;
            border: 1px solid #e6e6e6;
            /* border-radius: 4px; */
            z-index: 999;
            /* height: 200px; */
            background-color: #fff;
            color: #000;
        }
    </style>
</head>

<body>
    <div id="vm">
        <div class="layui-fluid layui-col-space30">
            <div class="layui-card layui-col-md4 layui-col-lg4" style="min-height: 500px;">
                <div class="layui-card-header card-title">停限产列表</div>
                <div class="l-card-border">
                    <el-radio-group text-color="#000000" class="user-list-box" v-model="levelRadio" @change="levelChange">
                        <div v-for="it in levelList">
                            <el-radio class="user-list-radio" :label="it.levelName">
                                <span v-text="it.levelName"></span>
                                <span v-text="it.produceType"></span>
                                <span v-text="it.startTime"></span>-
                                <span v-text="it.endTime"></span>
                            </el-radio>
                        </div>
                    </el-radio-group>
                </div>
                <el-button size="small" type="primary" class="submit-btn">保存</el-button>
                <el-button size="small" type="danger" class="submit-btn">清空</el-button>

            </div>
            <div class="layui-card layui-col-md8 layui-col-lg8" style="min-height: 800px;">
                <div class="layui-card-header card-title">企业列表&nbsp;&nbsp;&nbsp;
                    <div class="layui-inline layui-form">
                        <div class="layui-input-inline">
                            <input type="text" name="title" placeholder="请输入企业名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline layui-form">
                        <div class="layui-input-inline">
                            <input type="text" name="atraCode" v-model="atraName" placeholder="请选择行政区域" autocomplete="off" class="layui-input">
                            <i class="layui-icon layui-icon-triangle-d" @click="atraClick"></i>
                            <div class="atraShow layui-anim layui-anim-upbit" v-show="atraShow">
                                <el-tree :highlight-current="treeHign" :data="treeData" :props="defaultProps" @node-click="handleNodeClick"></el-tree>
                            </div>
                        </div>
                    </div>
                    <div class="layui-inline layui-form">
                        <div class="layui-input-inline">
                            <select id="tradeName">
                                <option value="">请选择所属行业</option>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline" style="margin-left: 50px;">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn" @click="laySearch"></i>
                    </div>
                </div>

                <div class="l-card-border">
                    <el-tree :data="data" show-checkbox default-expand-all node-key="id" @check="manageCheck" ref="tree" highlight-current :props="defaultProps">
                    </el-tree>
                </div>
            </div>
        </div>
        <script src="./../../../layuiadmin/js/baseUrlConfig.js"></script>
        <script src="./../../../layuiadmin/layui/layui.js"></script>
        <script src="./../../../layuiadmin/plugin/vue.min.js"></script>
        <script src="./../../../layuiadmin/plugin/element.js"></script>
        <script src="./../../../layuiadmin/plugin/axios.js"></script>
        <script>
            var vm = new Vue({
                el: "#vm",
                data: {
                    levelList: [],
                    levelRadio: "",
                    atraShow: false,
                    treeHign: false,
                    treeData: [],
                    defaultProps: {
                        children: 'children',
                        label: 'label'
                    },
                    atraName: "",
                    data: [{
                        id: 1,
                        label: '一级 1',
                        children: [{
                            id: 4,
                            label: '二级 1-1',
                            children: [{
                                id: 9,
                                label: '三级 1-1-1'
                            }, {
                                id: 10,
                                label: '三级 1-1-2'
                            }]
                        }]
                    }, {
                        id: 2,
                        label: '一级 2',
                        children: [{
                            id: 5,
                            label: '二级 2-1'
                        }, {
                            id: 6,
                            label: '二级 2-2'
                        }]
                    }, {
                        id: 3,
                        label: '一级 3',
                        children: [{
                            id: 7,
                            label: '二级 3-1'
                        }, {
                            id: 8,
                            label: '二级 3-2'
                        }]
                    }],


                },
                methods: {
                    levelInit() {
                        axios({
                            method: "post",
                            url: BASEURL + 'environmental_intelligent_monitoring/tbizreduce/list?limit=10000',
                            params: {}
                        }).then(function (res) {
                            if (res.data.code == 0) {
                                vm.levelList = res.data.page.list;
                            }

                        }).catch(function (err) {
                            console.log(err);
                        });

                    },
                    levelChange(val) {
                        console.log(val)
                    },
                    enterPriseInit() {
                        axios({
                            method: "post",
                            url: BASEURL + 'environmental_intelligent_monitoring/tbasenterprise/list?limit=10000',
                            params: {}
                        }).then(function (res) {
                            if (res.data.code == 0) {

                            }

                        }).catch(function (err) {
                            console.log(err);
                        });

                    },
                    atraClick() {
                        vm.atraShow = !vm.atraShow;
                    },
                    // 树状图组件
                    treeDataInit() {
                        axios({
                            method: "post",
                            url: BASEURL + 'environmental_intelligent_monitoring/tbasorganize/list?limit=10000',
                            params: {
                                parentId: 0
                            }
                        }).then(function (res) {
                            if (res.data.code == 0) {

                                vm.treeData = [];
                                // vm.treeData = res.data.page.list;
                                var data = res.data.page.list;

                                for (var i = 0; i < data.length; i++) {
                                    var obj = {};
                                    obj.label = data[i].name;
                                    obj.id = data[i].id;
                                    obj.parentId = data[i].parentId;
                                    obj.children = [];
                                    vm.treeData.push(obj);
                                }


                            } else {

                            }
                        }).catch(function (err) {
                            console.log(err);
                        });

                    },
                    handleNodeClick(data, node) {
                        console.log(data);
                        vm.atraName = data.label;
                        vm.treeHign = true;
                        // console.log(node.parent.childNodes[0].parent.data.label)
                        /*    var localname = node.parent.childNodes[0].parent.data.label === undefined ? '无上级目录' : node.parent.childNodes[0].parent.data.label;
                           localStorage.setItem("nodeParentName", localname) */
                        axios({
                            method: "post",
                            url: BASEURL + 'environmental_intelligent_monitoring/tbasorganize/list?limit=10000',
                            params: {
                                parentId: data.id
                            }
                        }).then(function (res) {
                            if (res.data.code == 0) {

                                // vm.treeData = res.data.page.list;
                                var treedata = res.data.page.list;
                                // console.log(treedata)
                                // for (var i = 0; i < vm.treeData.length; i++) {
                                data.children = [];
                                for (var j = 0; j < treedata.length; j++) {

                                    // if (vm.treeData[i].id == data[j].parentId) {
                                    if (data.id == treedata[j].parentId) {
                                        // console.log(treedata[j])
                                        let obj = {
                                            label: treedata[j].name,
                                            id: treedata[j].id,
                                            parentId: treedata[j].parentId,
                                            children: []
                                        };
                                        data.children.push(obj);
                                    }
                                }
                                // }


                            } else {
                                vm.$notify.error({
                                    title: '错误',
                                    message: res.data.msg
                                });
                            }
                        }).catch(function (err) {
                            console.log(err);
                        });
                    },
                    // 复选框选中
                    manageCheck(data) {
                        console.log(data)
                    },
                    // 搜索
                    laySearch() {
                        console.log(111)
                    }
                },
                created() {
                    this.levelInit();
                    this.enterPriseInit();
                    // 树状图调用
                    this.treeDataInit();
                },
                mounted: function () {
                    // 初始化加载
                    // this.pageInit();
                },
                // watch: {
                //     //  监听用户列表单选框值的变化,锁定当前选中用户的ID
                //     selectUser: function () {
                //         for (var i = 0; i < vm.userList.length; i++) {
                //             if (vm.selectUser == vm.userList[i].username) {
                //                 vm.selectUserId = vm.userList[i].userId;
                //                 vm.queryUserEnterprise();
                //             }
                //         }
                //     },
                //     // 监听企业列表值
                //     selectEnterprise: function () {
                //         vm.selecterEnterpriseIdList = [];
                //         if (vm.selectEnterprise.length == 0) {
                //             vm.selecterEnterpriseIdList = [];
                //             return;
                //         };
                //         for (var i = 0; i < vm.selectEnterprise.length; i++) {
                //             for (var j = 0; j < vm.enterpriseList.length; j++) {
                //                 if (vm.selectEnterprise[i] == vm.enterpriseList[j].name) {
                //                     vm.selecterEnterpriseIdList.push(vm.enterpriseList[j].id)
                //                 }
                //             }
                //         };
                //     },
                // }
            })





            layui.config({
                base: '../../../layuiadmin/' //静态资源所在路径
            }).extend({
                index: 'lib/index' //主入口模块
            }).use(['index', 'form', 'jquery', 'layer'], function () {

                var form = layui.form;
                var $ = layui.jquery;
                var layer = layui.layer;


                // 行业管理
                axios({
                    method: "post",
                    url: layui.setter.BASEURL + 'environmental_intelligent_monitoring/tbastrade/list?limit=10000',
                    params: {}
                }).then(function (res) {
                    if (res.data.code == 0) {
                        $.each(res.data.page.list, function (index, item) {
                            // console.log(index, item)
                            $('#tradeName').append(new Option(item.name, item.id));// 下拉菜单里添加元素
                        });
                        layui.form.render("select");

                    } else {

                    }
                }).catch(function (err) {
                    console.log(err);
                });

            });
        </script>
</body>

</html>