<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>企业错峰生产</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="./../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="./../../../layuiadmin/plugin/element.css" />
    <link rel="stylesheet" href="./../../../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" type="text/css" href="./../../../layuiadmin/style/tbasenterpriseallocate.css" />
    <link rel="stylesheet" type="text/css" href="./../../../layuiadmin/style/common.css" />
    <style>
        .card-title {
            color: #fff;
        }

        .layui-input,
        .layui-select,
        .el-input__inner {
            height: 32px;
            width: 150px;
        }

        .user-list-box {
            padding-left: 10px;
        }

        .layui-form-select dl {
            color: #000;
        }

        .layui-card .layui-icon-triangle-d {
            color: #c2c2c2;
        }

        .layui-card .layui-icon-triangle-d,
        .layui-card .layui-icon-search {
            cursor: pointer;
        }

        .layui-card .atraShow {
            position: absolute;
            width: 100%;
            border: 1px solid #e6e6e6;
            /* border-radius: 4px; */
            z-index: 999;
            /* height: 200px; */
            background-color: #fff;
            color: #000;
        }
    </style>
</head>

<body>
    <div id="vm">
        <div class="layui-fluid layui-col-space30">
            <div class="layui-card layui-col-md5 layui-col-lg5" style="min-height: 500px;">
                <div class="layui-card-header card-title">停限产列表</div>
                <div class="l-card-border">
                    <el-radio-group text-color="#000000" class="user-list-box" v-model="levelRadio" @change="levelChange">
                        <div v-for="(it,index) in levelList" :key="index">
                            <el-radio class="user-list-radio" :label="it.id">
                                <span v-text="it.levelName"></span>
                                <span v-text="it.produceType"></span>
                                <span v-text="it.startTime"></span>-
                                <span v-text="it.endTime"></span>
                            </el-radio>
                        </div>
                    </el-radio-group>
                </div>
                <el-button size="small" type="primary" class="submit-btn" @click="treeSave">保存</el-button>
                <el-button size="small" type="danger" class="submit-btn" @click="treeClear">清空</el-button>

            </div>
            <div class="layui-card layui-col-md7 layui-col-lg7" style="min-height: 800px;">
                <div class="layui-card-header card-title">企业列表&nbsp;&nbsp;&nbsp;
                    <div class="layui-inline layui-form">
                        <div class="layui-input-inline">
                            <input type="text" name="title" placeholder="请输入企业名称" v-model="enterpriseName" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline layui-form">
                        <div class="layui-input-inline">
                            <input type="text" name="atraCode" v-model="atraName" placeholder="请选择行政区域" autocomplete="off" class="layui-input">
                            <i class="layui-icon layui-icon-triangle-d" @click="atraClick"></i>
                            <div class="atraShow layui-anim layui-anim-upbit" v-show="atraShow">
                                <el-tree :highlight-current="treeHign" :data="treeData" :props="defaultProps" @node-click="handleNodeClick"></el-tree>
                            </div>
                        </div>
                    </div>
                    <div class="layui-inline layui-form">
                        <div class="layui-input-inline">
                            <select id="tradeName" lay-filter="tradeLay">
                                <option value="">请选择所属行业</option>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline" style="width: 40px;">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn" @click="laySearch"></i>
                    </div>
                </div>
                <!-- @check-change="mmmm" -->
                <div class="l-card-border">
                    <el-tree :data="enpriseData" show-checkbox default-expand-all :default-checked-keys="checkKey" node-key="monitorId" @check="manageCheck"
                        ref="tree" highlight-current :props="defaultProps">
                    </el-tree>
                </div>
            </div>
        </div>
        <script src="./../../../layuiadmin/js/baseUrlConfig.js"></script>
        <script src="./../../../layuiadmin/layui/layui.js"></script>
        <script src="./../../../layuiadmin/plugin/vue.min.js"></script>
        <script src="./../../../layuiadmin/plugin/element.js"></script>
        <script src="./../../../layuiadmin/plugin/axios.js"></script>
        <script>
            var vm = new Vue({
                el: "#vm",
                data: {
                    levelList: [],
                    levelRadio: "",
                    atraShow: false,
                    treeHign: false,
                    treeData: [],
                    defaultProps: {
                        children: 'children',
                        label: 'label'
                    },
                    atraName: "",
                    enpriseData: [],
                    enterpriseName: "",
                    trade: "",
                    // 判断单选框是否选中
                    levelLength: "",
                    levelId: "",
                    treeObj: {},
                    monitorIdData: [],
                    checkKey: [],
                    monitoridList: []

                },
                methods: {
                    // 获取单选框列表
                    levelInit() {
                        axios({
                            method: "post",
                            url: BASEURL + 'environmental_intelligent_monitoring/tbizreduce/queryReduceList',
                            params: {}
                        }).then(function (res) {
                            if (res.data.code == 0) {
                                vm.levelList = res.data.data;
                            }

                        }).catch(function (err) {
                            console.log(err);
                        });

                    },
                    // 单选框选择事件改变
                    levelChange(val) {
                        console.log(val);
                        vm.levelId = val;
                        vm.levelLength = val;

                        axios({
                            method: "post",
                            url: BASEURL + 'environmental_intelligent_monitoring/tbizreduce/queryEnterpriseList',
                            params: {
                                id: val
                            }
                        }).then(function (res) {
                            if (res.data.code == 0) {
                                var treeData = res.data.data;
                                var keyData = [];
                                treeData.forEach(function (item, index) {
                                    keyData.push(item.monitorId)
                                })
                                vm.checkKey = keyData

                                console.log(vm.checkKey);
                                vm.monitoridList = keyData;
                                // this.$refs.tree.setCheckedKeys(vm.checkKey);
                            }

                        }).catch(function (err) {
                            console.log(err);
                        });

                    },
                    // 左右列表对应保存
                    treeSave() {
                        if (vm.levelLength == "") {
                            vm.$notify.warning({
                                title: '提示',
                                position: 'top-center',
                                message: '请选择一条停限产计划'
                            });
                        } else {
                            axios({
                                method: "post",
                                url: BASEURL + 'environmental_intelligent_monitoring/tbizreduce/saveBatchForEnterprise',
                                data: {
                                    id: vm.levelId,
                                    tBizEnterpriseList: vm.monitorIdData
                                },
                                headers: {
                                    "Content-Type": "application/json;charset=UTF-8"
                                }

                            }).then(function (res) {
                                if (res.data.code == 0) {

                                    vm.$notify.success({
                                        title: '提示',
                                        position: 'top-center',
                                        message: '授权成功'
                                    });
                                    vm.enterPriseInit();


                                } else {
                                    vm.$notify.error({
                                        title: '错误',
                                        position: 'top-center',
                                        message: '授权失败'
                                    });
                                }

                            }).catch(function (err) {
                                console.log(err);
                            });

                        }




                    },
                    // 左右列表对应删除
                    treeClear() {
                        if (vm.levelLength == "") {
                            vm.$notify.warning({
                                title: '提示',
                                position: 'top-center',
                                message: '请选择一条停限产计划'
                            });
                        } else {
                            layer.confirm('确定删除吗？', function (index) {
                                axios({
                                    method: "post",
                                    url: layui.setter.BASEURL + 'environmental_intelligent_monitoring/tbizreduce/deleteByMonitorId',
                                    data: {
                                        monitorIds: vm.monitoridList
                                    },
                                    headers: {
                                        "Content-Type": "application/json;charset=UTF-8"
                                    }
                                }).then(function (res) {
                                    if (res.data.code == 0) {
                                        layer.msg('已删除');

                                    } else {
                                        vm.$notify.error({
                                            title: '错误',
                                            position: 'top-center',
                                            message: '删除失败'
                                        });
                                    }
                                }).catch(function (err) {
                                    console.log(err);
                                });
                            })

                        }

                    },
                    // 企业列表树状图
                    enterPriseInit() {
                        axios({
                            method: "post",
                            url: BASEURL + 'environmental_intelligent_monitoring/tdevicemonitor/list?limit=10000',
                            params: {}
                        }).then(function (res) {
                            if (res.data.code == 0) {
                                var treeData = res.data.page.list;
                                var dataList = [];
                                // vm.enpriseData = res.data.page.list;
                                treeData.forEach(function (data) {
                                    for (var i = 0; i < dataList.length; i++) {
                                        if (dataList[i].enterpriseId === data.enterpriseId) {
                                            dataList[i].children.push({
                                                label: data.shopName,
                                                children: [{
                                                    label: data.type === "1" ? '生产设备' : '治污设备',
                                                    // id: data.type,
                                                    children: [{ label: data.monitorName, monitorId: data.id }]
                                                }]
                                            });
                                            dataList[i].num++;
                                            return;
                                        }
                                    }


                                    dataList.push({
                                        label: data.enterpriseName,
                                        enterpriseId: data.enterpriseId,
                                        num: 1,
                                        children: [{
                                            label: data.shopName,
                                            children: [{
                                                label: data.type === "1" ? '生产设备' : '治污设备',
                                                id: data.type,
                                                children: [{ label: data.monitorName, monitorId: data.id }]
                                            }]
                                        }]
                                    });
                                })
                                // console.log(dataList)
                                vm.enpriseData = dataList;

                            }

                        }).catch(function (err) {
                            console.log(err);
                        });

                    },
                    atraClick() {
                        vm.atraShow = !vm.atraShow;
                    },
                    // 树状图组件
                    treeDataInit() {
                        axios({
                            method: "post",
                            url: BASEURL + 'environmental_intelligent_monitoring/tbasorganize/list?limit=10000',
                            params: {
                                parentId: 0
                            }
                        }).then(function (res) {
                            if (res.data.code == 0) {

                                vm.treeData = [];
                                // vm.treeData = res.data.page.list;
                                var data = res.data.page.list;

                                for (var i = 0; i < data.length; i++) {
                                    var obj = {};
                                    obj.label = data[i].name;
                                    obj.id = data[i].id;
                                    obj.parentId = data[i].parentId;
                                    obj.children = [];
                                    vm.treeData.push(obj);
                                }


                            } else {

                            }
                        }).catch(function (err) {
                            console.log(err);
                        });

                    },
                    handleNodeClick(data, node) {
                        console.log(data);
                        vm.atraName = data.label;
                        vm.treeHign = true;
                        // console.log(node.parent.childNodes[0].parent.data.label)
                        /*    var localname = node.parent.childNodes[0].parent.data.label === undefined ? '无上级目录' : node.parent.childNodes[0].parent.data.label;
                           localStorage.setItem("nodeParentName", localname) */
                        axios({
                            method: "post",
                            url: BASEURL + 'environmental_intelligent_monitoring/tbasorganize/list?limit=10000',
                            params: {
                                parentId: data.id
                            }
                        }).then(function (res) {
                            if (res.data.code == 0) {

                                // vm.treeData = res.data.page.list;
                                var treedata = res.data.page.list;
                                // console.log(treedata)
                                // for (var i = 0; i < vm.treeData.length; i++) {
                                data.children = [];
                                for (var j = 0; j < treedata.length; j++) {

                                    // if (vm.treeData[i].id == data[j].parentId) {
                                    if (data.id == treedata[j].parentId) {
                                        // console.log(treedata[j])
                                        let obj = {
                                            label: treedata[j].name,
                                            id: treedata[j].id,
                                            parentId: treedata[j].parentId,
                                            children: []
                                        };
                                        data.children.push(obj);
                                    }
                                }
                                // }


                            } else {
                                vm.$notify.error({
                                    title: '错误',
                                    message: res.data.msg
                                });
                            }
                        }).catch(function (err) {
                            console.log(err);
                        });
                    },
                    // 复选框选中
                    manageCheck(data, node) {
                        vm.monitoridList = [];
                        var data = this.$refs.tree.getCheckedNodes(true);
                        console.log(data)

                        for (var i = 0; i < data.length; i++) {
                            console.log(data[i]);
                            // console.log(dataItem)
                            // var obj = {};
                            vm.enpriseData.forEach(function (item, index) {
                                // console.log(item,index)

                                item.children.forEach(function (it, index) {
                                    it.children.forEach(function (itthird, index) {
                                        itthird.children.forEach(function (itfourth, index) {
                                            // console.log(itfourth);



                                            if (itfourth.monitorId === data[i].monitorId && itfourth.label === data[i].label) {

                                                // console.log(dataItem);
                                                // console.log(item)

                                                data[i].monitorId = itfourth.monitorId;
                                                data[i].monitorName = itfourth.label;
                                                data[i].enterpriseId = item.enterpriseId;
                                                data[i].enterpriseName = item.label;
                                                // vm.monitorIdData.push(obj);
                                                // delete data[i].label;
                                            }



                                        })
                                    })
                                })

                            })



                        }
                        vm.monitorIdData = data;
                        vm.monitorIdData.forEach(function (item, index) {
                            console.log(item);
                            vm.monitoridList.push(item.monitorId);
                        })
                        console.log(vm.monitoridList)

                        // console.log(data)
                        // this.$refs.tree.setCheckedKeys([])
                        // console.log(data, node);
                        // var nodeData = node.checkedNodes;
                        // var halfData = node.halfCheckedNodes;
                        // // var monitorIdData = [];

                        // vm.treeObj = {}
                        // nodeData.forEach(function (item, index) {

                        //     console.log(item, index);



                        //     if (item.enterpriseId != undefined) {
                        //         vm.treeObj.enterpriseId = item.enterpriseId;
                        //         vm.treeObj.enterpriseName = item.label;

                        //     } else if (item.monitorId != undefined) {
                        //         console.log(item);
                        //         vm.treeObj.monitorId = item.monitorId;
                        //         vm.treeObj.monitorName = item.label;
                        //     } else {
                        //         halfData.forEach(function (item, index) {
                        //             if (item.enterpriseId != undefined) {
                        //                 console.log(item);
                        //                 vm.treeObj.enterpriseId = item.enterpriseId;
                        //                 vm.treeObj.enterpriseName = item.label;
                        //                 // monitorIdData.push(obj);
                        //             }
                        //         })

                        //     }
                        // })
                        // console.log(vm.treeObj)
                        // vm.monitorIdData.push(vm.treeObj);
                        // // Array.prototype.push.apply(monitorIdData)
                        // console.log(vm.monitorIdData)
                        // console.log(this.$refs.tree.getCheckedKeys())
                        // console.log(this.$refs.tree.getHalfCheckedNodes(true))

                        // console.log(this.$refs.tree.getHalfCheckedNodes(true).concat(this.$refs.tree.getCheckedNodes()));
                        // var data = this.$refs.tree.getHalfCheckedNodes(true).concat(this.$refs.tree.getCheckedNodes());
                        // console.log(this.$refs.tree.getCheckedNodes(true));
                        // console.log(data)

                        // console.log(this.$refs.tree.getNode())
                    },

                    mmmm(node, key, istrue) {
                        // console.log(node,key,istrue);
                        // console.log(this.$refs.tree.getCheckedNodes(true));
                        // var data = this.$refs.tree.getCheckedNodes(true);


                        // console.log(data)
                        // for (var i = 0; i < data.length; i++) {
                        //     // console.log(data[i])
                        // }
                        // data.forEach(function (dataItem, index) {
                        //     // console.log(dataItem)
                        //     var obj = {};

                        // vm.enpriseData.forEach(function (item, index) {
                        //     // console.log(item,index)

                        //     item.children.forEach(function (it, index) {
                        //         it.children.forEach(function (itthird, index) {
                        //             itthird.children.forEach(function (itfourth, index) {
                        //                 // console.log(itfourth);



                        //                 if (itfourth.monitorId === dataItem.monitorId && itfourth.label === dataItem.label) {

                        //                     // console.log(dataItem);
                        //                     // console.log(item)

                        //                     obj.monitorId = itfourth.monitorId;
                        //                     obj.monitorName = itfourth.label;
                        //                     obj.enterpriseId = item.enterpriseId;
                        //                     obj.enterpriseName = item.label;
                        //                     vm.monitorIdData.push(obj);


                        //                 }



                        //             })
                        //         })
                        //     })

                        // })


                        // })
                        // console.log(vm.monitorIdData)


                        // var obj = {};
                        // var formData = [];
                        // var data = this.$refs.tree.getCheckedNodes(true);
                        // var dataobj = {};
                        // var data1 = [];
                        // data.forEach(function(item,index) {

                        //      dataobj.monitorId = item.monitorId;
                        //      dataobj.monitorName = item.label;
                        //      data1.push(dataobj)
                        // })
                        // if (node.enterpriseId != undefined) {
                        //     obj.enterpriseId = node.enterpriseId;
                        //     obj.enterpriseName = node.label;
                        //     formData.push(obj)

                        //     var obj = formData.map((item, index) => {
                        //         return { ...item, ...data1[index] };
                        //     })

                        //     obj.map(function (value, index, array) {
                        //         console.log(value);
                        //         vm.monitorIdData.push(value)
                        //         // localStorage.setItem("data",JSON.stringify(value));
                        //     })
                        //     console.log(vm.monitorIdData)

                        // }
                        // console.log(obj);




                    },

                    // 搜索
                    laySearch() {
                        axios({
                            method: "post",
                            url: BASEURL + 'environmental_intelligent_monitoring/tdevicemonitor/list?limit=10000',
                            params: {
                                organizeName: vm.atraName,
                                enterpriseName: vm.enterpriseName,
                                tradeId: vm.trade
                            }
                        }).then(function (res) {
                            if (res.data.code == 0) {
                                var treeData = res.data.page.list;
                                var dataList = [];
                                // vm.enpriseData = res.data.page.list;
                                treeData.forEach(function (data) {
                                    for (var i = 0; i < dataList.length; i++) {
                                        if (dataList[i].id === data.enterpriseId) {
                                            dataList[i].children.push({
                                                label: data.shopName,
                                                children: [{
                                                    label: data.type === "1" ? '生产设备' : '治污设备',
                                                    id: data.type,
                                                    children: [{ label: data.monitorName, id: data.id }]
                                                }]
                                            });
                                            dataList[i].num++;
                                            return;
                                        }
                                    }


                                    dataList.push({
                                        label: data.enterpriseName,
                                        id: data.enterpriseId,
                                        num: 1,
                                        children: [{
                                            label: data.shopName,
                                            children: [{
                                                label: data.type === "1" ? '生产设备' : '治污设备',
                                                id: data.type,
                                                children: [{ label: data.monitorName, id: data.id }]
                                            }]
                                        }]
                                    });
                                })
                                // console.log(dataList)
                                vm.enpriseData = dataList;

                            }

                        }).catch(function (err) {
                            console.log(err);
                        });
                    }
                },
                created() {
                    this.levelInit();
                    this.enterPriseInit();
                    // 树状图调用
                    this.treeDataInit();
                },
                mounted: function () {
                    // 初始化加载
                    // this.pageInit();
                },
                // watch: {
                //     //  监听用户列表单选框值的变化,锁定当前选中用户的ID
                //     selectUser: function () {
                //         for (var i = 0; i < vm.userList.length; i++) {
                //             if (vm.selectUser == vm.userList[i].username) {
                //                 vm.selectUserId = vm.userList[i].userId;
                //                 vm.queryUserEnterprise();
                //             }
                //         }
                //     },
                //     // 监听企业列表值
                //     selectEnterprise: function () {
                //         vm.selecterEnterpriseIdList = [];
                //         if (vm.selectEnterprise.length == 0) {
                //             vm.selecterEnterpriseIdList = [];
                //             return;
                //         };
                //         for (var i = 0; i < vm.selectEnterprise.length; i++) {
                //             for (var j = 0; j < vm.enterpriseList.length; j++) {
                //                 if (vm.selectEnterprise[i] == vm.enterpriseList[j].name) {
                //                     vm.selecterEnterpriseIdList.push(vm.enterpriseList[j].id)
                //                 }
                //             }
                //         };
                //     },
                // }
            })





            layui.config({
                base: '../../../layuiadmin/' //静态资源所在路径
            }).extend({
                index: 'lib/index' //主入口模块
            }).use(['index', 'form', 'jquery', 'layer'], function () {

                var form = layui.form;
                var $ = layui.jquery;
                var layer = layui.layer;


                // 行业管理
                axios({
                    method: "post",
                    url: layui.setter.BASEURL + 'environmental_intelligent_monitoring/tbastrade/list?limit=10000',
                    params: {}
                }).then(function (res) {
                    if (res.data.code == 0) {
                        $.each(res.data.page.list, function (index, item) {
                            // console.log(index, item)
                            $('#tradeName').append(new Option(item.name, item.id));// 下拉菜单里添加元素
                        });
                        layui.form.render("select");

                    } else {

                    }
                }).catch(function (err) {
                    console.log(err);
                });


                // 监听行业select
                form.on('select(tradeLay)', function (data) {
                    // console.log(data);
                    vm.trade = data.value;

                })

            });
        </script>
</body>

</html>