<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>设备分组</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="./../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="./../../../layuiadmin/plugin/element.css" />
    <link rel="stylesheet" href="./../../../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" type="text/css" href="./../../../layuiadmin/style/tbasenterpriseallocate.css" />
    <link rel="stylesheet" type="text/css" href="./../../../layuiadmin/style/common.css" />
    <link rel="stylesheet" href="./../../../layuiadmin/style/tree.css">
    <style>
        .card-title {
            color: #fff;
        }

        .layui-input,
        .layui-select,
        .el-input__inner {
            height: 32px;
            width: 200px;
        }

        .user-list-box {
            padding-left: 10px;
        }

        .layui-form-select dl {
            color: #000;
        }

        .layui-card .layui-icon-triangle-d {
            color: #c2c2c2;
        }

        .layui-card .layui-icon-triangle-d,
        .layui-card .layui-icon-search {
            cursor: pointer;
        }

        .layui-col-space30 {
            margin: 0;
        }

        .l-card-border {
            padding: 10px;
        }

        .layui-icon-edit,
        .layui-icon-close {
            cursor: pointer;
            font-weight: 700;
            font-size: 18px;
        }

        .layui-icon-edit {
            color: #0f0;
        }

        .layui-icon-close {
            color: #f00;

        }
    </style>
</head>

<body>
    <div id="vm">
        <div class="layui-fluid layui-col-space30">
            <div class="layui-card layui-col-md4 layui-col-lg4" style="min-height: 500px;">
                <div class="layui-card-header card-title">
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" id="enterpriseName" placeholder="企业名称" v-model="atraName" class="layui-input">
                        </div>
                        <!-- <div class="layui-inline" style="width: 40px;">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn" @click="laySearch"></i>
                        </div> -->
                    </div>
                </div>
                <div class="l-card-border" style="min-height: 400px;">
                    <!-- :indent="0" -->
                    <el-tree v-loading="loading" :indent="0" :data="enpriseData" default-expand-all @node-click="handleNodeClick" ref="tree"
                        highlight-current :expand-on-click-node="false" :props="defaultProps">
                    </el-tree>
                </div>
            </div>
            <div class="layui-card layui-col-md8 layui-col-lg8" style="min-height: 800px;">
                <div class="layui-card-header card-title">企业名称：&nbsp;&nbsp;
                    <span v-text="atraName"></span>
                </div>
                <div class="l-card-border">
                    <table id="LAY-app-content-list" lay-filter="LAY-app-content-list"></table>
                    <script type="text/html" id="barDemo">
						<a class="layui-icon layui-icon-edit" lay-event="deviceEdit"></a>
						<!-- <a class="layui-icon layui-icon-close" lay-event="deviceDelete"></a> -->
					</script>
                </div>
            </div>
        </div>
        <script src="./../../../layuiadmin/js/baseUrlConfig.js"></script>
        <script src="./../../../layuiadmin/plugin/polyfill.min.js"></script>
        <script src="./../../../layuiadmin/layui/layui.js"></script>
        <script src="./../../../layuiadmin/plugin/vue.min.js"></script>
        <script src="./../../../layuiadmin/plugin/element.js"></script>
        <script src="./../../../layuiadmin/plugin/axios.js"></script>
        <script>
            var vm = new Vue({
                el: "#vm",
                data: {
                    // treeHign: false,
                    treeData: [],
                    defaultProps: {
                        children: 'children',
                        label: 'title'
                    },
                    atraName: "",
                    shopId: "",
                    enterpriseId: "",
                    enpriseData: [],
                    enterpriseName: "",
                    loading: true

                },
                // updated: function () {
                //     layui.use(['table'], function () {
                //         var table = layui.table;
                //         //执行重载
                //         table.reload('LAY-app-content-list', {
                //             where: vm.shopId
                //         });
                //     })
                // },
                methods: {
                    // 企业列表树状图
                    enterPriseInit: function () {
                        this.loading = true;
                        axios({
                            method: "post",
                            // url: BASEURL + 'environmental_intelligent_monitoring/tdevicemonitor/list?limit=10000',
                            url: BASEURL + 'environmental_intelligent_monitoring/tbasorganize/dendrogramList',
                            params: {
                                type: "4"
                            }
                        }).then(function (res) {
                            if (res.data.code == 0) {
                                vm.loading = false;
                                var treeData = res.data.data;
                                vm.enpriseData = treeData;
                            }

                        }).catch(function (err) {
                            console.log(err);
                        });

                    },
                    handleNodeClick: function (data, node) {
                        // console.log(data, node);
                        if (data.type == "t_bas_enterprise") {
                            vm.enterpriseId = data.id;
                            vm.shopId = "";
                            vm.atraName = data.title;
                            this.treeInit();
                        } else if (data.type == "t_bas_shop") {
                            vm.shopId = data.id;
                            vm.enterpriseId = node.parent.data.id;
                            vm.atraName = data.title;
                            this.treeInit();
                        }

                    },
                    treeInit: function () {
                        layui.use(['table'], function () {
                            console.log(vm.shopId)
                            var table = layui.table;
                            //执行重载
                            table.reload('LAY-app-content-list', {
                                where: {
                                    shopId: vm.shopId,
                                    enterpriseId: vm.enterpriseId
                                }
                            });
                        })

                    }
                },
                created: function () {
                    this.enterPriseInit();
                    // 树状图调用
                    // this.treeDataInit();
                },
                mounted: function () {
                    // 初始化加载
                    // this.pageInit();
                },
            })
            layui.config({
                base: '../../../layuiadmin/' //静态资源所在路径
            }).extend({
                index: 'lib/index' //主入口模块
            }).use(['index', 'form', 'jquery', 'table'], function () {
                var form = layui.form,
                    $ = layui.jquery,
                    table = layui.table;


                table.render({
                    elem: '#LAY-app-content-list'
                    , height: 450 //容器高度
                    , url: layui.setter.BASEURL + 'environmental_intelligent_monitoring/tdevicemonitor/queryProductAndTreatList' //数据接口
                    , page: true
                    , where: {
                        shopId: 0,
                        enterpriseId: 0
                    }
                    , parseData: function (res) { // 数据重新处理为layUI的数据格式
                        var msg = {
                            "code": res.code, //解析接口状态
                            "msg": res.msg, //解析提示文本
                            "count": res.data.totalCount, //解析数据长度
                            "data": res.data.list //解析数据列表
                        };
                        return msg;
                    }

                    , cols: [[
                        // { type: 'numbers', width: 50, fixed: 'left' },
                        // { checkbox: true },
                        { title: '生产单元', sort: true, field: 'shopName', minWidth: 100 },
                        { title: '产污监测点', sort: true, field: 'productName', minWidth: 120 },
                        // { title: '事件类型编码', field: 'eventtypeid', minWidth: 100 },
                        { title: '治污监测点', sort: true, field: 'treatName', minWidth: 120 },
                        { title: '备用关系', sort: true, field: 'backup', minWidth: 80 },
                        { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 100 }
                    ]] //设置表头
                    , limit: 10
                    , limits: [10, 15, 20, 25, 30]
                    , done: function (res, page, count) {
                        $("[data-field='backup']").children().each(function () {
                            if ($(this).text() == '1') {
                                $(this).text("备用")
                            } else if ($(this).text() == '0') {
                                $(this).text("使用")
                            }
                        })

                    }
                });
                table.on('sort(LAY-app-content-list)', function (obj) {
                    console.log(obj)
                    $("[data-field='backup']").children().each(function () {
                        if ($(this).text() == '1') {
                            $(this).text("备用")
                        } else if ($(this).text() == '0') {
                            $(this).text("使用")
                        }
                    })
                });


                //监听工具条
                table.on('tool(LAY-app-content-list)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                    console.log(obj)
                    var data = obj.data //获得当前行数据
                        , layEvent = obj.event; //获得 lay-event 对应的值
                    // console.log(data.enterpriseId)
                    if (layEvent === 'deviceDelete') {
                        layer.confirm('确定删除吗？', function (index) {
                            axios({
                                method: "post",
                                url: BASEURL + 'environmental_intelligent_monitoring/tdevicemonitor/update',
                                data: {
                                    // id: data.treatId
                                    id: data.shopId
                                },
                                headers: {
                                    "Content-Type": "application/json;charset=UTF-8"
                                }
                            }).then(function (res) {
                                // console.log(res)
                                if (res.data.code == 0) {
                                    table.reload('LAY-app-content-list');
                                    layer.msg('已删除');
                                } else {
                                    layer.msg('删除失败');
                                }
                            }).catch(function (err) {
                                console.log(err);
                            });
                        });
                    } else if (layEvent === 'deviceEdit') {
                        window.data = data
                        /* window.id = data.productId;
                        window.productName = data.productName; */
                        // window.currentStatus = data.currentStatus;
                        layer.open({
                            type: 2,
                            title: '设备关联信息',
                            area: ['700px', '450px'],//弹框大小
                            // offset: ['50px', '300px'],
                            content: 'groupEdit.html' //这里content是一个普通的String
                        });
                    }
                });
            });
        </script>
</body>

</html>