<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>设备分组编辑</title>
    <link rel="stylesheet" type="text/css" href="../../../layuiadmin/layui/css/layui.css" />
    <link rel="stylesheet" href="./../../../layuiadmin/plugin/element.css">
    <style>
        .btn-box {
            text-align: center;
            margin-bottom: 10px;
        }

        .el-icon-close {
            font-size: 18px;
            font-weight: 700;
            color: #f00;
        }

        .el-table td,
        .el-table th {
            padding: 10px;
        }

        .pline {
            padding: 10px;
            margin-left: 14px;
            /* font-weight: 700; */
        }
    </style>
</head>

<body>
    <div id="vm">
        <div class="layui-inline layui-form">
            <!-- <label for="bitian" class="layui-form-label">               
            </label> -->
            <p class="pline"> 产污监测点</p>
            <!--  <div class="layui-input-inline">
                <el-select v-model="product" @change="productSelect" placeholder="请选择">
                    <el-option v-for="item in productOptions" :key="item.value" :label="item.productName" :value="item.productId">
                    </el-option>
                </el-select>
            </div> -->
            <!--  <button type="button" @click="productClick" class="layui-btn layui-btn-normal layui-btn-sm">
                <i class="layui-icon layui-icon-add-1"></i>
            </button> -->
        </div>
        <div style="margin: 0 0 10px 40px;">
            <el-table :data="productData" stripe style="width: 100%;">
                <el-table-column prop="shopName" label="生产单元" width="180">
                </el-table-column>
                <el-table-column prop="name" label="设备类型" width="180">
                </el-table-column>
                <el-table-column prop="productName" label="设备名称">
                </el-table-column>
                <!-- <el-table-column fixed="right" label="操作" width="80">
                    <template slot-scope="scope">
                        <el-button @click="deleteClick(scope.$index, scope.row)" v-if="scope.row.productName!=productName" type="text" icon="el-icon-close"></el-button>
                    </template>
                </el-table-column> -->
            </el-table>
        </div>
        <div class="layui-form">
            <div class="layui-inline">
                <label for="bitian" class="layui-form-label">
                    治污监测点
                </label>
                <div class="layui-input-inline">
                    <el-select v-model="treat" @change="treatSelect" placeholder="请选择">
                        <el-option v-for="item in treatOptions" :key="item.value" :label="item.treatName" :value="item.treatId">
                        </el-option>
                    </el-select>
                </div>
            </div>
            <div class="layui-inline">
                <label for="bitian" class="layui-form-label">
                    备用关系
                </label>
                <el-select v-model="backup" style="width: 80px;">
                    <el-option v-for="item in backupOptions" :key="item.value" :label="item.label" :value="item.label">
                    </el-option>
                </el-select>
            </div>
            <button type="button" @click="treatClick" class="layui-btn layui-btn-normal layui-btn-sm">
                <i class="layui-icon layui-icon-add-1"></i>
            </button>
        </div>
        <div style="margin: 0 0 10px 40px;">
            <el-table :data="treatData" stripe style="width: 100%">
                <el-table-column prop="shopName" label="生产单元" width="100">
                </el-table-column>
                <el-table-column prop="tName" label="设备类型" width="180">
                </el-table-column>
                <el-table-column prop="treatName" label="设备名称" width="180">
                </el-table-column>
                <el-table-column prop="backup" label="备用关系">
                </el-table-column>
                <el-table-column fixed="right" label="操作" width="80">
                    <template slot-scope="scope">
                        <el-button @click="deleteClick(scope.$index, scope.row)" type="text" icon="el-icon-close"></el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <div class="btn-box">
            <button class="layui-btn" @click="addData">确定</button>
            <button class="layui-btn layui-btn-danger" @click="cancel">取消</button>
        </div>
    </div>
    <script src="../../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>

    <!-- 引入vue -->
    <script src="../../../layuiadmin/plugin/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="./../../../layuiadmin/plugin/element.js"></script>
    <script src="../../../layuiadmin/plugin/axios.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../../layuiadmin/js/baseUrlConfig.js" type="text/javascript" charset="utf-8"></script>
    <script>
        layui.use(['form', 'jquery'], function () {
            var form = layui.form,
                $ = layui.jquery
        })
        var vm = new Vue({
            el: "#vm",
            data: {
                productData: [],
                treatData: [],
                product: "",
                // productOptions: [],
                treat: "",
                treatOptions: [],
                productName: "",
                pName: "",
                backup: "备用",
                backupOptions: [
                    {
                        value: 0,
                        label: '使用'
                    }, {
                        value: 1,
                        label: '备用'
                    }
                ],
                vmObj: {}
            },
            methods: {
                productInit() {
                    var Pdata = [];
                    Pdata.push(parent.data)
                    for (var i = 0; i < Pdata.length; i++) {
                        Pdata[i].name = '生产设备';
                    }
                    this.productData = Pdata;
                    // // console.log(Pdata)
                    axios({
                        method: "post",
                        url: BASEURL + 'environmental_intelligent_monitoring/tdevicemonitor/queryProductAndTreatList',
                        params: {
                            id: parent.data.productId,
                            // userId: window.localStorage.getItem("userId")
                        },
                        /* headers: {
                            "Content-Type": "application/json;charset=UTF-8"
                        } */
                    }).then(function (res) {
                        // // console.log(res)
                        if (res.data.code == 0) {
                            var data = res.data.data.list;
                            for (var i = 0; i < data.length; i++) {
                                // data[i].name = '生产设备';
                                data[i].tName = '治污设备';
                                if (data[i].treatId != undefined) {
                                    if (data[i].backup == false) {
                                        data[i].backup = '使用';
                                    } else if (data[i].backup == true) {
                                        data[i].backup = '备用';
                                    }
                                    vm.treatData.push(data[i])
                                }
                            }
                            // vm.productData = data;
                            vm.productName = parent.data.productName;
                            // console.loglog(vm.treatData)

                        } else {

                        }
                    }).catch(function (err) {
                        // console.loglog(err);
                    });

                },
                selectInit() {
                    axios({
                        method: "post",
                        url: BASEURL + 'environmental_intelligent_monitoring/tdevicemonitor/querytreatNameList',
                        params: {
                            enterpriseId: parent.data.enterpriseId,
                            // userId: window.localStorage.getItem("userId")
                        },
                        /* headers: {
                            "Content-Type": "application/json;charset=UTF-8"
                        } */
                    }).then(function (res) {
                        // // console.log(res)
                        if (res.data.code == 0) {
                            // vm.productOptions = res.data.data.list;
                            vm.treatOptions = res.data.data;
                            // var data = res.data.data.list;
                            // for (var i = 0; i < data.length; i++) {
                            //     data[i].name = '生产设备';
                            //     data[i].tName = '治污设备';
                            //     if (data[i].treatId != undefined) {
                            //         vm.treatData.push(data[i])
                            //     }
                            // }
                            // vm.productData = data;
                            // // console.log(vm.productData)
                            // // console.log(vm.treatData)




                        } else {

                        }
                    }).catch(function (err) {
                        // console.loglog(err);
                    });

                },
                // 产污监测点添加
                treatSelect(value) {
                    // console.loglog(value);
                    let obj = {};
                    obj = this.treatOptions.find((item) => {
                        // console.loglog(item)
                        return item.treatId === value;
                    });
                    vm.pName = obj.treatName;
                    // // console.log(obj.productName);
                },
                treatClick() {
                    var obj = {
                        shopName: parent.data.shopName,
                        tName: '治污设备',
                        treatName: this.pName,
                        treatId: this.treat,
                        shopId: parent.data.shopId,
                        backup: vm.backup,
                        flag: 1
                    };
                    if (vm.treatData.length != 0) {
                        for (var i = 0; i < vm.treatData.length; i++) {
                            if (vm.treatData[i].backup == obj.backup && obj.backup == '使用') {
                                vm.$notify.warning({
                                    title: '警告',
                                    position: 'top-center',
                                    message: '不可重复添加'
                                });
                                return false;
                                // vm.treatData[i].backup == obj.backup && 
                            } else if (vm.treatData[i].treatName == obj.treatName) {
                                vm.$notify.warning({
                                    title: '警告',
                                    position: 'top-center',
                                    message: '不可重复添加'
                                });
                                return false;

                            }
                        }
                        vm.treatData.push(obj);
                        vm.vmObj = obj;
                    } else {
                        vm.treatData.push(obj)
                        // console.loglog(obj)
                        vm.vmObj = obj;
                    }
                },
                deleteClick(index, row) {
                    // // console.log(index, row);
                    // vm.treatData.splice(index);
                    this.$confirm('确认删除', '确认信息', {
                        distinguishCancelAndClose: true,
                        confirmButtonText: '确认',
                        cancelButtonText: '取消'
                    })
                        .then(() => {
                            vm.treatData.splice(index, 1);
                            vm.$message.success('请确认删除');
                            // axios({
                            //     method: "post",
                            //     url: BASEURL + 'environmental_intelligent_monitoring/tdevicemonitor/update',
                            //     data: {
                            //         id: row.treatId
                            //     },
                            //     headers: {
                            //         "Content-Type": "application/json;charset=UTF-8"
                            //     }
                            // }).then(function (res) {
                            //     if (res.data.code == 0) {
                            //         vm.$message.success('删除成功');
                            //         vm.treatData.splice(index)
                            //     } else {
                            //         vm.$notify.error({
                            //             title: '错误',
                            //             message: res.data.msg
                            //         });
                            //     }
                            // }).catch(function (err) {
                            //     // console.log(err);
                            // });

                        })
                        .catch(action => {
                        });
                },
                // 数据添加
                addData() {
                    // // console.log(vm.vmObj);
                    // var vmObjList = [];
                    // vmObjList.push(vm.vmObj)
                    var idList = [];
                    var backupId;
                    vm.treatData.forEach(function (item) {
                        // // console.log(item)
                        idList.push(item.treatId);
                        if (item.backup == '使用') {
                            backupId = item.treatId;
                        }
                    })
                    // // console.log(vm.treatData)
                    // console.loglog(idList)
                    // console.loglog(backupId)
                    axios({
                        method: "post",
                        url: BASEURL + 'environmental_intelligent_monitoring/tdevicemonitor/saveProductAndTreat',
                        data: {
                            parentId: parent.data.productId,
                            ids: idList,
                            backupId: backupId,
                            username: window.localStorage.getItem("username")
                        },
                        headers: {
                            "Content-Type": "application/json;charset=UTF-8"
                        }
                    }).then(function (res) {
                        // // console.log(res)
                        //先得到当前iframe层的索引
                        var index = parent.layer.getFrameIndex(window.name);
                        if (res.data.code == 0) {
                            layer.msg('关联成功！', {
                                time: 500
                            }, function () {
                                // window.parent.location.reload();
                                // parent.layer.closeAll('iframe');
                                //再执行关闭 
                                parent.layer.close(index);
                                //关闭父级页面的表格
                                parent.layui.table.reload('LAY-app-content-list');
                            });
                        } else {
                            vm.$notify.error({
                                title: '错误',
                                message: res.data.msg
                            });

                        }
                    }).catch(function (err) {
                        // console.loglog(err);
                    });

                },

                cancel: function () {
                    parent.layer.closeAll('iframe'); //关闭弹窗
                }
            }, created() {
                this.productInit();
                this.selectInit();
                // console.loglog(parent.data)
            }
        })
    </script>
</body>

</html>