<!DOCTYPE html>
<html class="x-admin-sm">

	<head>
		<meta charset="UTF-8">
		<title>新增企业管理</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
		<link rel="stylesheet" type="text/css" href="../../../layuiadmin/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="../../../layuiadmin/plugin/element.css" />
		<script src="../../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<!-- 引入vue -->
		<script type="text/javascript" src="../../../layuiadmin/plugin/vue.js"></script>
		<script src="../../../layuiadmin/js/baseUrlConfig.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../layuiadmin/plugin/axios.js"></script>
		<script src="../../../layuiadmin/plugin/area.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../layuiadmin/plugin/element.js" type="text/javascript" charset="utf-8"></script>
		<style>
			.btn-box {
			    text-align: center;
			}
					
			.btn-box button {
			    /* margin-right: 30px; */
			    margin-bottom: 10px;
			}
					
			.layui-form-label {
			    width: 120px;
					
			}
					
			.layui-form-item .layui-input-inline {
			    width: 300px;
			}
			.factor{
				display: flex;
				flex-wrap:wrap;
			}
			.factor span{
				line-height: 2.5rem;
				margin-left: 10px;
			}
			.close{
				line-height: 2.5rem;
				margin-right: 10px;
				
			}
			.box{
				background: gainsboro;
				margin-right: 10px;
				margin-top: 0.625rem;
				/* width: calc(50% - 10px); */
				
			}
			.layui-form-label {
			    width: 120px;
			
			}
			
			.layui-form-item .layui-input-inline {
			    width: 220px;
			}
			.flex{
				display: flex;
			}
			.treeCss {
			    width: 50%;
			
			}
			.tree {
				z-index: 999;
				background: white;
				border: gainsboro solid 1px;
				margin-top: 2px;
				position: relative;
				padding: 0px 8px;
			}
			
			.red{
				color: red;
				/* line-height: 2.1875rem; */
			}
			.layui-form-item .layui-input-inline{
				margin-right: 4px;
			}
			.actived {
				animation: rotated 0.2s linear forwards;
			}
			
			.actived_after {
				animation: rotated_after 0.2s linear forwards;
			}
			
			@keyframes rotated {
				from {
					transform: rotate(0deg);
				}
			
				to {
					transform: rotate(180deg);
				}
			}
			
			@keyframes rotated_after {
				from {
					transform: rotate(180deg);
				}
			
				to {
					transform: rotate(0deg);
				}
			}
			.AdminArea {
			    position: relative;
			}
			
			.AdminArea .Areashow {
			    position: absolute;
			    width: 100%;
			    border: 1px solid #e6e6e6;
			    /* border-radius: 4px; */
			    z-index: 999;
			    /* height: 200px; */
			    background-color: #fff;
			
			}
			
			.AdminArea .layui-icon {
			    cursor: pointer;
				position: absolute;
				top: 10px;
				right: 10px;
			    color: #c2c2c2;
				z-index: 111;
			}
			
    </style>
	</head>
	<body>
		<div id="vm" style="padding-top: 20px;">
			<div class="layui-fluid">
				<div class="layui-row">
					<form class="layui-form" action="" lay-filter="editEnterprise">
						<input type="hidden" name="id" id="" value="" />
						<div class="flex">
							<div class=" treeCss">
								<div class="layui-form-item">
									<label for="bitian" class="layui-form-label">企业名称
										<span class="red">*</span></label>
									<div class="layui-input-inline">
										<input type="text" name="name" lay-verify="required" class="layui-input" placeholder="企业名称" />
									</div>
								</div>
								<div class="layui-form-item">
									<label for="bitian" class="layui-form-label">社会信用代码
										<span class="red">*</span></label>
									<div class="layui-input-inline">
										<input type="text" name="trustcode" lay-verify="required" class="layui-input" placeholder="社会信用代码" />
									</div>
								</div>

								<div class="layui-form-item">
									<label for="bitian" class="layui-form-label">所属省市区
										<span class="red">*</span></label>
									<div class="layui-input-inline">
										<select name="province" id="province" lay-verify="required" lay-search lay-filter="province">
											<option value="">请选择省</option>
										</select>
										<select name="city" id="city" lay-verify="required" lay-search lay-filter="city">
											<option value="">请选择市</option>
										</select>
										<select name="area" id="area" lay-verify="required" lay-search>
											<option value="">请选择县/区</option>
										</select>
									</div>
								</div>
								<div class="layui-form-item">
									<label for="bitian" class="layui-form-label">企业详细地址
										<span class="red">*</span></label>
									<div class="layui-input-inline">
										<input type="text" name="address" lay-verify="required" class="layui-input" placeholder="企业详细地址" />
									</div>

								</div>
								<div class=" layui-form-item">
								    <label class="layui-form-label">行政区域
									<span class="red">*</span></label></label>
								    <div class="layui-input-inline AdminArea">
								        <input type="text" name="organizeName" v-model="atraName" placeholder="请选择行政区域" autocomplete="off" class="layui-input" lay-verify="required">
										<i class="layui-icon layui-icon-triangle-d" @click="AdminFocus"></i>
								        <div class="Areashow layui-anim layui-anim-upbit" v-show="Areashow">
								            <el-tree :highlight-current="treeHign" default-expand-all :expand-on-click-node="false" :data="treeData" :props="defaultProps" @node-click="handleNodeClick"></el-tree>
								        </div>
								    </div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">所属行业
										<span class="red">*</span></label>
									<div class="layui-input-inline">
										<select name="tradeId" id="tradeName" lay-verify="required" lay-filter="tradeName">
											<option value="">请选择</option>
										</select>
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">关注程度
										<span class="red">*</span></label>
									<div class="layui-input-inline">
										<select name="concern" lay-verify="required" id="concern" lay-filter="concern">
											<option value="">请选择</option>
											<option value="国控">国控</option>
											<option value="省控">省控</option>
											<option value="市控">市控</option>
											<option value="非重点污染源">非重点污染源</option>
										</select>
									</div>
								</div>
								<!-- <div class="layui-form-item">
									<label for="bitian" class="layui-form-label">网关编号
									<span class="red">*</span></label></label>
									<div class="layui-input-inline">
										<input type="text" lay-verify="required" name="swicthId" class="layui-input" placeholder="网关编号" />
									</div>
								</div> -->
								<!-- <div class="layui-form-item">
									<label for="bitian" class="layui-form-label">仪表地址</label>
									<div class="layui-input-inline">
										<input type="number" name="meterId" class="layui-input" placeholder="仪表地址" />
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">仪表型号</label>
									<div class="layui-input-inline">
										<select name="model" lay-filter="aihao">
											<option value=""></option>
											<option value="0">ADW400</option>
											<option value="1">ADW100</option>
										</select>
									</div>
								</div> -->
								<!-- <div class="layui-form-item">
									<label for="bitian" class="layui-form-label">监管机构代码</label>
									<div class="layui-input-inline">
										<input type="text" name="organizeId" class="layui-input" placeholder="监管机构代码" />
									</div>
								</div>
								<div class="layui-form-item">
									<label for="bitian" class="layui-form-label">监管机构名称</label>
									<div class="layui-input-inline">
										<input type="text" name="organizeName" class="layui-input" placeholder="监管机构名称" />
									</div>
								</div> -->
								<!-- <div class="layui-form-item">
									<label for="bitian" class="layui-form-label">电流变比</label>
									<div class="layui-input-inline">
										<input type="text" name="ct" class="layui-input" />
									</div>
								</div> -->
							</div>
							<div class="treeCss">
								<!-- <div class="layui-form-item">
									<label for="bitian" class="layui-form-label">电压变比</label>
									<div class="layui-input-inline">
										<input type="text" name="pt" class="layui-input" />
									</div>
								</div> -->
								<div class="layui-form-item">
									<label for="bitian" class="layui-form-label">负责人</label>
									<div class="layui-input-inline">
										<input type="text" name="chargePerson" class="layui-input" placeholder="负责人" />
									</div>
								</div>
								<div class="layui-form-item">
									<label for="bitian" class="layui-form-label">负责人电话</label>
									<div class="layui-input-inline">
										<input type="tel" name="chargePhone" v-model="chargePhone" id="phone" class="layui-input" placeholder="负责人电话" @blur ="chargePhones" />
									</div>
								</div>
								<div class="layui-form-item">
									<label for="bitian" class="layui-form-label">检查人</label>
									<div class="layui-input-inline">
										<input type="text" name="checkPerson" class="layui-input" placeholder="检查人" />
									</div>
								</div>
								<div class="layui-form-item">
									<label for="bitian" class="layui-form-label">检查人电话</label>
									<div class="layui-input-inline">
										<input type="tel" name="checkPhone" v-model="checkPhone" class="layui-input" placeholder="检查人电话" id= "phone1" @blur ="checkPhones" />
									</div>
								</div>
								<div class="layui-form-item">
									<label for="bitian" class="layui-form-label">法人</label>
									<div class="layui-input-inline">
										<input type="text" name="lawPerson"  class="layui-input" placeholder="法人" />
									</div>
								</div>
								<div class="layui-form-item">
									<label for="bitian" class="layui-form-label">法人电话</label>
									<div class="layui-input-inline">
										<input type="tel" name="lawPhone" v-model="lawPhone" class="layui-input" placeholder="法人电话" id= "phone2" @blur ="lawPhones" />
									</div>
								</div>
								<div class="layui-form-item">
									<label for="bitian" class="layui-form-label">企业照片地址</label>
									<div class="layui-input-inline">
										<div style="margin-bottom: 10px ;">
											<img :src="pic" style="width: 120px;height: 140px;" v-show="haspic == 1">
										</div>
										<button type="button" class="layui-btn layui-bg-blue" id="uploadpic">选择图片</button>
									</div>
								</div>

								<div class="layui-form-item">
									<label for="bitian" class="layui-form-label">备注</label>
									<div class="layui-input-inline">
										<textarea type="text" name="remark" style="height: 70px;" class="layui-input"></textarea>
									</div>
								</div>

								<!-- //TODO 不知道怎么解决这个问题 -->
								<div class="layui-form-item">
									<label for="bitian" class="layui-form-label">车间添加</label>
									<div class="layui-input-inline">
										<button id="add" type="button" class="layui-btn layui-btn-primary" data-type="add">添加</button>
										<p style="text-align: left;margin: 5px;color: red;">注：车间删除时,请确认车间下无检测点存在</p>
									</div>
								</div>
								<div class="layui-form-item" v-show="hasedit == 1"> 
									<label for="bitian" class="layui-form-label">车间</label>
									<div>
										<div class="factor" name="tBasShopList">
											<div id="box" class="box" v-for="(it,index) in list">
												<span id="name" v-text="it.name"></span>
												<i class="layui-icon layui-icon-edit" @click="edit(it,index)"></i>
												<i class="layui-icon layui-icon-close  close" @click="delet(it,index)"></i>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="btn-box">
							<button id="save" class="layui-btn" lay-submit lay-filter="save">保存</button>
							<button class="layui-btn layui-bg-red" @click="cancel">取消</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var arr = [];
			layui.config({
				base: '../../../layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['index', "jquery", 'form', "upload", "layer"], function() {
				var form = layui.form,
					$ = layui.jquery,
					upload = layui.upload,
					layer = layui.layer;

				var province = $("#province"),
					city = $("#city"),
					district = $("#area");

				//初始将省份数据赋予
				for (var i = 0; i < provinceList.length; i++) {
					addEle(province, provinceList[i].name);
				}
				
				

				//赋予完成 重新渲染select
				form.render('select');

				//向select中 追加内容
				function addEle(ele, value) {
					var optionStr = "";
					optionStr = "<option value=" + value + " >" + value + "</option>";
					ele.append(optionStr);
				}

				//移除select中所有项 赋予初始值
				function removeEle(ele) {
					ele.find("option").remove();
					var optionStar = "<option value=" + "0" + ">" + "请选择" + "</option>";
					ele.append(optionStar);
				}

				var provinceText,
					cityText,
					cityItem;

				//选定省份后 将该省份的数据读取追加上
				form.on('select(province)', function(data) {
					provinceText = data.value;
					$.each(provinceList, function(i, item) {
						if (provinceText == item.name) {
							cityItem = i;
							return cityItem;
						}
					});
					removeEle(city);
					removeEle(district);
					$.each(provinceList[cityItem].cityList, function(i, item) {
						addEle(city, item.name);
					})
					//重新渲染select 
					form.render('select');
				})

				////选定市或直辖县后 将对应的数据读取追加上
				form.on('select(city)', function(data) {
					cityText = data.value;
					removeEle(district);
					$.each(provinceList, function(i, item) {
						if (provinceText == item.name) {
							cityItem = i;
							return cityItem;
						}
					});
					$.each(provinceList[cityItem].cityList, function(i, item) {
						if (cityText == item.name) {
							for (var n = 0; n < item.areaList.length; n++) {
								addEle(district, item.areaList[n]);
							}
						}
					})
					//重新渲染select 
					form.render('select');
				})


				axios({
					method: "post",
					url: BASEURL + 'environmental_intelligent_monitoring/tbastrade/list?limit=10000',
					params: {}
				}).then(function(res) {
					if (res.data.code == 0) {
						$.each(res.data.page.list, function(index, item) {
							// console.log(index, item)
							$('#tradeName').append(new Option(item.name, item.id)); // 下拉菜单里添加元素
						});
						layui.form.render("select");
					} else {
						vm.$notify.error({
						    title: '错误',
						    message: res.data.msg
						});
					}
				}).catch(function(err) {
					console.log(err);
				});


				//上传图片的方法 
				upload.render({
					elem: '#uploadpic',
					auto: false
						// ,bindAction: '#save'
						,
					choose: function(obj) {
						//预读本地文件示例，不支持ie8
						obj.preview(function(index, file, result) {
							$('#demo1').attr('src', result); //图片链接（base64）
							vm.haspic = 1
							vm.pic = result;
						});
					},
					done: function(res) {

						if (res.code > 0) {
							return layer.msg('上传失败');
						}

					},
					error: function() {


					}
				});

				// 监听select框获取选中的text值
				form.on('select(tradeName)', function(data) {
					// console.log(data.elem[data.elem.selectedIndex].text);
					vm.tradeName = data.elem[data.elem.selectedIndex].text
					form.render();

				});

				// 监听select框获取选中的text值
				form.on('select(concern)', function(data) {
					vm.concern = data.elem[data.elem.selectedIndex].text
					form.render();
				});

				// 提交表单
				form.on('submit(save)', function(data) {
					data.field.picUrl = vm.pic;
					data.field.tBasShopList = vm.list;
					data.field.tradeName = vm.tradeName;
					data.field.concern = vm.concern;
					data.field.organizeName = vm.atraName;
					data.field.organizeId = vm.treeId;
					console.log(vm.atraName);
					console.log(vm.pic);
					axios({
						method: "post",
						url: layui.setter.BASEURL + 'environmental_intelligent_monitoring/tbasenterprise/save',
						data: data.field,
						headers: {
							"Content-Type": "application/json;charset=UTF-8"
						}
					}).then(function(res) {
						// console.log(res)
						if (res.data.code == 0) {
							layer.msg('保存成功！', {
								time: 500
							}, function() {
								window.parent.location.reload();
								parent.layer.close('iframe');
							});
						} else {
							vm.$notify.error({
							    title: '错误',
							    message: res.data.msg
							});
						}
					}).catch(function(err) {
						console.log(err);
					});
					return false;
				})

				//添加弹窗
				var $ = layui.$,
					active = {
						add: function() {
							layer.open({
								type: 2,
								title: '添加车间',
								content: 'addFactor.html',
								maxmin: true,
								area: ['500px', '300px'],
								success: function(layero, index) {
									var body = layer.getChildFrame('body', index);
									var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
									body.find("#save").click(function() {
										vm.hasedit = 1;
										var name = $(window.frames[0].document).find("#name").val();
										var remark = $(window.frames[0].document).find("#remark").val();
										var obj = new Object();
										obj.name = name; //为对象增加属性
										obj.remark = remark;
										vm.list.push(obj);
									})

								}
							});
						}
					};
				$('#add').on('click', function() {
					var type = $(this).data('type');
					active[type] ? active[type].call(this) : '';
				});

				// 点击input框触发的事件
				$("#div_").bind("click", function() {
					vm.isActive = 1;
					$("#tree").css("display", "inline-block");
					event.stopPropagation(); //==========阻止冒泡1
				})
				//点击外面其他部分,触发的事件
				$(document).bind("click", function() {
					vm.isActive = 0;
					// vm.tree = !vm.tree;
					// console.log(vm.isActive);
					// console.log(vm.tree);
					// console.log("点击了其他部位");
					$("#tree").css("display", "none");

				})



			})
			var vm = new Vue({
				el: "#vm",
				data: {
					pic_name: "",
					pic: "",
					addfactor: [], //添加的数组
					factor: {}, //添加的每一个对象,把每一个对象放到一个数字里面,
					haspic: 0,
					hasedit: 0,
					list: [],
					tradeName: "",
					concern: '',
					Areashow: false,
					treeHign: true,
					treeData: [],
					defaultProps: {
					    children: 'children',
					    label: 'title'
					},
					atraName: "",
					startCreateDate: "",
					address: "",
					trustCode: "",
					endCreateDate: "",
					name: '',
					tree: 0,
					isActive: 0,
					treeValue: "",
					treeId: "",
					chargePhone:"",
					checkPhone:"",
					lawPhone:""
					
					
				},
				methods: {
					cancel: function() {
						parent.layer.closeAll('iframe'); //关闭弹窗
					},
					appear: function(isActive) {
						this.tree = !this.tree
						this.isActive = !this.isActive
					},
					edit: function(it, index_) {
						layer.open({
							type: 2,
							title: '编辑车间',
							content: 'editFactor.html',
							maxmin: true,
							area: ['500px', '300px'],
							success: function(layero, index) {
								var body = layer.getChildFrame('body', index);
								var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
								body.find('#name').val(it.name); //将值从父页面传到子页面的方法
								body.find('#remark').val(it.remark);
								body.find("#save").click(function() {
									vm.hasedit = 1;
									var list = iframeWin.get();
									for (var i = 0; i < list.length; i++) {
										it.name = list[i].name;
										it.remark = list[i].remark;
									}
								})
							}
						});
					},
					delet: function(it, index) {
						for (var i = 0; i < this.list.length; i++) {
							if (index == i) {
								this.list.splice(i, 1);
							}
						}
						if (this.list.length == 0) {
							vm.hasedit = 0;
						}
					},
					AdminFocus:function() {
					    vm.Areashow = !vm.Areashow;
					},
					treeDataInit:function() {
					    axios({
					        method: "post",
					        url: BASEURL + 'environmental_intelligent_monitoring/tbasorganize/dendrogramList',
					        params: {
					            type: "2"
					        }
					    }).then(function (res) {
					        if (res.data.code == 0) {
					            var data = res.data.data;
					            vm.treeData = data;
					        } else {
								vm.$notify.error({
								    title: '错误',
								    message: res.data.msg
								});
					        }
					    }).catch(function (err) {
					        console.log(err);
					    });
					
					},
					handleNodeClick:function(data, node) {
					    console.log(data);
					    vm.atraName = data.title;
						vm.treeId = data.id
					    vm.treeHign = true;
					    vm.Areashow = false;
					    
					},
					chargePhones:function() {
						var phone = document.getElementById('phone').value;
						if(!(/^1[3456789]\d{9}$/.test(phone))){ 
							// vm.chargePhone = ""
							console.log(vm.chargePhone);
						    vm.$notify.error({
						        title: '错误',
						        message: "手机号码有误，请重填"
						    }); 
						    return false; 
						}
					},
					checkPhones:function(){
						var phone1 = document.getElementById('phone1').value;
						if(!(/^1[3456789]\d{9}$/.test(phone1))) {
							// vm.checkPhone = ""
							vm.$notify.error({
							    title: '错误',
							    message: "手机号码有误，请重填"
							}); 
							return false; 
						}
					},
					lawPhones:function(){
						var phone2 = document.getElementById('phone2').value;
						if(!(/^1[3456789]\d{9}$/.test(phone2))) {
							// vm.lawPhone = ""
							vm.$notify.error({
							    title: '错误',
							    message: "手机号码有误，请重填"
							}); 
							return false; 
						}
					}
				},
				created() {
					this.treeDataInit();
				}
			});
			
		</script>
	</body>
</html>
