<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>新增</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"
    />
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css">
    <link rel="stylesheet" href="./../../../layuiadmin/plugin/element.css">
    <script type="text/javascript" src="../../../layuiadmin/layui/layui.js" charset="utf-8"></script>
    <!-- 引入vue -->
    <script type="text/javascript" src="../../../layuiadmin/plugin/vue.js"></script>
    <script src="./../../../layuiadmin/plugin/element.js"></script>
    <script type="text/javascript" src="../../../layuiadmin/plugin/axios.js"></script>
    <script src="../../../layuiadmin/js/baseUrlConfig.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    
    <![endif]-->
    <style>
        .btn-box {
            text-align: center;
        }

        .btn-box button {
            /* margin-right: 30px; */
            margin-bottom: 10px;
        }

        .layui-form-label {
            width: 140px;

        }

        .layui-form-item .layui-input-inline {
            width: 220px;
        }

        .treeCss {
            width: 50%;
            height: 100%;
        }

        .treeCss .treeItem {
            /* width: 300px; */
            float: left;
            border: 1px solid #e6e6e6;
            border-radius: 4px;
        }

        #shopTree .ulShop {
            padding: 10px;
        }

        #shopTree .ulShop .lishop {
            margin-bottom: 10px;
        }

        #shopTree .layui-form-radio>i {
            font-size: 14px;
        }

        #shopTree .layui-form-radio {
            margin: 2px 0 0 16px;
        }

        #shopTree .ulShop .layui-icon-pause,
        #shopTree .ulShop .layui-icon-add-circle {
            cursor: pointer;
            font-size: 18px;
        }

        .red {
            color: #f00;
            font-size: 22px;
        }
    </style>
</head>

<body>
    <div id="vm">
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">

                    <div class="layui-form-item">

                        <label for="bitian" class="layui-form-label">
                            监测点名称
                            <span class="red">*</span>
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" name="monitorName" lay-verify="required" class="layui-input" placeholder="" />

                        </div>



                        <label for="bitian" class="layui-form-label">
                            信息分类
                            <span class="red">*</span>
                        </label>
                        <div class="layui-input-inline">

                            <!-- <input type="text" v-model="tDeviceMonitor.type" class="layui-input" placeholder="设备类型:1、生产设备 2、治污设备" /> -->
                            <select name="ecPolluteType" id="ecPolluteType" lay-filter="ecPolluteType" lay-verify="required">
                                <option value="">请选择信息分类方式</option>
                                <option value=""></option>
                            </select>

                        </div>



                    </div>
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label" style="width: 100px;">
                            设备类型</label>
                        <div class="layui-input-inline" style="width: 315px;">

                            <!-- <input type="text" v-model="tDeviceMonitor.type" class="layui-input" placeholder="设备类型:1、生产设备 2、治污设备" /> -->
                            <input type="radio" name="codeType" value="0" title="生产设备">
                            <input type="radio" name="codeType" value="1" title="治污设备">
                            <input type="radio" name="codeType" value="2" title="总进线">
                        </div>

                        <label for="bitian" class="layui-form-label" style="width: 60px;">
                            类别
                            <span class="red">*</span>
                        </label>
                        <div class="layui-input-inline">

                            <!-- <input type="text" v-model="tDeviceMonitor.type" class="layui-input" placeholder="设备类型:1、生产设备 2、治污设备" /> -->
                            <select name="ecType" id="ecType" lay-filter="ecType" lay-verify="">
                                <option value=""></option>
                            </select>

                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            企业选择</label>
                        <div class="layui-input-inline">
                            <el-autocomplete v-model="firmName" :fetch-suggestions="querySearchAsync" placeholder="请输入内容" @select="handleSelect"></el-autocomplete>
                        </div>


                        <label for="bitian" class="layui-form-label">
                            工艺
                            <!-- <span class="red">*</span> -->
                        </label>
                        <div class="layui-input-inline">
                            <select name="route" id="route" lay-filter="route" lay-verify="">
                                <option value=""></option>
                            </select>
                            <!-- <input type="text" name="route" lay-filter="route" class="layui-input" placeholder="" /> -->
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <!-- <label for="bitian" class="layui-form-label">
                            仪表地址
                            <span class="red">*</span>
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" name="meterId" class="layui-input" lay-verify="required" placeholder="" />
                        </div> -->
                        <label for="bitian" class="layui-form-label">
                            网关编号
                            <span class="red">*</span>
                        </label>

                        <div class="layui-input-inline">
                            <el-autocomplete v-model="swicthId" :fetch-suggestions="querySwicthId" placeholder="请输入内容" @select="handleSwicthId"></el-autocomplete>
                            <!-- <input type="text" name="swicthId" lay-verify="required" class="layui-input" placeholder="网关编号" /> -->
                        </div>

                        <div class="layui-inline" v-show="selectShow == 1">
                            <label for="bitian" class="layui-form-label">
                                电压变比
                                <span class="red">*</span>
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" name="pt" id="pt" lay-verify="required" class="layui-input" placeholder="" />
                            </div>
                        </div>
                        <!-- 振动量设备 -->
                        <div class="layui-inline" v-show="selectShow == 2">
                            <label for="bitian" class="layui-form-label">
                                X轴震动加速度阀值
                                <span class="red">*</span>
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" name="xAccelerat" id="xAccelerat" lay-verify="required" class="layui-input" placeholder="" />
                            </div>
                        </div>
                        <!-- 雷达设备 -->
                        <div class="layui-inline" v-show="selectShow == 3">
                            <label for="bitian" class="layui-form-label">
                                雷达回波时间比例阀值
                                <span class="red">*</span>
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" name="radarProport" id="radarProport" lay-verify="required" class="layui-input" placeholder=""
                                />
                            </div>
                        </div>
                        <!-- 流量计 -->
                        <div class="layui-inline" v-show="selectShow == 4">
                            <label for="bitian" class="layui-form-label">
                                流速阀值
                                <span class="red">*</span>
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" name="currentSpeed" id="currentSpeed" lay-verify="required" class="layui-input" placeholder="" />
                            </div>
                        </div>
                        <!-- 温度 -->
                        <div class="layui-inline" v-show="selectShow == 5">
                            <label for="bitian" class="layui-form-label">
                                温度阀值
                                <span class="red">*</span>
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" name="temperature" id="temperature" lay-verify="required" class="layui-input" placeholder="" />
                            </div>
                        </div>



                    </div>
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            所选车间</label>
                        <div class="layui-input-inline">
                            <!-- <input type="text" v-model="shopname" disabled class="layui-input layui-disabled" placeholder="所选车间" /> -->
                            <el-select v-model="shopId" @change="selectGet" placeholder="请选择">
                                <el-option v-for="item in shopOptions" :key="item.value" :label="item.name" :value="item.id">
                                </el-option>
                            </el-select>
                        </div>


                        <div class="layui-inline" v-show="selectShow == 1">
                            <label for="bitian" class="layui-form-label">
                                电流变比
                                <span class="red">*</span>
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" name="ct" id="ct" lay-verify="required" class="layui-input" placeholder="" />
                            </div>
                        </div>
                        <!-- 振动量设备 -->
                        <div class="layui-inline" v-show="selectShow == 2">
                            <label for="bitian" class="layui-form-label">
                                Y轴震动加速度阀值
                                <span class="red">*</span>
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" name="yAccelerat" id="yAccelerat" lay-verify="required" class="layui-input" placeholder="" />
                            </div>
                        </div>
                        <!-- 雷达设备 -->
                        <div class="layui-inline" v-show="selectShow == 3">
                            <label for="bitian" class="layui-form-label">
                                雷达计数阀值
                                <span class="red">*</span>
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" name="radarCount" id="radarCount" lay-verify="required" class="layui-input" placeholder="" />
                            </div>
                        </div>
                        <!-- 流量计 -->
                        <div class="layui-inline" v-show="selectShow == 4">
                            <label for="bitian" class="layui-form-label">
                                流量阀值
                                <span class="red">*</span>
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" name="flow" id="flow" lay-verify="required" class="layui-input" placeholder="" />
                            </div>
                        </div>

                    </div>

                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            仪表地址
                            <span class="red">*</span>
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" v-model="meterCode" class="layui-input" lay-verify="required" placeholder="请输入0-99中的任意数字" />
                        </div>


                        <div class="layui-inline" v-show="selectShow == 1">
                            <label for="bitian" class="layui-form-label">
                                功率启停阀值(kW)
                                <span class="red">*</span>
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" name="electricLimit" id="electricLimit" lay-verify="required" class="layui-input" placeholder=""
                                />
                            </div>
                        </div>
                        <div class="layui-inline" v-show="selectShow == 2">
                            <label for="bitian" class="layui-form-label">
                                Z轴震动加速度阀值
                                <span class="red">*</span>
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" name="zAccelerat" id="zAccelerat" lay-verify="required" class="layui-input" placeholder="" />
                            </div>
                        </div>
                        <!-- <label for="bitian" class="layui-form-label">
                            采集器代码</label>
                        <div class="layui-input-inline">
                            <input type="text" name="mn" class="layui-input" />
                        </div> -->

                    </div>

                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            仪表类别
                            <span class="red">*</span>
                        </label>
                        <div class="layui-input-inline">
                            <select name="collectType" id="collectType" lay-filter="collectType" lay-verify="required">
                                <option value="">请选择仪表类别</option>
                                <option value="用电">用电</option>
                                <option value="流量计">流量计</option>
                                <option value="温度">温度</option>
                                <option value="雷达设备">雷达设备</option>
                                <option value="振动量设备">振动量设备</option>
                            </select>
                            <!-- <input type="text" name="meterid" v-model="tDeviceMonitor.meterid" class="layui-input" placeholder="仪表类别" /> -->
                        </div>


                        <div class="layui-inline" v-show="selectShow == 1">
                            <label for="bitian" class="layui-form-label">
                                功率门限时间(m)
                                <span class="red">*</span>
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" name="electricTime" id="electricTime" lay-verify="required" class="layui-input" placeholder=""
                                />
                            </div>

                        </div>
                        <div class="layui-inline" v-show="selectShow == 2">
                            <label for="bitian" class="layui-form-label">
                                X轴震动主频率阀值
                                <span class="red">*</span>
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" name="xFrequen" id="xFrequen" lay-verify="required" class="layui-input" placeholder="" />
                            </div>
                        </div>



                    </div>
                    <div class="layui-form-item">
                        <!-- <label for="bitian" class="layui-form-label">
                            仪表型号
                            <span class="red">*</span>
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" name="model" lay-verify="required" class="layui-input" placeholder="仪表型号" />
                        </div> -->
                        <label for="bitian" class="layui-form-label">
                            采集器代码</label>
                        <div class="layui-input-inline">
                            <input type="text" v-model="tnCode" class="layui-input" placeholder="" />
                        </div>

                        <div class="layui-inline" v-show="selectShow == 1">
                            <label for="bitian" class="layui-form-label">
                                电量阀值(kW·h)
                                <span class="red">*</span>
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" name="powerLimit" id="powerLimit" class="layui-input" placeholder="" />
                            </div>
                        </div>

                        <div class="layui-inline" v-show="selectShow == 2">
                            <label for="bitian" class="layui-form-label">
                                Y轴震动主频率阀值
                                <span class="red">*</span>
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" name="yFrequen" id="yFrequen" lay-verify="required" class="layui-input" placeholder="" />
                            </div>
                        </div>

                    </div>


                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            是否正式上线</label>
                        <div class="layui-input-inline">
                            <input type="radio" name="isShow" value="true" title="是">
                            <input type="radio" name="isShow" value="false" title="否">
                        </div>
                        <div class="layui-inline" v-show="selectShow == 1">
                            <label for="bitian" class="layui-form-label">
                                电量门限时间(m)
                                <span class="red">*</span>
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" name="powerTime" id="powerTime" class="layui-input" placeholder="" />
                            </div>
                        </div>
                        <div class="layui-inline" v-show="selectShow == 2">
                            <label for="bitian" class="layui-form-label">
                                Z轴震动主频率阀值
                                <span class="red">*</span>
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" name="zFrequen" id="zFrequen" lay-verify="required" class="layui-input" placeholder="" />
                            </div>
                        </div>



                    </div>
                    <div class="layui-form-item">

                        <label for="bitian" class="layui-form-label">
                            设备用途</label>
                        <div class="layui-input-inline">
                            <input type="text" name="equipmentUse" v-model="tDeviceMonitor.equipmentuse" class="layui-input" placeholder="" />
                        </div>
                        <div class="layui-inline" v-show="selectShow == 1">
                            <label for="bitian" class="layui-form-label">
                                额定电压(V)
                                <span class="red">*</span>
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" name="ratedU" id="ratedU" class="layui-input" placeholder="" />
                            </div>
                        </div>


                    </div>
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            摄像头编号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="cameraIndexCode" class="layui-input" placeholder="" />
                        </div>
                        <div class="layui-inline" v-show="selectShow == 1">
                            <label for="bitian" class="layui-form-label">
                                额定功率(kW)
                                <span class="red">*</span>
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" name="ratedPower" lay-verify="required" id="ratedPower" class="layui-input" placeholder="" />
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">

                        <label for="bitian" class="layui-form-label">
                            备注</label>
                        <div class="layui-input-inline">
                            <textarea placeholder="请输入内容" class="layui-textarea" name="remark"></textarea>
                        </div>

                    </div>

                    <div class="btn-box">
                        <button class="layui-btn" lay-submit lay-filter="deviceForm">添加</button>
                        <button class="layui-btn layui-btn-danger" @click="cancel">取消</button>
                    </div>

                </form>
            </div>
        </div>



    </div>
    <script>
        layui.config({
            base: '../../../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', "jquery", 'form', 'tree', 'laytpl', 'util'], function () {
            var form = layui.form,
                $ = layui.jquery,
                tree = layui.tree,
                util = layui.util,
                laytpl = layui.laytpl;

            // select框动态填充联动
            // function selectTree(selectId) {
            //     axios({
            //         method: "post",
            //         url: BASEURL + 'environmental_intelligent_monitoring/tdevicemonitor/queryPolluteType',
            //         params: {}
            //     }).then(function (res) {
            //         if (res.data.code == 0) {
            //             // console.log(res)

            //             $.each(res.data.data, function (index, item) {
            //                 // var se = $(selectId).attr('id')
            //                 // console.log($(selectId).attr('id'))
            //                 // console.log(index, item)
            //                 $(selectId).attr('id').append(new Option(item.text, item.id));// 下拉菜单里添加元素
            //             });
            //             layui.form.render("select");

            //         } else {

            //         }
            //     }).catch(function (err) {
            //         console.log(err);
            //     });

            // }
            // selectTree(ecPolluteType)
            // 第一层填充
            axios({
                method: "post",
                url: BASEURL + 'environmental_intelligent_monitoring/tdevicemonitor/queryPolluteType',
                params: {}
            }).then(function (res) {
                if (res.data.code == 0) {
                    // console.log(res)
                    $.each(res.data.data, function (index, item) {
                        // console.log(index, item)
                        $('#ecPolluteType').append(new Option(item.text, item.id));// 下拉菜单里添加元素
                    });
                    layui.form.render("select");

                } else {

                }
            }).catch(function (err) {
                console.log(err);
            });

            // 第二层填充
            form.on('select(ecPolluteType)', function (data) {
                console.log(data)
                // select框动态填充联动
                $("#ecType").empty();
                axios({
                    method: "post",
                    url: BASEURL + 'environmental_intelligent_monitoring/tdevicemonitor/queryPolluteType',
                    params: {
                        id: data.value
                    }
                    /* headers: {
                        "Content-Type": "application/json;charset=UTF-8"
                    } */
                }).then(function (res) {
                    if (res.data.code == 0) {
                        // console.log(res)
                        $.each(res.data.data, function (index, item) {
                            console.log(item);
                            $('#ecType').append(new Option(item.text, item.id));// 下拉菜单里添加元素
                        });
                        console.log($('#ecType').val())
                        layui.form.render("select");


                        // 获取第三层
                        $("#route").empty();
                        axios({
                            method: "post",
                            url: BASEURL + 'environmental_intelligent_monitoring/tdevicemonitor/queryPolluteType',
                            params: {
                                id: $('#ecType').val()
                            }
                            /* headers: {
                                "Content-Type": "application/json;charset=UTF-8"
                            } */
                        }).then(function (res) {
                            if (res.data.code == 0) {
                                // console.log(res)
                                $.each(res.data.data, function (index, item) {
                                    console.log(index, item);
                                    $('#route').append(new Option(item.text, item.id));// 下拉菜单里添加元素
                                });
                                layui.form.render("select");

                            } else {

                            }
                        }).catch(function (err) {
                            console.log(err);
                        });

                    } else {

                    }
                }).catch(function (err) {
                    console.log(err);
                });


            })
            // 第三层填充
            form.on('select(ecType)', function (data) {
                console.log(data)
                // select框动态填充联动
                $("#route").empty();
                axios({
                    method: "post",
                    url: BASEURL + 'environmental_intelligent_monitoring/tdevicemonitor/queryPolluteType',
                    params: {
                        id: data.value
                    }
                    /* headers: {
                        "Content-Type": "application/json;charset=UTF-8"
                    } */
                }).then(function (res) {
                    if (res.data.code == 0) {
                        // console.log(res)
                        $.each(res.data.data, function (index, item) {
                            console.log(index, item);
                            $('#route').append(new Option(item.text, item.id));// 下拉菜单里添加元素
                        });
                        layui.form.render("select");

                    } else {

                    }
                }).catch(function (err) {
                    console.log(err);
                });


            })

            // 监听select选择框
            form.on("select(collectType)", function (data) {
                if (data.value == '用电') {
                    vm.selectShow = 1;
                    $("#pt").attr("lay-verify", 'required');
                    $("#ct").attr("lay-verify", 'required');
                    $("#xAccelerat").attr("lay-verify", '');
                    $("#radarProport").attr("lay-verify", '');
                    $("#currentSpeed").attr("lay-verify", '');
                    $("#temperature").attr("lay-verify", '');
                    $("#yAccelerat").attr("lay-verify", '');
                    $("#radarCount").attr("lay-verify", '');
                    $("#flow").attr("lay-verify", '');
                    $("#electricLimit").attr("lay-verify", 'required');
                    $("#zAccelerat").attr("lay-verify", '');
                    $("#electricTime").attr("lay-verify", 'required');
                    $("#xFrequen").attr("lay-verify", '');
                    $("#powerLimit").attr("lay-verify", 'required');
                    $("#zFrequen").removeAttr("lay-verify");
                    $("#powerTime").attr("lay-verify", 'required');
                    $("#yFrequen").attr("lay-verify", '');
                    $("#ratedPower").attr("lay-verify", 'required');
                    $("#ratedU").attr("lay-verify", 'required');
                    $("#ratedPower").attr("lay-verify", 'required');
                } else if (data.value == '振动量设备') {
                    vm.selectShow = 2;
                    $("#pt").attr("lay-verify", '');
                    $("#ct").attr("lay-verify", '');
                    $("#xAccelerat").attr("lay-verify", 'required');
                    $("#radarProport").attr("lay-verify", '');
                    $("#currentSpeed").attr("lay-verify", '');
                    $("#temperature").attr("lay-verify", '');
                    $("#yAccelerat").attr("lay-verify", 'required');
                    $("#radarCount").attr("lay-verify", '');
                    $("#flow").attr("lay-verify", '');
                    $("#electricLimit").attr("lay-verify", '');
                    $("#zAccelerat").attr("lay-verify", 'required');
                    $("#electricTime").attr("lay-verify", '');
                    $("#xFrequen").attr("lay-verify", 'required');
                    $("#powerLimit").attr("lay-verify", '');
                    $("#zFrequen").attr("lay-verify", 'required');
                    $("#powerTime").attr("lay-verify", '');
                    $("#yFrequen").attr("lay-verify", 'required');
                    $("#ratedPower").attr("lay-verify", '');
                    $("#ratedU").attr("lay-verify", '');
                    $("#ratedPower").attr("lay-verify", '');
                } else if (data.value == '雷达设备') {
                    vm.selectShow = 3;
                    $("#pt").attr("lay-verify", '');
                    $("#ct").attr("lay-verify", '');
                    $("#xAccelerat").attr("lay-verify", '');
                    $("#radarProport").attr("lay-verify", 'required');
                    $("#currentSpeed").attr("lay-verify", '');
                    $("#temperature").attr("lay-verify", '');
                    $("#yAccelerat").attr("lay-verify", '');
                    $("#radarCount").attr("lay-verify", 'required');
                    $("#flow").attr("lay-verify", '');
                    $("#electricLimit").attr("lay-verify", '');
                    $("#zAccelerat").attr("lay-verify", '');
                    $("#electricTime").attr("lay-verify", '');
                    $("#xFrequen").attr("lay-verify", '');
                    $("#powerLimit").attr("lay-verify", '');
                    $("#zFrequen").attr("lay-verify", '');
                    $("#powerTime").attr("lay-verify", '');
                    $("#yFrequen").attr("lay-verify", '');
                    $("#ratedPower").attr("lay-verify", '');
                    $("#ratedU").attr("lay-verify", '');
                    $("#ratedPower").attr("lay-verify", '');

                } else if (data.value == '流量计') {
                    vm.selectShow = 4;
                    $("#pt").attr("lay-verify", '');
                    $("#ct").attr("lay-verify", '');
                    $("#xAccelerat").attr("lay-verify", '');
                    $("#radarProport").attr("lay-verify", '');
                    $("#temperature").attr("lay-verify", '');
                    $("#currentSpeed").attr("lay-verify", 'required');
                    $("#yAccelerat").attr("lay-verify", '');
                    $("#radarCount").attr("lay-verify", '');
                    $("#flow").attr("lay-verify", 'required');
                    $("#electricLimit").attr("lay-verify", '');
                    $("#zAccelerat").attr("lay-verify", '');
                    $("#electricTime").attr("lay-verify", '');
                    $("#xFrequen").attr("lay-verify", '');
                    $("#powerLimit").attr("lay-verify", '');
                    $("#zFrequen").attr("lay-verify", '');
                    $("#powerTime").attr("lay-verify", '');
                    $("#yFrequen").attr("lay-verify", '');
                    $("#ratedPower").attr("lay-verify", '');
                    $("#ratedU").attr("lay-verify", '');
                    $("#ratedPower").attr("lay-verify", '');
                } else if (data.value == '温度') {
                    vm.selectShow = 5;
                    $("#pt").attr("lay-verify", '');
                    $("#ct").attr("lay-verify", '');
                    $("#xAccelerat").attr("lay-verify", '');
                    $("#radarProport").attr("lay-verify", '');
                    $("#currentSpeed").attr("lay-verify", '');
                    $("#temperature").attr("lay-verify", 'required');
                    $("#yAccelerat").attr("lay-verify", '');
                    $("#radarCount").attr("lay-verify", '');
                    $("#flow").attr("lay-verify", '');
                    $("#electricLimit").attr("lay-verify", '');
                    $("#zAccelerat").attr("lay-verify", '');
                    $("#electricTime").attr("lay-verify", '');
                    $("#xFrequen").attr("lay-verify", '');
                    $("#powerLimit").attr("lay-verify", '');
                    $("#zFrequen").attr("lay-verify", '');
                    $("#powerTime").attr("lay-verify", '');
                    $("#yFrequen").attr("lay-verify", '');
                    $("#ratedPower").attr("lay-verify", '');
                    $("#ratedU").attr("lay-verify", '');
                    $("#ratedPower").attr("lay-verify", '');
                }
            })

            // form表单添加数据提交
            form.on('submit(deviceForm)', function (data) {
                data.field.shopId = vm.shopId;
                data.field.shopName = vm.shopName;
                data.field.enterpriseName = vm.enterpriseName;
                data.field.enterpriseId = vm.enterpriseId;
                data.field.swicthId = vm.swicthId;
                data.field.meterId = vm.meterCode;
                data.field.mn = vm.tnCode;
                console.log(data.field);
                // console.log(vm.selectShow)
                /*    data.field.ecPolluteType = $("#ecPolluteType option:selected").text();
                   data.field.ecType = $("#ecType option:selected").text();
                   data.field.route = $("#route option:selected").text(); */
                axios({
                    method: "post",
                    url: layui.setter.BASEURL + 'environmental_intelligent_monitoring/tdevicemonitor/save',
                    data: data.field,
                    headers: {
                        "Content-Type": "application/json;charset=UTF-8"
                    }
                }).then(function (res) {
                    if (res.data.code == 0) {
                        console.log(res)
                        layer.msg('保存成功！', {
                            time: 500
                        }, function () {
                            window.parent.location.reload();
                            parent.layer.close('iframe');
                        });
                    } else {
                        vm.$notify.error({
                            title: '错误',
                            message: res.data.msg
                        });
                    }
                }).catch(function (err) {
                    console.log(err);
                });
                return false;
            })



        })
        var vm = new Vue({
            el: "#vm",
            data: {
                tDeviceMonitor: {},
                treeData: [],
                treeItemShow: 0,
                treeItemData: [],
                i: -1,
                shopId: "",
                shopName: "",
                enterpriseName: "",
                enterpriseId: "",
                selectShow: 1,
                firmName: "",
                shopOptions: [],
                swicthId: "",
                tnCode: "",
                meterCode: ""
            },
            updated: function () {
                layui.use(['form'], function () {
                    var form = layui.form
                    form.render();

                    form.on('radio(beshared)', function (data) {
                        console.log(data);
                        vm.shopname = data.value;
                    })
                })
            },
            watch: {
                meterCode(val) {
                    if (val > 99) {
                        this.$message.warning('必须为0-99中的任意数字');
                    } else {
                        console.log(vm.swicthId + val);
                        vm.tnCode = vm.swicthId + val;

                    }

                },
                swicthId(val) {
                    vm.tnCode = val + vm.meterCode;
                }
            },
            methods: {
                // treeInit() {
                //     // 车间树状组件请求数据
                //     axios({
                //         method: "post",
                //         url: BASEURL + 'environmental_intelligent_monitoring/tbasshop/list',
                //         data: {},
                //         headers: {
                //             "Content-Type": "application/json;charset=UTF-8"
                //         }
                //     }).then(function (res) {
                //         if (res.data.code == 0) {
                //             var datalist = res.data.page.list;
                //             for (let i = 0, len = datalist.length; i < len; i++) {
                //                 for (let j = i + 1; j < len; j++) {
                //                     if (datalist[i].enterpriseId == datalist[j].enterpriseId) {
                //                         datalist.splice(j, 1);
                //                         // splice 会改变数组长度，所以要将数组长度 len 和下标 j 减一
                //                         len--;
                //                         j--;
                //                     }
                //                 }
                //             }

                //             console.log(datalist)
                //             vm.treeData = datalist;
                //         } else {

                //         }
                //     }).catch(function (err) {
                //         console.log(err);
                //     });
                // },
                // treeItem(item) {
                //     // vm.treeItemShow == item.enterpriseId;
                //     axios({
                //         method: "post",
                //         url: BASEURL + 'environmental_intelligent_monitoring/tbasshop/list',
                //         params: {
                //             enterpriseId: item.enterpriseId
                //         }
                //         /*  headers: {
                //              "Content-Type": "application/json;charset=UTF-8"
                //          } */
                //     }).then(function (res) {
                //         if (res.data.code == 0) {
                //             // vm.treeItemShow = !vm.treeItemShow;

                //             // console.log(res)
                //             vm.enterpriseName = item.enterpriseName;
                //             vm.i = item.enterpriseId
                //             var _vm = vm;
                //             vm.$nextTick(function () {
                //                 _vm.treeItemData = res.data.page.list;
                //                 console.log(_vm.treeItemData);
                //             })
                //             layui.form.render();

                //             // vm.treeItemData = res.data.page.list;

                //         } else {

                //         }
                //     }).catch(function (err) {
                //         console.log(err);
                //     });
                // },
                cancel() {
                    parent.layer.closeAll('iframe');//关闭弹窗
                },
                // 企业远程搜索框
                querySearchAsync(queryString, callback) {
                    console.log(queryString);
                    var list = [{}];
                    // 车间树状组件请求数据
                    axios({
                        method: "post",
                        url: BASEURL + 'environmental_intelligent_monitoring/tbasshop/list?limit=10000',
                        params: {
                            enterpriseName: queryString
                        }
                        // data: {},
                        // headers: {
                        //     "Content-Type": "application/json;charset=UTF-8"
                        // }
                    }).then(function (res) {
                        if (res.data.code == 0) {
                            var datalist = res.data.page.list;
                            for (let i = 0, len = datalist.length; i < len; i++) {
                                for (let j = i + 1; j < len; j++) {
                                    if (datalist[i].enterpriseId == datalist[j].enterpriseId) {
                                        datalist.splice(j, 1);
                                        // splice 会改变数组长度，所以要将数组长度 len 和下标 j 减一
                                        len--;
                                        j--;
                                    }
                                }
                            }
                            // console.log(datalist)
                            for (let i of datalist) {
                                i.value = i.enterpriseName; //将想要展示的数据作为value
                                // console.log(i.value)
                            }
                            list = datalist;
                            callback(list);
                        } else {

                        }
                    }).catch(function (err) {
                        console.log(err);
                    });
                },
                handleSelect(item) {
                    console.log(item);
                    this.enterpriseName = item.enterpriseName;
                    this.enterpriseId = item.enterpriseId;
                    // 车间选择
                    axios({
                        method: "post",
                        url: BASEURL + 'environmental_intelligent_monitoring/tbasshop/list',
                        params: {
                            enterpriseId: item.enterpriseId
                        }
                        /*  headers: {
                             "Content-Type": "application/json;charset=UTF-8"
                         } */
                    }).then(function (res) {
                        if (res.data.code == 0) {
                            vm.shopOptions = res.data.page.list;
                            console.log(vm.shopOptions)

                        } else {

                        }
                    }).catch(function (err) {
                        console.log(err);
                    });
                    // 网关编码选择
                    // this.querySwicthId(callback)


                }
                // 网管编码远程搜索
                , querySwicthId(qs, callback) {
                    var list = [{}];
                    axios({
                        method: "post",
                        url: BASEURL + 'environmental_intelligent_monitoring/tdevicemonitor/querySwicthIdList',
                        params: {
                            enterpriseId: vm.enterpriseId
                        }
                    }).then(function (res) {
                        if (res.data.code == 0) {
                            var datalist = res.data.data;
                            // for (let i = 0, len = datalist.length; i < len; i++) {
                            //     for (let j = i + 1; j < len; j++) {
                            //         if (datalist[i].enterpriseId == datalist[j].enterpriseId) {
                            //             datalist.splice(j, 1);
                            //             // splice 会改变数组长度，所以要将数组长度 len 和下标 j 减一
                            //             len--;
                            //             j--;
                            //         }
                            //     }
                            // }
                            // console.log(datalist)
                            for (let i = 0, len = datalist.length; i < len; i++) {
                                if (datalist[i] == null) {
                                    datalist.splice(i, 1)
                                }
                            }
                            for (let i of datalist) {
                                i.value = i.swicthId; //将想要展示的数据作为value
                                // console.log(i.value)
                            }
                            list = datalist;
                            callback(list);

                        } else {

                        }
                    }).catch(function (err) {
                        console.log(err);
                    });

                },
                handleSwicthId() {

                }

                , selectGet(val) {
                    console.log(val);
                    obj = this.shopOptions.find((item) => {//这里的userList就是上面遍历的数据源
                        console.log(item)
                        return item.id === val;//筛选出匹配数据
                    });
                    this.shopName = obj.name;
                    console.log(obj.name);//我这边的name就是对应label的
                }
            },
            created() {
                // this.treeInit();
            }

        });
    </script>
</body>

</html>