<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>设施状态</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" media="all" href="../../../layuiadmin/layui/css/layui.css" />
		<link rel="stylesheet" media="all" href="../../../layuiadmin/style/admin.css" />
	</head>
	<style type="text/css">
		.data {
			width: :100%;
			height: 40px;
			line-height: 40px;
			background: #B3D8FF;
			padding-left: 10px;
			font-size: 14px;
		}

		.bar {
			width: 19%;
			height: 100px;
			background: ghostwhite;
			text-align: center;
			margin-top: 10px;
			margin-right: 1%;
		}

		.bar p:nth-child(1) {
			font-size: 20px;
			font-weight: 800;
			margin-top: 15px;

		}


		.bar span {
			font-size: 20px;
			font-weight: 800;
			margin-top: 15px;
		}

		.bar p:nth-child(2) {
			margin-top: -10px;
		}

		p {
			margin: 0;
			padding: 0;
		}

		.flex {
			display: flex;
			flex-wrap: wrap;
		}

		#flex {
			display: flex;
			justify-content: center;
		}

		p {
			margin: 0rem;
			padding: 0px;
		}

		.big {
			animation: rotated 0.2s linear forwards;
		}

		@keyframes rotated {
			from {
				transform: scale(1, 1);
			}

			to {
				transform: scale(2, 2);
			}
		}

		.small {
			animation: rotated_after 0.2s linear forwards;
		}

		@keyframes rotated_after {
			from {
				transform: scale(2, 2);
			}

			to {
				transform: scale(1, 1);
			}
		}
	</style>
	<body>
		<div class="layui-fluid" id="app">
			<div class="layui-card">
				<div class="layui-form layui-card-header layuiadmin-card-header-auto">
					<div style="display: flex;justify-content: space-between;">
						<div class="flex ">
							<p>企业 :</p>
							<p v-text="enterpriseName"></p>
						</div>
						<div class="flex">
							<p>监测点 :</p>
							<p v-text="monitorName"></p>
						</div>
						<div class="flex">
							<p>当前状态 :</p>
							<p v-text="status"></p>
						</div>
						<div class="flex">
							<p>时间 :</p>
							<p v-text="modifyDate"></p>
						</div>
					</div>
					<div class="data " style="display: flex;justify-content: space-between;">
						<p>实时数据</p>
						<div>
							<button type="button"  class="layui-btn" @click="refresh">刷新</button>
						</div>
					</div>
					<div class="flex">
						<div class="bar">
							<div id="flex">
								<p v-text="ua"></p>
								<span>V</span>
							</div>
							<p style="margin-top: -10px;">A相电压</p>
						</div>
						<div class="bar">
							<div id="flex">
								<p v-text="ub"></p>
								<span>V</span>
							</div>
							<p>B相电压</p>
						</div>
						<div class="bar">
							<div id="flex">
								<p v-text="uc"></p>
								<span>V</span>
							</div>
							<p>C相电压</p>
						</div>
						<div class="bar">
							<div id="flex">
								<p v-text="ia"></p>
								<span>A</span>
							</div>
							<p>A相电流</p>
						</div>
						<div class="bar">
							<div id="flex">
								<p v-text="ib"></p>
								<span>A</span>
							</div>
							<p>B相电流</p>
						</div>
						<div class="bar">
							<div id="flex">
								<p v-text="ic"></p>
								<span>A</span>
							</div>
							<p>C相电流</p>
						</div>
						<div class="bar">
							<div id="flex">
								<p v-text="pi"></p>
								<span>kWh</span>
							</div>
							<p>总有功电量示值</p>
						</div>
						<div class="bar">
							<div id="flex">
								<p v-text="p"></p>
								<span>kW</span>
							</div>
							<p>总有功功率</p>
						</div>
						<div class="bar">
							<div id="flex">
								<p v-text="q"></p>
								<span>kVar</span>
							</div>
							<p>总无功功率</p>
						</div>
						<div class="bar">
							<div id="flex">
								<div id="flex">
									<p v-text="the"></p>
									<span></span>
								</div>
							</div>
							<p>总功率因数</p>
						</div>
						<div class="bar">
							<div id="flex">
								<div id="flex">
									<p v-text="ia"></p>
									<span>A</span>
								</div>
							</div>
							<p>单相电流</p>
						</div>
						<div class="bar">
							<div id="flex">
								<div id="flex">
									<p v-text="qi"></p>
									<span>kWh</span>
								</div>
							</div>
							<p>总无功电量示值</p>
						</div>
						<div class="bar">
							<div id="flex">
								<div id="flex">
									<p v-text="Status"></p>
									<span></span>
								</div>
							</div>
							<p>停/上电</p>
						</div>
						<div class="bar">
							<div id="flex">
								<div id="flex">
									<p v-text="xAccelerat"></p>
									<span>m/s</span>
								</div>
							</div>
							<p>X轴震动加速度</p>
						</div>
						<div class="bar">
							<div id="flex">
								<div id="flex">
									<p v-text="yAccelerat"></p>
									<span>m/s</span>
								</div>
							</div>
							<p>Y轴震动加速度</p>
						</div>
						<div class="bar">
							<div id="flex">
								<div id="flex">
									<p v-text="zAccelerat"></p>
									<span>m/s</span>
								</div>
							</div>
							<p>Z轴震动加速度</p>
						</div>
						<div class="bar">
							<div id="flex">
								<div id="flex">
									<p v-text="xFrequen"></p>
									<span>Hz</span>
								</div>
							</div>
							<p>X轴震动主频率</p>
						</div>
						<div class="bar">
							<div id="flex">
								<div id="flex">
									<p v-text="yFrequen"></p>
									<span>Hz</span>
								</div>
							</div>
							<p>Y轴震动主频率</p>
						</div>
						<div class="bar">
							<div id="flex">
								<div id="flex">
									<p v-text="zFrequen"></p>
									<span>Hz</span>
								</div>
							</div>
							<p>Z轴震动主频率</p>
						</div>
						<div class="bar">
							<div id="flex">
								<div id="flex">
									<p v-text="temperature"></p>
									<span>℃</span>
								</div>
							</div>
							<p>温度</p>
						</div>
						<div class="bar">
							<div id="flex">
								<div id="flex">
									<p v-text="radarProport"></p>
									<span>%</span>
								</div>
							</div>
							<p>雷达回波时间比例</p>
						</div>
						<div class="bar">
							<div id="flex">
								<div id="flex">
									<p v-text="radarCount"></p>
									<span>次/分</span>
								</div>
							</div>
							<p>雷达计数</p>
						</div>
						<div class="bar">
							<div id="flex">
								<div id="flex">
									<p v-text="currentSpeed"></p>
									<span>m³/h</span>
								</div>
							</div>
							<p>流速</p>
						</div>
						<div class="bar">
							<div id="flex">
								<div id="flex">
									<p v-text="flow"></p>
									<span>m³</span>
								</div>
							</div>
							<p>流量</p>
						</div>
						<!-- <div class="bar">
							<div id="flex">
								<div id="flex">
									<p>正常</p>
									<span></span>
								</div>
							</div>
							<p>设备状态</p>
						</div> -->
						<div class="bar">
							<div id="flex">
								<div id="flex">
									<p>0</p>
									<span>%</span>
								</div>
							</div>
							<p>电流幅值突变</p>
						</div>
						<div class="bar">
							<div id="flex">
								<div id="flex">
									<p>0</p>
									<span>%</span>
								</div>
							</div>
							<p>电压幅值突变</p>
						</div>
						<div class="bar">
							<div id="flex">
								<div id="flex">
									<p>正常</p>
									<span></span>
								</div>
							</div>
							<p>设备异常破坏</p>
						</div>
					</div>

				</div>
			</div>
		</div>

		<script src="../../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../layuiadmin/plugin/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../layuiadmin/plugin/axios.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../layuiadmin/js/baseUrlConfig.js" type="text/javascript" charset="utf-8"></script>

		<script>
			layui.config({
				base: '../../../layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['index', 'table'], function() {
				var table = layui.table,
					form = layui.form;

				axios({
						method: "get",
						url: BASEURL + "environmental_intelligent_monitoring/tdevicerealtime/info/" + parent.id,
					})
					.then(res => {
						if (res.data.code == 0) {
							app.monitorName = res.data.tDeviceRealtime.monitorName;
							if (res.data.tDeviceRealtime.status == "1") {
								app.status = "运行"
							} else if (res.data.tDeviceRealtime.status == "2") {
								app.status = "停机"
							} else if (res.data.tDeviceRealtime.status == "3") {
								app.status = "失联"
							}
							if (res.data.tDeviceRealtime.status == "1") {
								app.Status = "上电"
							} else if (res.data.tDeviceRealtime.status == "2" || res.data.tDeviceRealtime.status == "3") {
								app.Status = "停电"
							}
							
							app.modifyDate = res.data.tDeviceRealtime.acttime;
							app.enterpriseName = res.data.tDeviceRealtime.enterpriseName;

							res.data.tDeviceRealtime.ia == undefined ? 0 : app.ia = res.data.tDeviceRealtime.ia
							res.data.tDeviceRealtime.ib == undefined ? 0 : app.ib = res.data.tDeviceRealtime.ib
							res.data.tDeviceRealtime.ic == undefined ? 0 : app.ic = res.data.tDeviceRealtime.ic
							res.data.tDeviceRealtime.ua == undefined ? 0 : app.ua = res.data.tDeviceRealtime.ua
							res.data.tDeviceRealtime.ub == undefined ? 0 : app.ub = res.data.tDeviceRealtime.ub
							res.data.tDeviceRealtime.uc == undefined ? 0 : app.uc = res.data.tDeviceRealtime.uc
							res.data.tDeviceRealtime.pi == undefined ? 0 : app.pi = res.data.tDeviceRealtime.pi
							res.data.tDeviceRealtime.p == undefined ? 0 : app.p = res.data.tDeviceRealtime.p
							res.data.tDeviceRealtime.q == undefined ? 0 : app.q = res.data.tDeviceRealtime.q,
							res.data.tDeviceRealtime.the == undefined ? 0 : app.the = res.data.tDeviceRealtime.the,
							res.data.tDeviceRealtime.qi == undefined ? 0 : app.qi = res.data.tDeviceRealtime.qi,
							res.data.tDeviceRealtime.radarCount == undefined ? 0 : app.radarCount = res.data.tDeviceRealtime.radarCount,
							res.data.tDeviceRealtime.status == undefined ? "停电" : app.Status = app.Status,
							res.data.tDeviceRealtime.xAccelerat == undefined ? 0 : app.xAccelerat = res.data.tDeviceRealtime.xAccelerat,
							res.data.tDeviceRealtime.yAccelerat == undefined ? 0 : app.yAccelerat = res.data.tDeviceRealtime.yAccelerat,
							res.data.tDeviceRealtime.zAccelerat == undefined ? 0 : app.zAccelerat = res.data.tDeviceRealtime.zAccelerat,
							
							res.data.tDeviceRealtime.xFrequen == undefined ? 0 : app.xFrequen = res.data.tDeviceRealtime.xFrequen,
							res.data.tDeviceRealtime.yFrequen == undefined ? 0 : app.yFrequen = res.data.tDeviceRealtime.yFrequen,
							res.data.tDeviceRealtime.zFrequen == undefined ? 0 : app.zFrequen = res.data.tDeviceRealtime.zFrequen,
							
							res.data.tDeviceRealtime.radarProport == undefined ? 0 : app.radarProport = res.data.tDeviceRealtime.radarProport,
							
							res.data.tDeviceRealtime.currentSpeed == undefined ? 0 : app.currentSpeed = res.data.tDeviceRealtime.currentSpeed,

							res.data.tDeviceRealtime.flow  ==  undefined ? 0 : app.flow = res.data.tDeviceRealtime.flow,
							res.data.tDeviceRealtime.temperature  ==  undefined ?0:app.temperature = res.data.tDeviceRealtime.temperature
								// res.data.tDeviceRealtime.pc  ==  undefined ?0:app.pc = res.data.tDeviceRealtime.pc
								// res.data.tDeviceRealtime.uab  ==  undefined ?0:app.uab = res.data.tDeviceRealtime.uab
								// res.data.tDeviceRealtime.ubc  ==  undefined ?0:app.ubc = res.data.tDeviceRealtime.ubc
								// res.data.tDeviceRealtime.uca  ==  undefined ?0:app.uca = res.data.tDeviceRealtime.uca


								form.val('editIndustry', {
									"id": list.id,
									"name": list.name,
									"remark": list.remark // "name": "value"
								});
						} else {
							vm.$notify.error({
								title: '错误',
								message: res.data.msg
							});

						}
					})
					.catch(error => {

					});

			});
			var app = new Vue({
				el: "#app",
				data: {
					ia: 0,
					ib: 0,
					ic: 0,
					ua: 0,
					ub: 0,
					uc: 0,
					pi: 0,
					w: 0,
					q: 0,
					the: 0,
					p: 0,
					pa: 0,
					pb: 0,
					pc: 0,
					uab: 0,
					ubc: 0,
					uca: 0,
					qi: 0,
					xAccelerat: 0,
					yAccelerat:0,
					zAccelerat:0,
					xFrequen:0,
					yFrequen:0,
					zFrequen:0,
					flow:0,
					temperature:0,
					radarProport:0,
					currentSpeed:0,
					radarCount:0,
					Status:"",
					modifyDate: '',
					enterpriseName: "",
					monitorName: '',
					status: "",
					isbig: false
				},
				methods: {
					appear: function() {
						app.isbig = !app.isbig
					},
					refresh: function() {
						// location.reload();//会闪动的刷新
						// console.log(1);
						axios({
								method: "get",
								url: BASEURL + "environmental_intelligent_monitoring/tdevicerealtime/info/" + parent.id,
							})
							.then(res => {
								if (res.data.code == 0) {
									app.monitorName = res.data.tDeviceRealtime.monitorName;
									if (res.data.tDeviceRealtime.status == "1") {
										app.status = "运行"
									} else if (res.data.tDeviceRealtime.status == "2") {
										app.status = "停机"
									} else if (res.data.tDeviceRealtime.status == "3") {
										app.status = "失联"
									}
									app.modifyDate = res.data.tDeviceRealtime.acttime;
									app.enterpriseName = res.data.tDeviceRealtime.enterpriseName;

									res.data.tDeviceRealtime.ia == undefined ? 0 : app.ia = res.data.tDeviceRealtime.ia
									res.data.tDeviceRealtime.ib == undefined ? 0 : app.ib = res.data.tDeviceRealtime.ib
									res.data.tDeviceRealtime.ic == undefined ? 0 : app.ic = res.data.tDeviceRealtime.ic
									res.data.tDeviceRealtime.ua == undefined ? 0 : app.ua = res.data.tDeviceRealtime.ua
									res.data.tDeviceRealtime.ub == undefined ? 0 : app.ub = res.data.tDeviceRealtime.ub
									res.data.tDeviceRealtime.uc == undefined ? 0 : app.uc = res.data.tDeviceRealtime.uc
									res.data.tDeviceRealtime.pi == undefined ? 0 : app.pi = res.data.tDeviceRealtime.pi
									res.data.tDeviceRealtime.p == undefined ? 0 : app.p = res.data.tDeviceRealtime.p
									res.data.tDeviceRealtime.q == undefined ? 0 : app.q = res.data.tDeviceRealtime.q,
									res.data.tDeviceRealtime.the == undefined ? 0 : app.the = res.data.tDeviceRealtime.the,
									
									res.data.tDeviceRealtime.qi == undefined ? 0 : app.qi = res.data.tDeviceRealtime.qi,
									res.data.tDeviceRealtime.radarCount == undefined ? 0 : app.radarCount = res.data.tDeviceRealtime.radarCount,
									res.data.tDeviceRealtime.status == undefined ? "停电" : app.Status = app.Status,
									res.data.tDeviceRealtime.xAccelerat == undefined ? 0 : app.xAccelerat = res.data.tDeviceRealtime.xAccelerat,
									res.data.tDeviceRealtime.yAccelerat == undefined ? 0 : app.yAccelerat = res.data.tDeviceRealtime.yAccelerat,
									res.data.tDeviceRealtime.zAccelerat == undefined ? 0 : app.zAccelerat = res.data.tDeviceRealtime.zAccelerat,
									
									res.data.tDeviceRealtime.xFrequen == undefined ? 0 : app.xFrequen = res.data.tDeviceRealtime.xFrequen,
									res.data.tDeviceRealtime.yFrequen == undefined ? 0 : app.yFrequen = res.data.tDeviceRealtime.yFrequen,
									res.data.tDeviceRealtime.zFrequen == undefined ? 0 : app.zFrequen = res.data.tDeviceRealtime.zFrequen,
									
									res.data.tDeviceRealtime.radarProport == undefined ? 0 : app.radarProport = res.data.tDeviceRealtime.radarProport,
									
									res.data.tDeviceRealtime.currentSpeed == undefined ? 0 : app.currentSpeed = res.data.tDeviceRealtime.currentSpeed,
									
									res.data.tDeviceRealtime.flow  ==  undefined ? 0 : app.flow = res.data.tDeviceRealtime.flow,
									res.data.tDeviceRealtime.temperature  ==  undefined ?0:app.temperature = res.data.tDeviceRealtime.temperature



										form.val('editIndustry', {
											"id": list.id,
											"name": list.name,
											"remark": list.remark // "name": "value"
										});
								} else {
									vm.$notify.error({
										title: '错误',
										message: res.data.msg
									});

								}
							})
							.catch(error => {

							});
					}
				}
			})
		</script>
	</body>
</html>
