<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>新增</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="../../css/font.css">
    <link rel="stylesheet" href="../../css/xadmin.css">
    <script type="text/javascript" src="../../libs/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../libs/xadmin/xadmin.js"></script>
    <!-- 引入vue -->
    <script type="text/javascript" src="../../libs/vue/vue.js"></script>
    <script src="../../libs/vue/axios.js"></script>
    <script src="../../js/common.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    
    <![endif]-->
    <style>
        .btn-box{
            text-align: right;
        }
        .btn-box button{
            margin-right: 30px;
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
<div id="vm">
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form">
            		    		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       设施ID</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="tDeviceEquipStatus.meterId" class="layui-input" placeholder="设施ID"/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       </label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="tDeviceEquipStatus.powerLimit" class="layui-input" placeholder=""/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       </label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="tDeviceEquipStatus.standard" class="layui-input" placeholder=""/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       设施状态</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="tDeviceEquipStatus.state" class="layui-input" placeholder="设施状态"/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       修改时间</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="tDeviceEquipStatus.actTime" class="layui-input" placeholder="修改时间"/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       A相电流</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="tDeviceEquipStatus.ia" class="layui-input" placeholder="A相电流"/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       B相电流</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="tDeviceEquipStatus.ib" class="layui-input" placeholder="B相电流"/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       C相电流</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="tDeviceEquipStatus.ic" class="layui-input" placeholder="C相电流"/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       总有功功率</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="tDeviceEquipStatus.p" class="layui-input" placeholder="总有功功率"/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       A相有功功率</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="tDeviceEquipStatus.pa" class="layui-input" placeholder="A相有功功率"/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       B相有功功率</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="tDeviceEquipStatus.pb" class="layui-input" placeholder="B相有功功率"/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       C相有功功率</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="tDeviceEquipStatus.pc" class="layui-input" placeholder="C相有功功率"/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       有功电能</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="tDeviceEquipStatus.pv" class="layui-input" placeholder="有功电能"/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       总无功功率</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="tDeviceEquipStatus.q" class="layui-input" placeholder="总无功功率"/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       A相无功功率</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="tDeviceEquipStatus.qa" class="layui-input" placeholder="A相无功功率"/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       B相无功功率</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="tDeviceEquipStatus.qb" class="layui-input" placeholder="B相无功功率"/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       C相无功功率</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="tDeviceEquipStatus.qc" class="layui-input" placeholder="C相无功功率"/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       </label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="tDeviceEquipStatus.ta" class="layui-input" placeholder=""/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       </label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="tDeviceEquipStatus.tb" class="layui-input" placeholder=""/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       </label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="tDeviceEquipStatus.tc" class="layui-input" placeholder=""/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       总功率因数</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="tDeviceEquipStatus.the" class="layui-input" placeholder="总功率因数"/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       A相电压</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="tDeviceEquipStatus.ua" class="layui-input" placeholder="A相电压"/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       A相线电压</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="tDeviceEquipStatus.uab" class="layui-input" placeholder="A相线电压"/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       B相电压</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="tDeviceEquipStatus.ub" class="layui-input" placeholder="B相电压"/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       B相线电压</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="tDeviceEquipStatus.ubc" class="layui-input" placeholder="B相线电压"/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       C相电压</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="tDeviceEquipStatus.uc" class="layui-input" placeholder="C相电压"/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       C相线电压</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="tDeviceEquipStatus.uca" class="layui-input" placeholder="C相线电压"/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       总有功功率</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="tDeviceEquipStatus.w" class="layui-input" placeholder="总有功功率"/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       </label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="tDeviceEquipStatus.unConnect" class="layui-input" placeholder=""/>
                    </div>
                </div>
            		                </form>
        </div>
    </div>
    <div class="btn-box">
        <button class="layui-btn" @click="addData()">增加</button>
    </div>
</div>
<script src="../../js/tdeviceequipstatus/tdeviceequipstatusAdd.js"></script>
</body>
</html>